[2019-03-19 22:12] mediaDS commented on #77
Okay, I hardcodec SSID, pass and MQTT host so at least I can test it. Here is what I get via Telnet:

autodetect
Started scan of EMS bus for known devices
Boiler found. Model Buderus GB172/Nefit Trendline with TypeID 0x08, Product ID 123, Version 04.05
* Setting Boiler type to Model Buderus GB172/Nefit Trendline, TypeID 0x08, Product ID 123, Version 04.05
[FS] Failed to open config file for writin

[2019-03-19 22:16] proddy commented on #77
the "failed to write" error is odd. I've seen this once before. To be sure could you update everything and wipe the ESP with `platformio update` `platformio lib update` `pio run -t erase` and then re-flash.

The autodetect should discover the SM10. I'll check the code again. I haven't added the MQTT yet - I want to make sure the detection and reading values works first.

[2019-03-19 22:37] mediaDS commented on #77
I don't use platformio and don't even know what it is but I will have a look. I'll report back after a good night sleep.

Have a good night,
Dieter

[2019-03-20 08:28] proddy commented on #77
well then you're uploading it incorrectly. If you're not using platformio or looked at my README best familiarize yourself on how to build using SPIFFS and memory partitioning & sectors.

[2019-03-20 10:22] mediaDS commented on #77
Don't worry, I did read your Readme - and I did every step explained in section "Building Using Arduino IDE". It compiles fine. But I noticed I flashed it witout SPIFFS - my bad, mea culpa :)

Anyway, will this have anything to do with the SM10 not listed with autodetect? What else can I help you with?

[2019-03-20 10:24] proddy commented on #77
do a `log v` and then `autodetect` then I can see if your SM10 is sent a version request

[2019-03-20 11:06] mediaDS commented on #77
Ok, now everything is working as intended. As a side note - on first reboot after setting the wifi data it crashes with:

Exception (28):
epc1=0x402244a8 epc2=0x00000000 epc3=0x00000000 excvaddr=0x00000000 depc=0x00000000

ctx: cont
sp: 3ffffd90 end: 3fffffc0 offset: 01a0
3fffff30:  00000000 3fff25ac 3fff25ac 40221878
3fffff40:  00000000 00000000 3fff25ac 3fff2630
3fffff50:  0000000d 3fff25ac 3fff

[2019-03-20 11:38] proddy commented on #77
I made a typo with the ID (again!). Now fixed in the latest dev branch.

[2019-03-20 11:45] mediaDS commented on #77
No big deal, I could have seen it myself, unfortunately I am busy with 3D design at the moment. I'll check the latest dev in a few and report back to you.

[2019-03-20 11:59] mediaDS commented on #77
Well done! It identifies the SM10 (but no real data). Her is the logs:

Started scan of EMS bus for known devices
Boiler found. Model Buderus GB172/Nefit Trendline with TypeID 0x08, Product ID 123, Version 04.05
* Setting Boiler type to Model Buderus GB172/Nefit Trendline, TypeID 0x08, Product ID 123, Version 04.05
Device found. Model BC25 Base Controller with TypeID 0x09, Product ID 125, Version

[2019-03-20 12:33] mediaDS commented on #77
Ok, here is some more information:

It is sunny outside, no clouds, I expect the temperature to go up from here. Here is what my RC35 displays:

[code]

Here is a rather long log file, maybe you'll find the above data somewhere in it:

[code]

[2019-03-20 12:36] proddy commented on #77
ok, back to the drawing board then!

[2019-03-20 13:05] mediaDS commented on #77
Yep, take your time as I will continue my 3D work now. As I always say: have fun :)

[2019-03-20 13:17] proddy commented on #77
I can get the collector temp and bottom temp but not sure where % modulation and the middle temps are. I need more data. Could you do a few spot checks between settings shown on the RC35 and the contents of a `send 0B B0 97 00 28`?

 I just need the line that looks like:

(00:39:10.886) 0x30 -> me, type 0x97 telegram: 30 0B 97 00 00 00 01 7F 50 01 19 03 00 00 E1 00 00 (CRC=6F), #data=13

[2019-03-20 15:53] mediaDS commented on #77
Okay, I did some spot checks and still looking through it. The RC35 displayed steady values during logging. They are:

[code]
None of the values changed while logging.

Here is the filtered output containing only data packets from the SM10 to all, the boiler or the EMS-ESP. The value that's bothering me is "AD" which then counts down and jumps between "A6" and "A5". I have no idea what that might

[2019-03-20 16:07] proddy commented on #77
thanks - we're getting closer. It would still help to get the % modulation as its always zero and there are so many 0x00s in the telegram :)

[2019-03-20 16:18] mediaDS commented on #77
You're welocme and yes, I agree - too many zero's. However, I will not climp up my roof to imitate the sun with my flashlight :)

At the moment it is very cloudy and dark, looks like it will rain soon. Maybe we will see some better data tomorow - weather forecast says it should be a warm and sunny day. Let's hope for the best.

Thanks so much for all the help.

[2019-03-20 16:34] proddy commented on #77
LOL Ok! I'll commit some changes for the collective and bottom temps and we'll guess the % modulation. We can always fix that later when the sun comes out. That 44C middle temp - I have no idea where that comes from! I guess its not that important. You always do a 'log t' and just see how your RC35 is sending requests to the SM10.

[2019-03-20 16:40] mediaDS commented on #77
Hmm, ok, Byte 7 and 8 are the collector temp (*10) which makes sense - 17.3°C * 10 = 00AD, Byte 9 is the pump modulation in % (00 in our case) followed by 2 bytes with the value of the temp sensor of the warm water (0129 in our case, if divided by 10 you'll get 29,7 - which is the 30°C dsiplayed by the RC25). The next byte contains in bit 1 if the pump is on or off - in our case it is on which is

[2019-03-20 16:47] mediaDS commented on #77
I maybe able to shine some light on this (no pun intended) - there is only one NTC wired to the SM10 which is actiually in the hot water tank.

I assume that's the bottom temperatur reported by the SM10. The sensor of the middle temperatur is not wired to the SM10 but to the boiler directly.. So I assume the RC35 is collecting the date from the SM10 and the boiler and displays it's values.

So, fo

[2019-03-21 14:44] mediaDS commented on #77
Little update on the weather: no sun, no fun.

The solar collector does not generate enough heat for the pump to be activated. Beside that we (my girlfriend and I) did a real good job with the insulation, so the hot water tank won't loose much temperature. That's good for me and my wallet but bad for testing software.

I assume we will not have a real life testing of the SM10 today.

[2019-03-21 15:04] proddy commented on #77
No worries. I’m pretty sure the last change is accurate and if it isn’t
it’s only one line to change. It’s sunny here in NL btw

On Thu, 21 Mar 2019 at 15:44, mediaDS <notifications@github.com> wrote:

[2019-03-21 15:15] mediaDS commented on #77
Then have fun in the sun :)

Anyway, I made a mistake above - the pump seems to be Bit 1, not Bit 0, since Bit 0 is always "1" it might be another status (maybe "pump is present"). Please let me know whenever you have something to test.

[2019-03-21 16:30] proddy commented on #77
I made the changes yesterday so you can test that. I ignored the pump
on/off and just show the % modulation

On Thu, 21 Mar 2019 at 16:15, mediaDS <notifications@github.com> wrote:

[2019-03-21 16:48] mediaDS commented on #77
Well, I'm blind as a bat sometimes. Will check and report back later today.

[2019-03-21 17:57] mediaDS commented on #77
Did you change anything related to WiFi? It cannot connect to my WiFi anymore. I reset all settings and re-entered it again - nothing, just "Cant connect to SSID mediaDS".

[2019-03-21 19:15] proddy commented on #77
no changes to that logic. Platform did release a new version of the platformio libraries and the new arduino core libraries so if you're using that make sure you clean your environment and then upgrade the core and the libs. Then try again. If it still fails then perhaps your SPIFFS has been erased. You'll need to hook it up to a serial monitor and see if its booting in AP mode

[2019-03-21 20:11] mediaDS commented on #77
I found the problem - it was my WiFi router (Fritzbox). The WiFi was unresponsible. I resetted it and everything is working now. Phew.  Sorry to wake you up with my crap :)

I'll begin testing now.

[2019-03-21 20:21] mediaDS commented on #77
I did a quick check - result is similar to yesterday. It detects the SM10 but no data is presented:

[code]
[code]
logs are similar to the ones we know already.

[2019-03-21 21:17] proddy commented on #77
ok, think I fixed that. I missed a call to fetch the values after detection.

[2019-03-21 21:19] mediaDS commented on #77
Alright, I'll check it right now and will let you know.

[2019-03-21 21:24] mediaDS commented on #77
Nope, the same output as before. Detected but only "?" as data.

[2019-03-21 21:43] proddy commented on #77
oh. can you `log v` and do another `autodetect`. look for a send from the SM10, something like `0B B0 97 00 16` and that a response is received.

Also - do you want these values in a single JSON object sent to an MQTT topic? Handy if using Home Assistant or Gafana

[2019-03-21 22:12] mediaDS commented on #77
Done, see the log below. I marked the two lines for your convenience. I am actually not a big fan of gigantic JSON blobs, because I have to write so much Javascript to extract all the data for display (and other stuff) but for now it would be nice to have all SM10 data in a single JSON object.

I have to be careful because of data lenght restrictions. My MQTT broker is already choking on the boile

[2019-03-21 22:24] mediaDS commented on #77
Take your time, please. I am tired and go to sleep now. Have a good night and I'm looking forward to more testing of your software tomorrow.

[2019-03-21 22:50] proddy commented on #77
I found the error and fixed it, I think. I'm getting sloppy. Good point on the MQTT - it's on my list to make the JSON configurable. So what format would you like the SM10 messages in? Same as the thermostat with one topic and 3 key/values?

[2019-03-22 09:11] mediaDS commented on #77
Good morning, I'd like that, just one topic and three objects would be fine. I'll do testing once I finish my first coffee (I'm useless before that).

[2019-03-22 13:20] mediaDS commented on #77
Well done, now I get valid data from the SM10. So, goal achieved from your side. What I don't understand is the differenz between the "bottom" temp and the current WW temp (middle). The NTC for WW sits just above the SM10 NTC but the difference is more than 20°C (bottom 30.5°C vs. middle 56.7°C.). This is really weird.

The current output of "info":

[code]

[2019-03-22 13:22] mediaDS commented on #77
Update: :)

The pump modulation also seems to be valid:

[code]

[2019-03-22 13:28] mediaDS commented on #77
Addition info:

Would be nice to add the pump active/not active to be able to identify a pump failure. And yes, it is bit 1 of byte 11. If the pump modulates, the byte read is 3. If modulation is 0% **and** the pump is activated means the pump is probably "kaputt" and needs to be serviced.

[2019-03-22 16:23] proddy commented on #77
pump active added. Also MQTT

[2019-03-22 19:17] NFis opened #79 "Rounding / Number conversion"
I watched a roundig problems with temperatures:  at certain temperatures there are steps up to the next integer. This behavior started when precision was changed to "2"  with release 1.4.0

Histograms from Homeassistant:

![grafik](https://user-images.githubusercontent.com/48214097/54846011-2ee7c200-4cdb-11e9-8bd0-5b31e86d70d4.png)

![grafik](https://user-images.githubusercontent.com/48214097/5484

[2019-03-22 19:40] mediaDS commented on #77
All working except pump active - it says pump "on" but the data says it is off. My fault - it is not byte 11 but byte 10, bit 1 (bit 0 is always 1). Sorry for the typo.

data telegram:

SM10 -> all, type 0x97 telegram: 30 00 97 00 00 00 00 5B 00 01 32 01 00 01 21 00 00

[2019-03-22 19:43] mediaDS commented on #77
MQTT works fine, very well done! If the pump activation is fixed it is perfect. Thanks a lot for all your work, now it is my turn to make something useful out of all the data. I'll stay in touch with you - if you need anything, just let me know.

Have a nice weekend

Dieter

[2019-03-22 21:13] proddy commented on #79
that's a really good idea. I'll think about removing floats completely. They're costly

[2019-03-23 09:46] #76 closed

[2019-03-23 09:47] proddy commented on #79
I changed this in 1.6.0 (in dev branch) and removed all float pre-processing

[2019-03-23 13:58] mediaDS commented on #77
you nailed it, proddy. Have it running for a few hours. Works fine. Thanks so much!

[2019-03-23 14:50] proddy commented on #77
great, it was fun working together. Thanks for helping out. If you notice anything strange please just re-open this issue and report back.

[2019-03-23 14:50] #77 closed

[2019-03-23 18:17] SpaceTeddy commented on #79
@proddy ,
may you double check the rounding / floating algorithm please, because since dev 1.6.0.b5 I get via telnet "info" and mqtt a wrong "Setpoint room temperature" value. Target is 19.5 but the ESP says 19.1

thx

[2019-03-23 18:20] SpaceTeddy commented on #75
so, I went back each version and I get the doubled messages since Ver. 1.5.6.
Till 1.5.5 everything is fine. I compiled V1.5.6 with esp 1.8.0 and 2.5.0 but there is no influence.
May the new ArduinoJson lib cause this? -> just an idea.

[2019-03-23 18:51] proddy commented on #75
so since 1.5.6 you're seeing double messages? That really helps in narrowing down the root cause.

[2019-03-23 19:04] proddy commented on #79
@SpaceTeddy yup, its a bug. well spotted. The way I calculate a / 2 is just balls. I need to fix that later tonight. thanks for reporting.

[2019-03-24 07:47] SpaceTeddy commented on #75
i verified it and since *V1.5.5* I see the doubled messages.

[2019-03-24 10:56] proddy commented on #79
think its fixed now

[2019-03-24 11:24] mediaDS commented on #77
Sorry, there seems to be something wrong regarding the "Pump activation flag". The Wiki has a mistake:

Byte 7-8 are the temperature
Byte 9 is the pump modulation
Byte 10 and 11 is the bottom temperature of the hot tank
**Byte 12 is the pump active flag, Bit 1 is "1" if the pump is on and "0" if the pump is off**
Byte 13 -15 is the uptime of the SM10

Example of a data packet:

SM10 -> all, type 0

[2019-03-24 11:40] proddy commented on #77
no problem. Changed line #1132 in `ems.cpp` to

`EMS_Other.SM10pump           = _bitRead(7, 1); // active if bit 1 is set (to 1)`

The 7 is the offset in the data package after the header, so position 12 (+5) when comparing to the German ems wiki.

[2019-03-24 11:43] mediaDS commented on #77
Yep, did  that already - I just sat here studying your code :)

All good now, enjoy the rest of your weekend.

[2019-03-24 12:34] SpaceTeddy commented on #79
fixed!

[2019-03-24 14:31] #79 closed

[2019-03-24 14:33] proddy commented on #75
ok, so it worked in 1.5.4 but 1.5.5 shows the double messages. I'll compare the sources in a while.

Did you compile both from source using the latest Arduino core libraries or take the firmware? I'm trying to rule out any external factors like library changes.

[2019-03-24 14:50] SpaceTeddy commented on #75
I compiled all versions new with the latest libs or sdk. There is one exception, because V1.5.4 must be compiled with Arduinojson 5. I also compiled each version with 1.8.0 and 2.5.0 but there was no difference ... I guess :)
I had also some trouble to compile the dev branch with 1.8.0. Basically I can compile, flash and see the data via mitt, but I can not login via telnet.

[2019-03-24 14:59] proddy commented on #75
I saw one small thing which I changed just now in dev - to do with the uart pointer, so worth trying with the latest 1.6. if you still get double try changing

line 27 in emsuart.cpp to static uint8_t length;
line 28 in emsaurt.h to     uint8_t writePtr;

[2019-03-24 15:28] proddy commented on #75
can you test for duplicates with the last dev? I added a line to remove the contents of the last Rx package just in case its overwritting

[2019-03-24 16:50] mediaDS commented on #77
FYI, the ems-esp.ino is missing from the dev branch :)

[2019-03-24 17:30] proddy commented on #77
It’s renamed to .cpp which makes the build slightly faster and debugging work. It should still build fine with platformio

[2019-03-24 17:31] mediaDS commented on #77
Ah, ok. That makes sense.

[2019-03-24 17:35] SpaceTeddy commented on #75
wow, seems to be fixed with latest dev version (2019-03-24:1800).
verbose out put log looks different, but there are no dupes anymore .)

good job, proddy! 👍

[2019-03-24 18:48] proddy commented on #75
phew, glad that worked! Yes I change verbose logging to also show the milliseconds for more accurate timings. I also made a change to remove the strange 0x00 telegrams. If you have time could you do one last check? Then I think I'll push this version 1.6.0 to the master.

[2019-03-25 02:51] lobocobra commented on #65
@proddy
Ha! Just when I had all working against DEV1.6.0b3, I saw that the code evolved to DEV1.6.0b6.
=> Unfortunately there are some major changes between, the 2 versions compared to what I changed and On my small laptop screen, the 3-way merge was an mission impossible and ended +/- ok but  showed wrong temps in the console. I doubt that I can do a merge like this. But I will try tomorrow.

Any

[2019-03-25 05:46] SpaceTeddy commented on #75
... last check done and the 0x00 messages are gone! 👍

[code]

[2019-03-25 06:40] #75 closed

[2019-03-25 09:06] proddy commented on #65
I'll take a look and see about merging some of your updates in the dev branch (which I'm calling 1.7)

[2019-03-25 09:06] proddy commented on #75
phew!

[2019-03-25 16:09] proddy commented on #65
I have some questions on the design

- Sending raw telegrams via MQTT to the ems-esp I think is dangerous. There is no validation or way to handle the responses correctly, which could have unknown effects if done carefully. Although I understand what you're trying to do with the Sonoff POW I just don't see this a valid use case to add to the code for others.

- Handling multiple heating circuits o

[2019-03-25 21:42] lobocobra commented on #65
Hi Proddy

As you saw probably from my code, I am far away from your programming skills. But its fun to learn from your code. My big programming days, were 30 years ago :-), when I thougt that command.com was programmed lousy and I re-programmed it.

**MQTT**
I agree with your statement. The code represents a risk for most and its easier to code the needed logic into the firmware, rather than to d

[2019-03-25 22:04] proddy commented on #65
Ok, you put quite some work into this so let's break it down into chunks and program it together under the dev branch.

- I can see the sense in that only one of the two Heating Circuits will ever be used. So let the user define which one they wish to use (1 or 2) and store this as a setting just like you did. It will default to 1 if using a thermostat that doesn't support multiple heating circuit

[2019-03-26 00:07] lobocobra commented on #65
Sounds great! All 3 points make sense.

I would only propose to add following mqtt commands:
[code]
The enable Openhab (or similar) to change the basic settings of the heating and to run a script at the end of the vacation, to slowely heat up the house.

[2019-03-26 00:07] #65 closed

[2019-03-26 00:13] lobocobra opened #80 "RC35 allow selection between heating circuit 1 & 2"
Referring to closed topic #65

Enable the owner of a RC35 to select between heating circuit 1&2.
Heating circuit 2 is active, if you use a floor heating.

The Circuit needs only to be selectable in the console, whereas it would make sense to add following commands:
[code]

While "thermostat temp" is usefull to adjust the current temperature, above MQTT commands can be used in automatic scripts, to

[2019-03-26 00:18] lobocobra opened #81 "Disable boiler messages in console and MQTT, if no boiler is connected."
Referring to closed topic #65

If you do not have a boiler connected to the heating, it would be nice, if the MQTT messages and the console messages for the boiler are not active.

As proposed by you to unset the Boiler_type (value 0x00) the console and MQTT displaying could be prevented.

[2019-03-26 22:08] kwertie01 commented on #23
Finally I have received my Logic Analyzer and after a couple of days playing around with it, I got it working and I could start tracing the EMS bus at home.
After looking at some traces I found an important difference in my transmits and the examples I have seen how it probably should be.  In the picture below it shows that from the bytes that are transmitted only every other byte is echoed back i

[2019-03-26 23:35] proddy commented on #23
That's great progress @kwertie01 ! What was the value of EMS_TX_BRK_WAIT? I'll run some tests here and see if it makes a difference. I awesome you're using the latest build from master or dev?

[2019-03-27 07:28] kwertie01 commented on #23
The EMS_TX_BRK_WAIT was already defined in your code (emsuart.h)
#define EMS_TX_BRK_WAIT 2070
I left it the same as I thought that I probably need at least a delay of one byte + one start and one stop bit = 10 bits and your value is a delay of 11 bits so that was my first try.
I will do some more readings with the analyzer to identify the correct timing that the boiler and thermostat uses.
I used

[2019-03-27 08:30] higgers commented on #23
Interesting.  I've updated to 1.6.0, added the delay in emsuart_tx_buffer and removed the check for the MSB in _ems_readTelegram but still get no response from the boiler.  However, I do now see corrupt telegrams.  An excerpt from the log:

[code]

I need to get some time to try and get my logic analyser working on my Win10 laptop.  I have an old laptop running Ubuntu that I could possibly try too

[2019-03-27 15:59] darookee commented on #23
I also tried with the added delay, now I get this:

[code]

Yay! Thanks @kwertie01 for doing the work I wanted to do weeks ago... :-D

[2019-03-27 20:17] proddy commented on #23
wow, looks like you nailed the send problem with some of the newer boilers - great!

Could you both try if 1ms (value of 1000) works too?

[2019-03-27 21:15] darookee commented on #23
I just tried with `1000` instead of `EMS_TX_BRK_WAIT` and it did not work. Changing it back to `EMS_TX_BRK_WAIT` made it work again.

[2019-03-27 21:44] proddy commented on #23
thats the magic number then, just enough time for the Tx to get through. Is your Poll code still the same or did you disable the check?

[2019-03-27 22:20] darookee commented on #23
I used a fresh checkout of your current code and just added the delay.
And set the EMSESP_BOILER_TYPE to EMS_ID_DEFAULT_BOILER in my_config.h because it would not autodetect it.
I'm currently using the d1_mini and D7/D8 for the bus connection.

[2019-03-28 07:13] proddy commented on #23
Unfortunately adding the delay to the Tx on my setup (older non-EMS+ boiler) causes the send packages to fail most of the time. Perhaps the trick is to time the ms between each Poll from the bus master and use this as the heartbeat.

[2019-03-29 01:48] lobocobra commented on #80
Finally I could upgrade my code to 6b. :-)

I will do some final testing (remove the mqtt raw) and then I make a PR.

[2019-03-29 07:03] proddy commented on #81
Thinking about this, there must be a controller or something that is the UBA Master. In your case which device is this and what is heating up your floor heating?

[2019-03-29 17:51] lobocobra commented on #81
My floor-heating is connected to heating-circuit 2. I saw it even written in the manual, that floor-heatings are always HC2.
=> What I believe and see in the admin menu of the heating,  is that heating-circuit 1 is prepared for a potential boiler, but not activated.

I will check in UBA master if I can read out something usefull, in order to know if a boiler is actually there or not.

[2019-03-29 17:58] lobocobra commented on #80
Now I realized that the heating SW has a bug....
- EMS_Thermostat.setpoint_roomTemp to  "HK1MonitorMessage 0x48! byte 2" is only updated when the automatic mode swiches to the night. In this case 0x47 and 0x48 byte 2 show the right EMS_Thermostat.setpoint_roomTemp

- When its switching back to day automatically then 0x48 byte 2 is not updated anymore and becomes 0.

10 | 00 | 3E | 7 |   | 1 | 2 |

[2019-03-29 22:42] lobocobra commented on #80
I did create the PR now (but forgot to remove MWTT-raw)
=> for me the code works now quite well (day/night)

I do habe a BUDERUS GB125 heating with an RC35/MC10 with an attached floor heating and no boiler.

[2019-03-30 16:02] JF002 opened #84 "Cannot communicate with boiler : Unknown command. Use ? for help."
Hello,

My intallation is composed of a boiler Junkers Cerapur Smart A and a thermostat Junkers FR100.
The connection between the boiler and the thermostat is made with the BUS connector (Heatronic 3).

I ordered the EMS board from bbqkees, and I try to connect it on the EMS bus. I followed the instructions (pin mapping, pay attention to use 3.3V with ESP8266,...) and flashed my ESP8266 with versi

[2019-03-30 19:44] proddy commented on #84
I'm assuming you're connected up to the wifi (set wifi_ssid, set wifi_password) to get out of the AP mode, and serial is off like you've shown. Also you're using a standard ESP8266 chip like a nodemcuv2 or wemos d1. Do you get the "unknown command" also when in telnet mode?

[2019-03-30 20:06] JF002 commented on #84
@proddy Thanks for your help!
I'm using a Wemos D1 board (v2.3.0).
The board is still in AP mode, I did not connect it to my home wifi.
When the board is running, I connect to its AP, then Telnet to 192.168.4.1.
All the messages from my OP come from the telnet console.

[2019-03-30 20:36] proddy commented on #84
When in AP mode the EMS bus link is disabled.

[2019-03-30 20:51] JF002 commented on #84
That could explain my issue... I somehow missed this information when reading the doc. I'll try again soon by connecting the ESP to my home wifi, then!

[2019-03-31 15:16] JF002 commented on #84
Ok, once EMS-ESP is connected to my home wifi, it receives values, shows them with command `info` and transfert them to my MQTT broker.
Thanks for your help!

[2019-03-31 15:16] #84 closed

[2019-04-01 20:40] JF002 opened #85 "How do you (permanently) install the boards?"
Hello,

I did some test with a wemos ESP8266 and the converter board from bbqkees. It works fine, and the values are published on my MQTT broker, great!

But the setup was not so great. The connection to the bus is made via a wire coming from behind of the thermostat, and both board are dangling below the thermostat.
I want to set the things up more permanently, and I was wondering what your setup

[2019-04-01 21:13] proddy commented on #85
the latest bbqkees boards come with a pre-installed Wemos D1 and in a nicely packed enclosure with the USB exposed for power and two connectors for the EMS bus wires. You should check it out. The idea is that the unit is mounted onto the side of the boiler with double-sided tape.

[2019-04-03 12:21] proddy commented on #80
I'll take a look, thanks

[2019-04-03 12:24] proddy commented on #23
@kwertie01 which version of bbqkees' board are you using? It could be the circuit has slightly changed due to some component swaps and the resistors used to level the bus take longer.

[2019-04-03 19:18] kwertie01 commented on #23
I'm using v0.9 of the 'bbqkees' board and bought it including the Wemos.
![image](https://user-images.githubusercontent.com/48419274/55503777-ab6d8f80-564f-11e9-90af-d13957aaa56d.png)
I haven't focused yet on the level converter board (the electronics) but first on the software in the Wemos because I also did a test using an Arduino Mega with the Create EMSBusSimpleRegisterReadRequest.ino code and

[2019-04-04 17:44] majo551 opened #86 "RC35 Set room temperature value and Current room temp value missing"
**Bug description**
*Set and Actual room temperature from RC35 thermostat is not read. The value provided in telnet using info  is "? "*

**Steps to reproduce**
*sending "info" in telnet *

**Expected behavior**
*real values to be seen for set and room temperature*

**Screenshots**

  Thermostat type: RC35 (ProductID:86 Version:21.08)
  Setpoint room temperature: ? C
  Current room temperature: ?

[2019-04-04 18:41] proddy commented on #86
I assume you're using the 1st heating circuit. Do `set log v` and `thermostat read E3` and see if a telegram comes back.

[2019-04-04 19:24] majo551 commented on #86
Hi
I have 2 circuits physically installed

the test:
thermostat read E3
Requesting type (0xE3) from dest 0x10
(00:16:18.816) Sending read of type 0xE3 to 0x10: telegram: 0B 90 E3 00 20
(CRC=D3), #data=1
(00:16:18.956) Thermostat -> me, type 0xE3 telegram: 10 0B E3 00 (CRC=73)

What is strange that when I set the thermostat to manual mode I receive the
temperature.
When switched back to Auto, the t

[2019-04-04 19:50] proddy commented on #86
the `thermostat read E3` command fetches the temperatures from the RC35. In your case it returns nothing back which is why it shows up as '?'. Can you try two more things

`thermostat read 48` (for HC2)
to see if anything comes back

and the mother of all tests is `log t` and leave it for 1-2 minutes and see what messages are being broadcast by your RC35.

[2019-04-04 19:59] majo551 commented on #86
00:50:47.275) Sending read of type 0x48 to 0x10: telegram: 0B 90 48 00 20
(CRC=4D), #data=1
(00:50:47.474) Thermostat -> me, type 0x48 telegram: 10 0B 48 00 05 03 00
00 DB F0 3C 00 00 00 00 00 00 11 05 00 (CRC=41), #data=16

log t

System Logging set to Thermostat only
(00:51:55.935) Thermostat -> Boiler, type 0x14 telegram: 10 88 14 00 03
(CRC=6E), #data=1
Publishing boiler data via MQTT
Calling

[2019-04-04 20:05] majo551 commented on #86
one more test:
thermostat mode 1
Setting thermostat mode to 1
Write to 0x10 was successful
(00:58:45.393) Thermostat -> me, type 0x3D telegram: 10 0B 3D 00 01 25 2B
25 08 28 00 01 00 05 05 2D 01 01 04 3C 05 3C 01 FF 3C FF 0E 05 05 02 02
(CRC=4A), #data=27
Publishing boiler data via MQTT
Publishing thermostat data via MQTT
(00:58:45.813) Thermostat -> Boiler, type 0x1A telegram: 10 08 1A 00 1B 64
6

[2019-04-05 07:00] proddy commented on #86
sorry, made a typo. It's 3E and not E3. But I can see the values are coming in nicely in the logs you sent.
So right now I'm not sure exactly what the problem is anymore. Are you saying if the thermostat mode is in auto and you do a 'refresh' the temperatures don't get updated? It would help if you make an easy reproducible test so you and I can find out what is not working. And look at the code t

[2019-04-05 09:07] TimoFriedri opened #87 "Home Assistant API (ESPHOME like)"
Hi,

do you have any plans to integrate the native Home Asisstant API. This works very nice as one can see with the ESPHome project and the according integration in HA.
For me the best part, you can skip MQTT, which I personally do not like so much.

Some Info:

https://esphome.io/components/api.html
https://www.home-assistant.io/components/esphome/

Greetings
Timo

[2019-04-05 10:03] majo551 commented on #86
Hi
yes, my observation is that when the mode is Auto, it does not return
temperatures in info
When switching between modes, the temperature is sent in info.

I found one note regarding this similar issue in other issues:
https://github.com/proddy/EMS-ESP/issues/80#issuecomment-478093587

This might be something to do with the RC35 software bug and the solution
might be switching modes ?(:-) before

[2019-04-05 23:57] lobocobra commented on #86
If you have 2 HC, then I would assume that your heating is on the 2nd one.
=> The current firmware does only support HC1 for a RC35

I had the same issues like you and solved them by adapting the firmware (PR pending). Meanwhile you might want to give a try to my changes, which can also be found here....
https://github.com/lobocobra/EMS-ESP-HC2

For me all is now working using my firmware and inte

[2019-04-06 00:06] lobocobra commented on #59
You can check here how I added MQTT commands. Its not hard. Just search for "lobocobra" in the code and you will see what to change where....
https://github.com/lobocobra/EMS-ESP-HC2

[2019-04-06 09:52] #85 closed

[2019-04-06 09:53] proddy commented on #87
that would be a nice addition. Not everyone uses HA hence the generic MQTT support. Would you like to have a go at implementing this yourself?

[2019-04-06 10:12] proddy commented on #86
@lobocobra I've merged your changes into the latest dev. Thanks for the graet work.
@majo551 still not sure why the values aren't coming in. can you try again with the latest dev branch. I don't have an RC35 so cannot check

[2019-04-06 10:14] proddy commented on #80
merged into dev. Can you test if it works?

[2019-04-06 10:16] proddy commented on #62
the latest dev has the basis for supporting EMS+ but probably still doesn't detect your Junkers. If you can provide details of the types/versions and data coming in we can add it. Also support for the Solar Module SM1 has been added.

[2019-04-06 10:16] proddy commented on #61
closing due to no activity. If its still an issue please reopen.

[2019-04-06 10:16] #61 closed

[2019-04-06 10:17] #52 closed

[2019-04-06 10:18] proddy commented on #50
any more info on this @EinStijn74 ?

[2019-04-06 10:19] proddy commented on #46
setting mode was added in 1.6

[2019-04-06 10:19] #46 closed

[2019-04-06 10:21] proddy commented on #44
Glenn's code was merged into the latest dev

[2019-04-06 10:22] proddy commented on #23
in the latest dev i capture the poll time. would be interesting to see if the new UBA masters have a faster acknowledge time.

[2019-04-06 15:21] proddy commented on #59
@egrekov I can quickly add this for you. But not sure if its possible. Looking at https://emswiki.thefischer.net/doku.php?id=wiki:ems:telegramme#wwbetriebsart is the flow temperature the 3rd byte of the data?

[2019-04-06 19:47] ReneHonig commented on #59
@proddy
Paul, I would also love to try to set the flow temperature (and burner power) by MQTT. Is my understanding that that is the function of the 'UBASollwerte' telegram? And what is the difference between 'Leistungsanforderung HK' and 'Leistungsanforderung WW'?

Let me know if i can help testing in any way.

[2019-04-06 20:07] proddy commented on #59
@ReneHonig I really have no idea! It's all been trial and error. One thing to try is using this 1A telegram to set the flow temperature, This can be done with a normal 'send' command.

[2019-04-06 20:54] ReneHonig commented on #59
@proddy , ok, let me try that. In order to be sure I am at least sending the intended telegram, can you give me a hint of what it would look like? Is the 'normal' send command through the telnet interface or is this the code lobocobra just created (@lobocobra , is the new mqtt command documented somewhere?)

Thanks!!

Thanks!!

[2019-04-07 06:57] proddy commented on #59
ok, say it is UBASollwerte then the command to set the temperature to 20 degrees would be

send 0B 08 1A 00 14

the 0B is us, the 08 is the typeID of the boiler, 1A is UBASollwerte, 00 is the offset for the value you want changed and 14 is the value (20 degrees).

I'm not at home so can't test if this works

[2019-04-07 07:37] ReneHonig commented on #59
thanks, I can confirm this works!
I will do a couple more  tests later today, also with setting the burner power.

[2019-04-07 09:18] lobocobra commented on #18
Thanks!  with your latest fix the 3200C warm water temperature problem is solved.

[2019-04-07 09:44] lobocobra commented on #86
@proddy many thanks for merging.

I shortly checked the new code and it works partially....
- publish new mqtt messages => woks!  displayed values are correct
- change temp by mqtt           => does not work
- thermostat temp                   => works! on console
- thermostat mode                  => works! on console
- thermostat stats                    => does not work (don't show any values)

[2019-04-07 10:02] proddy commented on #59
Ok, I've added to the latest dev. `set flowtemp <n>`

[2019-04-07 10:28] proddy commented on #86
thanks for testing.

 **change temp by mqtt => does not work**  -  I confirm it works for me on a RC20. What do you see in the lof?

 **thermostat stats** - this also works for me and I don't see why it shouldn't for an RC35. What do you get printed exactly?

 **thermostat mqtt reg. mess** - so you want to always publish thermostat temperature values even if the values haven't changed? The logic n

[2019-04-07 13:19] lobocobra commented on #86
:-) While I still am searching for the reasons, let me meanwhile answer your questions....

- change temp by mqtt => function CMD_daytemp,nighttemp,holidaytemp look like they were not subscribed.
- thermostat stats show a "?" and no values. The reason here is, that only 1 of the 2 values have in my setup a value as I have no "current room temparature" sensor.
- thermostat mqtt reg. mess
   => I fu

[2019-04-07 14:59] mediaDS opened #91 "Wishlist: measure cost of gas etc."
Hi proddy,

one topic of your wishlist is:

Do you already have ideas on how to do this? I'm planning on programming something in this direction - we already have:

- gas burner on/off
- gas power while the burner is on
- cost of gas
- we also have the time the gas burner is on
- heating or warm water on/off
- solar power activated

We also have the specification of the gas type in terms of effici

[2019-04-07 15:16] lobocobra commented on #86
I finally found the problem and will make a new PR. :-)
=> I subscribed the new commands in MQTT
=> found what code sniplets were needed to have the thermostat stats working
      (if you have a floor - heating guided by external temp (standard setup) then you do not have the temp sensor activated
=> By increasing the periodicity of the thermostat message over MQTT, openhab works again after a res

[2019-04-07 17:42] lobocobra commented on #80
Many thanks for the merge. I learned alot, the way you changed the code.
=> I fixed the discussed issues and now its working 100%.

[2019-04-07 17:43] proddy commented on #91
yes! This has been on my list for a while. Current thinking is:

- First get the maximum usage for the boiler. For example, my Nefit Trendline HRC30/CW5 is rated at 30kW max power and water class 5 (HoogRendementsCombiketel). So at full 100% burn for heating it's 30KWh of energy each hour and tap water is 114%. There are only a few classes of boilers which are typically between CW3 and CW6 and eac

[2019-04-07 18:54] lobocobra commented on #80
With the lates adjustment by @proddy, all is working now for me. :-)
=> If you have a similar setup, please test the lates DEV code and report to me the issues. I will try to fix them.

[2019-04-07 18:54] #80 closed

[2019-04-07 19:28] lobocobra commented on #91
I did the same thing based on a SONOFF POW2 and made some experiences.
"unfortunately it works so accurate, that I would be ready to support, but not be the main developer.

Below variables might help you thinking it through. Of course you have no tank using gaz. but the temp of incoming gaz, changes for sure how much you use.

**On the output side, what I would recommend...**
- usage per/h today

[2019-04-07 19:29] mediaDS commented on #91
Hmm, okay. It's a bit different here but I will try to gather all the neccessary informations about the different gas types. Let's see if I can put this together to a working calculation - but the user must provide some information for the calculations.

The ESP should provide the amount of gas used over a time period and then send it to f.i. ioBroker, where the real calculations take place - I us

[2019-04-07 19:31] lobocobra commented on #86
@majo551
Can you test the latest DEV code made by proddy and tell us, what is working/not-working?

As you have a similar setup to me, I believe that almost everything should workd

[2019-04-07 20:07] lobocobra commented on #91
The gaz types and similar, should be variables kept in the ESP. To have a KISS system (keep it simple and stupid), you do not want to have the logic spread over different systems.

What I learned is that over time the calculation becomes more accurate. But they change whenever your heating was checked by a specialist.
=> Means you need to calculate the used m3 or l/oil every time from a value that

[2019-04-07 20:08] Bonusbartus commented on #91
Instead of the Energy per hour, I was thinking though it mught me easier to just store/ the amount of gas per hour instead of using calculation factors. I checked the manual for the topline compact hrc 25 and 30, and they specify the max amount of gas per hour for heating (100% burn) and for tapwater (114% burn) and there seems to be a linear relation. So when buring at 50% for an hour it should b

[2019-04-07 20:12] lobocobra commented on #91
If you save values in the SPIFF then we need to add SPIFF rotation into the code.
=> If not it will wear out pretty fast.
Not a complicated thing, but a necessity... in the code of ARENDST it can be seen, how this can be done.

[2019-04-07 20:29] ReneHonig commented on #59
I have done a bit more investigation. The boiler regularly received 0x1a updates from the thermostat (in my case Evohome+OT converter). The 1A telegram in my case sets the flow temperature and the next byte ('Leistungsanforderung HK') which I have only seen at 100 (the EMS wiki says: 0 or 100).

Here is an example from the log:

`Thermostat -> Boiler, type 0x1A telegram: 18 08 1A 00 1F 64 (CRC=21)

[2019-04-08 11:12] EinStijn74 commented on #50
Hi Proddy,

To be honest I don't know how to troubleshoot this issue.

If there is any manual on how to sent and receive messages over the EMS
bus and how to calculate them, could you sent me this link?

I am cannot read C+ code, so your code is not very helpful for me. ;-)

It does work great!

Best,

Stijn

Proddy schreef op 2019-04-06 12:18:

Links:
------
[1] https://github.com/EinStijn74
[2]

[2019-04-08 11:43] proddy commented on #50
I've added support a few weeks back for a Solar Module. See [issue 77](https://github.com/proddy/EMS-ESP/issues/77). I think it may be compatible with your Nefit device. Have you tried this?

[2019-04-08 15:15] EinStijn74 commented on #50
Hi,

I have another brand Solar Module, only using the temperature sensor
module from Nefit:

https://www.cvtotaal.nl/nefit-ombouwset-naverwarmen-zonneboiler-proline-trendline.html?gclid=EAIaIQobChMI04f_keTA4QIV0ud3Ch3LrwIjEAQYASABEgKgkvD_BwE

I will upgrade my current of your software this week, to see if it makes
any difference.

Regards,

Stijn

Proddy schreef op 2019-04-08 13:43:

Links:
-----

[2019-04-08 15:28] proddy commented on #50
the new firmware is for an external module so it's probably different to the external sensor you have for your Nefit. You might be lucky and the values are captured in the UBAMonitorSlow/0x19 telegram like the external outside temp. Otherwise it'll be trial and error and a bit of googling to find where the value is stored. If you see this on the boiler or in a thermostat you can trace to the sourc

[2019-04-08 17:16] proddy commented on #59
the mistake is the code then. I assumed, like all temperatures it was multiplied by 2. So if 1F really does set the flow temp to 31 degrees then there is no division needed in the calculation. It also means half-steps are not supported. I'll modify the code and leave the old logic in. See ems.cpp line 1267

[2019-04-08 17:20] proddy commented on #91
@lobocobra luckily the code to store values in permanent EEPROM and rotate the sectors is already in the code (see myESP.cpp). I use this to store stack dumps when testing crashes.

[2019-04-08 17:54] ReneHonig commented on #59
Thanks. My source for the flow temperature is the telnet info, which is obviously the same code...

I guess I can only conclude then that there is an inconsistency between the number on the info screen and the log.

I will check whether I can look up the action number on the boiler display.

[2019-04-09 10:50] mediaDS commented on #91
To have accurate measurements the ESP8266 needs to have an accurate date/time, maybe via ntp. I looked at the behauviour of my boiler:

It usually starts ignition, the gas power goes to 46%, then down to 28% after 13 seconds and down to 23% after 10 seconds. Then up to 27% after 4 seconds. Then down to 23% again after 20 seconds. Then the selected temperature is reached and the gas burner is switc

[2019-04-11 16:53] gl3nni3 opened #93 "Version 1.7 stable"
Hey Proddy,
Do you have any idea when version 1.7 is stable?

[2019-04-11 16:53] gl3nni3 commented on #93
@proddy

[2019-04-13 11:17] henderikus commented on #61
Ok, I will check the code.

It is in manual mode. When switching the mode on the thermostat from manual to auto to manual it is not overruled anymore and I can use it again.

Hereby a photo of the print of my thermostat.
![thermostat](https://user-images.githubusercontent.com/19798106/56078984-70592200-5dee-11e9-89ab-b56eb0e34c6b.jpg)

[2019-04-13 22:06] proddy commented on #93
I haven't touched it for a while. If no one reports any issues I'll push it to master. Does 1.7 beta work with your changes?

[2019-04-14 10:22] majo551 commented on #86
Hi
I installed the  EMS-ESP version 1.7.0b4
Info provided the temperatures now:
Thermostat stats:
  Thermostat type: RC35 (ProductID:86 Version:21.08)
  Setpoint room temperature: 21.5 C
  Current room temperature: 22.9 C
  Thermostat time is 11:49:26 14/4/2019
  Mode is set to auto

I have to say though that I had to switch my boiler to the factory reset
few days ago . So it might work also due t

[2019-04-14 11:19] proddy commented on #23
implemented `set tx_delay` to turn on/off the delay in the Tx transmission so firmware works for everyone. It's in the 1.7.0 dev branch. If someone can verify it works then I'll push to Master, thanks

[2019-04-14 11:28] proddy commented on #86
the 33 vs 35 in that website is just a typo I think. So would it be useful to add this feature to this project too, like activate/deactivate the DHW once? I don't have an RC35 so never considered adding it. If so please create a new enhancement request.

Can we close this issue if you have the temp values coming in correctly now?

[2019-04-14 11:37] majo551 commented on #86
yes, we can close the issue with the temp not showing

ne 14. 4. 2019 o 13:28 Proddy <notifications@github.com> napísal(a):

[2019-04-14 11:41] majo551 opened #94 "add DHW once activate functionality for RC35"
**Is your feature request related to a problem? Please describe.**
add command/function to activate  DHW once  for RC35

**Describe the solution you'd like**
be able to send Telnet / MQTT request to activate and monitor the status of the  **DHW once**  for RC35

[2019-04-14 12:20] lobocobra commented on #93
I can confirm that it works at least solid for me :)

[2019-04-14 12:23] lobocobra commented on #81
@proddy
I am stuck in the code :(. I need to extract data beyond the 27 bytes, which are read with `thermostat read 47`
=> I  tried to extend the variable in  ems.h as follows: `#define EMS_MAX_TELEGRAM_LENGTH 48`

Following the code I see no reason why it would not show in the telegram more than 27bytes.
=> Has this to do with the EMS BUS itself?

[2019-04-14 13:07] proddy commented on #81
I limit it to 32 bytes as this was the max for my EMS bus. You can experiment by receiving more data by changing first in
  Line 25 in `ems.h`. The `EMS_MAX_TELEGRAM_LENGTH`

if that doesn't work then we'll need to adjust the UART driver, so line 113 in `emsuart.cpp` change the 31 to something larger (EMS_MAX_TELEGRAM_LENGTH - 1 typically).

[2019-04-14 13:47] lobocobra commented on #81
Hi @proddy

Many thanks for your fast response.

The 2nd hint was exactly what I was looking for, but it seems that my bus is also limited at 32 bytes.
=> I changed both lines of codes but it did not help, but I left the changes as the `EMS_MAX_TELEGRAM_LENGTH - 1 ` makes sense anyway :-)

So in conclusion I do either need to adapt`void _process_RC35Set(uint8_t src, uint8_t * data, uint8_t length)

[2019-04-14 13:50] proddy commented on #81
yes the best way is to read it in two 32 byte chunks, by setting the offset of the first to 0 and the 2nd to 31 for example

[2019-04-14 22:39] rknall opened #95 "Getting water tap flow & solar module"
So, I cannot read out information about the current water flow and for that shower detection is not working obviously. Also, I have an additional - not picked up -  device on the EMS bus, which I would like to get working, if I could find any telegram information about it.

So autodetect shows me the following:

RFM20 I assume is the solar receiver, but no information get's picked up for it.

Info

[2019-04-15 06:22] darookee commented on #23
I tried to flash the dev branch but it seemed that flashing was not successfull. I could connect via telnet but did not receive any information; commands were sent but did not receive an answer. After checking out master and flashing again it is working again. I'll try again later today, though...

[2019-04-15 09:29] proddy commented on #23
great! thanks @darookee for checking

[2019-04-15 09:37] proddy commented on #95
if you look at the code, line 1081 in ems.cpp you'll see the flow is picked up from the 9th byte of the 0x34 telegram. In the log you posted above it's always zero. Why I have no idea.

As for supporting the RFM20, I you have details of the messages we can add it. Otherwise, you'll have to do a lot of trial and error to reverse engineer any responses back from send commands. It's basically what I

[2019-04-15 10:28] rknall commented on #95
Yeah, I figured as much, just wanted to make sure that I did not overlook anything

I'll gladly will do the work, just have no idea where to start. If you have anything already, I would greatly appreciate it. To be quite honest, currently I am not really sure, what device that actually is? I am guessing the temperature sensor from the solar panels, but not quite sure yet (have bought the house inc

[2019-04-15 11:14] proddy commented on #95
The RFM20 I think is just a wireless receiver that connects the EMS master (like a boiler) to a wireless thermostat without the need to have the two-wire EMS bus connected.

The autodetect basically scans through all *known* devices in `ems_devices.h`. If an EMS device is attached but not listed in this file (because we don't know the device ID or product ID) then it will not show up during the sc

[2019-04-15 17:29] proddy commented on #95
I added the function `autodetect deep`. can you try that ?

[2019-04-15 19:45] S-Przybylski opened #96 "Add SM100 EMS-Plus device"
**Is your feature request related to a problem? Please describe.**
*I want to investigate the EMS and EMS-Plus messages for my solar module SM100 device in future.*

**Describe the solution you'd like**
*Can you please update the device table for my SM100?
...
0x30 -> 0x09, type 0x02 telegram: 30 09 02 00 A3 15 04 (CRC=25), #data=3
<--- Version(0x02) received
Unrecognized device found. TypeID 0x02

[2019-04-15 20:23] rknall commented on #95
Yes I can, which branch or PR is it contained in? If you can send me a precompiled version, I am using the Wemos D1 together with bbqkees translation board

[2019-04-15 21:23] higgers commented on #93
Seems to be working for me too (apart from the usual problem I have with my boiler not responding to requests but that's a known issue with my boiler.)

[2019-04-15 22:07] proddy commented on #95
it's in the dev branch. Instructions on how to build are in the README

[2019-04-15 22:15] proddy commented on #96
could you try the latest dev build (under dev branch) and do a `autodetect deep` to see if your SM is correctly detected and configured?

[2019-04-15 22:58] lobocobra commented on #81
I have now a fully working version of the code and added following variables (they can be changed by MQTT):
- ausschalthysterese
- einschalthysterese
- antipendelzeit
- kesselpumennachlauf
- maxvorlauf
- auslegungstemp"
- roomoffset
- minoutsidetemp
- housetype
- tempaveragebool

While all is working for a RC35, I must admitt. that had to hack the code and proddy will not be able  to accept it, th

[2019-04-16 05:16] rknall commented on #95
I can confirm, that the deep scan is working:

Boiler found. Model Nefit Topline Compact (TypeID:0x08 ProductID:115 Version:03.06)
Device found. Model RFM20 Receiver with TypeID 0x09, ProductID 68, Version 02.03
Finished the deep EMS device scan.

 Nefit Topline Compact (TypeID:0x08 ProductID:115 Version:03.06)
 RC35 (TypeID:0x08 ProductID:86 Version:01.15)
 RFM20 Receiver (TypeID:0x09 ProductID:6

[2019-04-16 05:16] #95 closed

[2019-04-16 05:26] SpaceTeddy commented on #93
for me it workes also fine!

[2019-04-16 06:22] S-Przybylski commented on #96
* Connected to: EMS-ESP version 1.7.0b5
* autodetect deep
Started scan on EMS bus for known devices
Boiler found. Model Buderus GB172/Nefit Trendline (TypeID:0x08 ProductID:123 Version:04.09)
Device found. Model BC25 Base Controller with TypeID 0x09, ProductID 125, Version 01.06
Unrecognized device found. TypeID 0x02, ProductID 163, Version 21.04
Unrecognized device found. TypeID 0x02, ProductID 1

[2019-04-16 07:01] proddy commented on #96
Can you pull and try again? It didn’t look like a deep scan was performed

On Tue, 16 Apr 2019 at 08:22, S-Przybylski <notifications@github.com> wrote:

[2019-04-16 07:59] S-Przybylski commented on #96
* Connected to: EMS-ESP version 1.7.0b6
* autodetect deep
System Logging set to None
Starting a deep EMS device scan. This will take about 1 minute. Please wait...
Device found. Model BC25 Base Controller with TypeID 0x09, ProductID 125, Version 01.06
Device found. Model BC25 Base Controller with TypeID 0x09, ProductID 125, Version 01.06
Finished the deep EMS device scan.

These 4 EMS devices were

[2019-04-16 09:38] proddy commented on #96
I see your SM100 is based on the EMS+ protocol so not compatible with the
existing SM10 logic. I’ll add it to the wish list for version 1.8

On Tue, 16 Apr 2019 at 09:59, S-Przybylski <notifications@github.com> wrote:

[2019-04-16 11:50] kwertie01 commented on #23
Sorry for the late reaction but I was outside the country for a while.
I flashed the dev version 1.7.0b5 into the Wemos and tested it last night.  With the `set tx_delay` to `on` I see that transmitting is working.
Still I see some `Corrupt telegrams` and `Write command failed from host` randomly in the logging. I will look into this but I don't think this should hold back the release of 1.7.0 fro

[2019-04-16 11:56] kwertie01 commented on #93
The `set tx_delay` feature is working fine :-)

[2019-04-16 16:16] proddy commented on #93
thanks for testing guys. One more change for the Solar Module then I'll push it to Master

[2019-04-16 18:50] proddy commented on #23
thanks @kwertie01 . I noticed the poll jumps between 3 and 20 too on my system. I'll think about how best to approach that.

[2019-04-16 20:06] sadrov opened #98 "could Junkers FR10 get implemented?"
Hi Proddy,
awesome work, thanks a lot!
I have a question, my boiler is a junkers cerapur comfort TOP 30-3 but is automatically recognized as a Bosch condens 2500. Not a big problem in the end because i can read the values and they seem to be correct. That's great!
My thermostat is not automatically recognized however. It's a junkers FR10. Could you implement it in the list please, when you find th

[2019-04-16 20:14] proddy commented on #98
could you build the latest build from the dev branch and do an `autodetect deep` which should return back the details of your thermostat. Then we can add it.

[2019-04-16 20:39] sadrov commented on #98
Many thanks already for the quick reply!
I realise this question is superrookie, but what's the easiest way to do this?
Is it a matter of connecting the wemos to a computer and build the latest build through something like the arduino IDE?

[2019-04-16 21:13] proddy commented on #98
https://github.com/proddy/EMS-ESP/blob/master/README.md#building-the-firmware

[2019-04-16 21:40] sadrov commented on #98
Yeah I found it, that's why I deleted the question :) I'm trying to figure this out. It's all new to me.
the dev branch doesn't seem to have a platformio.ini file by default so I renamed the platformio.ini-example. I bought the bbqkees board including the wemos D1 mini so I'm not changing anything in the file itself. You'll hear it when I succeeded to simple step :)

[2019-04-16 22:54] sadrov commented on #98
this is what I got:

autodetect deep
System Logging set to None
Starting a deep EMS device scan. This will take about 1 minute. Please wait...
Boiler found. Model Bosch Condens 2500 (TypeID:0x08 ProductID:95 Version:18.13)
Finished the deep EMS device scan.

These 1 EMS devices were detected:
 Bosch Condens 2500 (TypeID:0x08 ProductID:95 Version:18.13)

If any are marked as 'unknown', please repor

[2019-04-17 05:55] proddy commented on #98
strange that it didn't find the thermostat. Can you do a `log v` and then `send 0B 90 02 00 20` which will request the version data from the thermostat which I think is type ID 0x10.

You could also manually set it using `set thermostat_type 10`

[2019-04-17 18:03] jteeuw opened #99 "nefit proline hrc 24 cw4"
Hi , i'am using the bbq Kees board but my nefit proline hrc 24 cw4 is not recognized :

Started scan of EMS bus for known devices
Unrecognized device found. TypeID 0x08, ProductID 122, Version 03.09
Device found. Model BC10 Base Controller with TypeID 0x09, ProductID 114, Version 01.06
* Setting Thermostat type to Model RC20/Nefit Moduline 300, TypeID 0x17, ProductID 77, Version 02.20

is there a

[2019-04-17 18:35] sysrun opened #100 "RC35 Temperatures show ?"
I already read the other issues.

Just installed the current dev branch - Temperatures show ?

Switched to manual mode and send "thermostat read 3E"

Reply was:
Thermostat -> me, type 0x3E telegram: 10 0B 3E 00 80 02 2E 7D 00 00 00 00 00 00 00 00 64 11 2C 00 (CRC=58), #data=16

Setpoint Temp for HK1 is 0x2E = so 46/2 = 23 Degree - so the received telegram is correct.

But "info" shows "Setpoint ro

[2019-04-17 20:05] proddy commented on #99
yes, I've added it version 1,7 which is in the dev branch. Do you know how to build and upload the firmware yourself?

[2019-04-17 20:52] proddy commented on #44
@daanv22 and @gl3nni3  I made some changes in the latest dev 1.7 to handle EMS+ messages more generically. From all your tests I see the type ID is 01A5 for broadcasting the thermostat values. I'm just not sure which byte corresponds to what as I don't have your type thermostats here. The code is around line 1167 in ems.cpp.

[2019-04-17 21:38] proddy commented on #100
fixed in dev. If either the setpoint or current room temps were 0 or unavailable then both would show a "?". Now in your case it would display the setpoint temp correctly but the current temp would be empty. not sure if this is the desired result?

[2019-04-18 06:34] sysrun commented on #100
The "current temp" is stated as "7D 00" in my case - so no sensor value, which is correct

Just updated to newest dev - works like expected now :)

  Setpoint room temperature: 23.0 C
  Current room temperature: ? C

[2019-04-18 06:41] jteeuw commented on #99
That is good news!
I'am not familiar with the built and upload procedure.

[2019-04-18 08:29] proddy commented on #99
Have a look at the README which explains how to do this.

[2019-04-18 08:30] #100 closed

[2019-04-18 08:32] proddy commented on #23
closing this issue

[2019-04-18 08:36] proddy commented on #96
@S-Przybylski we can start to implement this but I need you to decode the messages. Look at the telegrams your getting

[code]

The types sent from the Solar module are x0262, x0263 and x0264

See if you can correlate the temperature settings you see on your boiler/thermostat/mobile app to any of these values.

[2019-04-18 08:38] proddy commented on #94
can you
- add the raw commands that will do this (for on and off)
- describe the function name you'd like to see in the telnet
- describe the topic and payload options you'd like to see in the MQTT

[2019-04-18 08:39] proddy commented on #59
can we close this?

[2019-04-18 08:43] scheric opened #101 "nefit trendline data not right"
## problem
the data i receive from the EMS bus is not right.
- Boiler temperature `(sometimes it is right picture below)`
- Pump modulation
- Central heating
- all thermostat information

### my setup

`nefit trendline` <====> `EMS-OT converter` <===> `Toon`
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2019-04-18 08:47] ReneHonig commented on #59
apologies for not reverting sooner. I can confirm there is no need to divide the temperature by 2 (by looking at the boiler display).

I have not heart back from @lobocobra on how to use the MQTT implementation, but agree we can close the issue. Thanks again for all the help.

[2019-04-18 09:00] proddy commented on #101
The "EMS-OT converter" is not properly implemented. See if you can locate what is happening from the telegrams you're getting and the code that is deciphering. In the meantime, I'll probably remove support for the OT converter

[2019-04-18 09:00] #101 closed

[2019-04-18 09:00] proddy commented on #59
great. thanks,

[2019-04-18 09:16] scheric commented on #101
Okay thanks for the info.
But that does not explain why

- Boiler temperature (sometimes it is right picture below)
- Pump modulation
- Central heating

are not working properly.

[2019-04-18 10:58] majo551 commented on #94
if the condition for DHW is met (temp below 5 (normal operation) or 10
degrees (eco operation)  from desired temp (depending on mode),
the ON command sent by RC35 to my boiler :
Thermostat -> Boiler, type 0x35 telegram: 10 08 35 00 23 33 (CRC=76),
#data=2
folowed by Thermostat -> Boiler, type 0x35 telegram: 10 08 35 00 01 11
(CRC=10), #data=2

so the raw command  is  *0B 08 35 00 23 33*  (tested,

[2019-04-18 11:48] stbuerger opened #102 "MQTT / JSON Format"
Hi Proddy and thx a lot for your code.
I've just installed it with the complete kit from bbqkees on a 10y Buderus Logamax Plus GB162-25.
The code worked right on and provides data through the telnet interface and via MQTT.
Just when I look at the MQTT JSON for topic "boiler_data" I have a question of understanding the intended format. To me it looks like all items - except ServiceCodeNumber - are

[2019-04-18 13:16] proddy commented on #102
Wow, I never considered that. You're absolutely right that these values should not be sent as strings in the JSON payload. I'll make the change and push to the version 1.7.0 in under the dev branch. Thanks for pointing this out.

[2019-04-18 15:12] rknall commented on #87
I would rather prefer a more generic approach, like Homie for instance: https://homieiot.github.io/implementations/

[2019-04-18 15:24] proddy commented on #87
I did have a version of EMS-ESP based on Espurna (https://github.com/xoseperez/espurna/wiki) a few releases ago but dropped it and went solo after I found it easier and more lightweight. It is possible to port to homie/tasmota/esphome though if someone wants to try. But it'll take a lot of time keeping up the support. One of the tricky things is the way I re-write the serial UART libraries so all

[2019-04-18 15:31] rknall commented on #87
Homie is not a distro, but rather a topic/message specification for how to arrange the data. So, although Homie-ESP exists, it could also be done in EMS-ESP. I am currently trying to get the right message definitions for my thermostat, and as soon as I have a PR, I'll send it through. So far it seems to work great, and is very neat to use.

[2019-04-18 19:37] proddy commented on #102
fixed in 1.7

[2019-04-18 21:31] #81 closed

[2019-04-18 21:32] lobocobra commented on #81
closed as it is solved for me and it seems not to be an issue for the community

[2019-04-19 06:55] stbuerger commented on #102
Thx - that's fast and I fear I cannot keep up. OR - I find out how to update OTA from a couple of 100km away ;-)

[2019-04-19 06:55] #102 closed

[2019-04-19 15:12] proddy commented on #37
I added the basics for recognizing the RC300/RC310 and generally supporting all EMS+ types but need your help in testing and refining. Use the 1.7 build from the dev branch, thanks,

[2019-04-19 15:15] proddy commented on #96
I added support for type x0262 but need your help to decypher the data. We'll be looking for two temperatures and single byte modulation %

[2019-04-19 23:24] sadrov commented on #98
finally found a bit of time to test this out. So with autodetect deep, only the boiler is detected.

I manually set the thermostat type to 10 and then whenever i turn the thermostat knob or push the mode button the log reflects it:
in green:
(00:12:13.468) Thermostat -> all, type 0x6F telegram: 90 00 FF 00 00 6F 01 01 00 3C 00 B9 (CRC=F8)
(00:12:13.786) Thermostat -> all, type 0x6F telegram: 90 00

[2019-04-20 05:33] proddy commented on #98
We should be able to figure this out. Did you pull the latest build from yesterday? I’ve been making changes to how EMS+ is handled

[2019-04-20 07:33] sadrov commented on #98
I think so, this was on EMS-ESP version 1.7.0b8
thermostat read doens't give any response
I also tried this with following response:
thermostat temp 22
Write not supported for this model Thermostat

[2019-04-22 11:12] S-Przybylski commented on #96
Hi @proddy, i will check this out

[2019-04-22 12:24] S-Przybylski commented on #96
My first try:
30	0	FF	0	2	62	1	FB	1	9E	80	0	80	0	80	0	80	0	80	0	80	0	80	0	80	0	80	0	80	0	2B
-->  Solar Kollektor ist 50,7 gradC  --> 1FB --> Databyte 1+2
-->  Wasserspeicher unten ist 41,4 gradC --> 19E -->Databyte 3+4
30	0	FF	0	2	64	0	0	0	4	0	0	FF	0	0	1E	0C	20	64	0	0	0	0	E9
--> my collector area (Fläche) is 4 m2 --> possible Databyte 4 ?
--> current solar pump modulation ratio is 30% --> hex 1E -

[2019-04-22 13:45] proddy commented on #96
Nice work. It’ll be easy to add this in code. Shall I do this or do you want to try?

I expect the max/min temps will be in a separate telegram type as it seems this x0262 is the SM100 monitor.

Also which if these data values do you think are important to report out via mqtt?

[2019-04-23 12:36] gl3nni3 commented on #44
At the moment because of moving we don't have access to the thermostats at the moment. I will get back to you about this.

[2019-04-23 15:11] S-Przybylski commented on #96
Please do it for me, then i will learn on this example how to integrate new functions (Can you please provide the changes to me?)
First of all i am interrested in Temperatures and the Solarpump. Perhaps the daily sum of provided engery in KWH. The rest is nice to know, but not critical for me...

[2019-04-24 11:47] jteeuw commented on #99
Can confirm that the boiler is detected  with de dev version, thank you for this project !

[2019-04-25 14:55] proddy commented on #96
ok. So those two telegrams 0x262 and 0x264. Can you tell me if they are broadcast telegrams, i.e. sent out automatically every 10-60 seconds?

[2019-04-25 18:24] sadrov commented on #59
Hi ReneHonig, did you manage in any way to change the burner power with telnet or mqqt, if so, I'd like to know how you pulled it off :)

[2019-04-25 19:13] sadrov commented on #98
Hi @proddy
do you have any more ideas on how to proceed?

[2019-04-25 20:15] ReneHonig commented on #59
I have been able to set the flow temperature writing a raw telegram as per Paul instructions earlier in this conversation. Have not yet managed to use MQTT as I am not sure how sending raw telegrams using MQTT has been implemented.

I have not tried to change the burner power - are you sure that that is even possible? It might be set by the boiler internally only.

[2019-04-25 20:22] proddy commented on #98
It’s strange that the thermostat doesn’t respond to a version check with ‘send 0B 90 02 00 20’.  That’s the first thing we need to solve. We could decipher the thermostat calls from the ems+ type 6F. Could you look at the temperature and at the same time record what is broadcast on the 6F and we’ll see if we can work out where the values are stored.

[2019-04-25 20:45] proddy commented on #59
You can change the flow temperature via telnet using the `boiler flowtemp` command. I can also add this to MQTT if needed. As for the burner power we'll need to work out how to change this.

[2019-04-25 21:06] S-Przybylski commented on #96
Investigation today 22:25 CET time (no sun active):

1. 0x262, 0x263, 0x264, 0x266, 0x268 and 0x26a is send every 60 seconds, but not excactly. The negative drift is 200ms - 500ms. In addition to that, the protocol 0x266 is send 30 seconds later twice.

2. I found the energy earnings of today and in total (from beginning) in protocol 28E (which occured only one time in 15 minutes (not quite sure w

[2019-04-25 21:24] sadrov commented on #98
I've been logging for a while and changing the setpoint temperature on the thermostat, nothing of type 6F is broadcast but when i turn the knob I do get following messages containing 6F, not sure if that is what you are after, though.
(03:32:05.915) Thermostat -> all, type 0xFF telegram: 90 00 FF 00 00 6F 02 01 00 9B 00 C4 (CRC=4B), #data=8
(03:32:06.225) Thermostat -> all, type 0xFF telegram: 90

[2019-04-25 21:34] sadrov commented on #98
when sending  ‘send 0B 90 02 00 20’ in telnet, I get no answer, not even when logging is on

[2019-04-25 21:57] sadrov commented on #59
boiler flowtemp tells me 'unknown command'. Is this command new since 1.7? Because I did downgrade from dev build 1.7 back to 1.6 though (1.7 wouldn't take my long wifi password full of weird characters, only the simple wifi password of my guest network, but that's another issue)
@ReneHonig I have no clue if that is possible or not. But I thought maybe you had found out :)
The reason I want this,

[2019-04-25 23:30] philrich opened #103 "Support for Junkers CerastarComfort ZWR and Junkers Bosch CR 100"
Hello,

First of all: Thanks for the amazing work you have done on this project!

I own the following heating Components:

* Boiler: Junkers CerastarComfort ZWR 18-7 KE 23
* Thermostat: Junkers Bosch CR 100 (According to the manual this is an EMS+ Device)

I have ordered bbqkees circuit and connected it to the EMS-Bus (connected cables in parallel to the thermostat connectors). I also built and in

[2019-04-26 07:24] proddy commented on #96
thanks. As for point 4, I fixed this a few days ago in the dev branch and also added the SM100 support as defined by you. Could you do a quick check?

[2019-04-26 07:29] proddy commented on #59
yes 'bolier flowtemp' is in 1.7 and was added 18 days ago based on a request in this issue (scroll up). I thought I also fixed the SSID and Password issue to accept any strange character too in 1.7 so please also check if that is working for you too.

So what's next? Change flow temp via MQTT or set the boiler burn?

[2019-04-26 07:45] proddy commented on #103
damn, I thought we'd fixed the Tx problem! I assume its all wired up correctly so it can only be a timing issue on the bus itself, which in itself is strange since another user also uses a similar Junkers boiler and it works for him. When the code starts it is supposed to autodetect both the boiler and thermostat models but since Tx is not working this is why you had to manually set them with `set

[2019-04-26 14:16] philrich commented on #103
hi, thanks for the quick response.
i tried your suggestions and this is what i get
[code]
This was directly after a reboot of the ems-esp, therefore the short tx queue.

You said, i should see a 'Sending....' in the log but aparently it is not there. and no response either.
Maybe the delay is not right and sometimes works, sometimes not??

I am not really into hardware hacks but if it has to be do

[2019-04-26 15:34] S-Przybylski commented on #96
First of all thanks for your efforts! Great. Currently the SM-MQTT Messages toogles between a good and at least two bad states - see investigation below...

1. I was surprised that today the 0x262 protocol seems to update also a single value at the beginning without repeating the all other values: (00:24:18.020)	SM	->	all,	type	0x0262	telegram:	30	0	FF	0	2	62	1	CA	(CRC=E6)
It seems that your routi

[2019-04-26 16:40] S-Przybylski commented on #96
Details about states of the pump and changes:
Conclusion:
 Type 0x026a databyte 0A: "03" solar pump off and "04" solar pump on
 Short messages are send when the status of the pump changes
 And as already said: The temperature of the collector is send in addition as short message only if the pump is on

Details:
1. Status pump is off: see penultimate data byte "03" of 0x026a and data byte 9 of 0x26

[2019-04-26 18:20] moustic999 opened #104 "Buderus GB162 with RC300"
Hello,

I have ordered board with wemos from bbqkees. It is preinstalled with 1.6.

Here is the setup I have :
Buderus GB162 with RC300 and Web Gateway KM200

from KM200 and main screen, I got following info

0x08 : MC10 UBA3.5 productId 115 version 05.09
0x09 : BC10 productId 68 version 02.03
0x10 : RC300 productId 158 version NF11.08

I don't know how to find the KM200 Id and productId.

I have

[2019-04-26 18:22] moustic999 commented on #104
the link to my Python api for KM200
https://github.com/moustic999/bosch-thermostat-http-client-python/

[2019-04-26 18:35] moustic999 commented on #104
in log I see lot of line from/to 0x48

`(02:51:59.580) 0x48 -> Boiler, type 0x05 telegram: 48 88 05 2C 01 (CRC=8D), #data=1
(02:51:59.588) Boiler -> 0x48, type 0x05 telegram: 08 48 05 2C (CRC=5F)
Calling scheduled data refresh from EMS devices...
Read operations not yet supported for this model thermostat
Requesting type UBAMonitorFast(0x18) from dest 0x08
Requesting type UBAMonitorSlow(0x19) from

[2019-04-26 19:29] moustic999 opened #105 "new device Id and product Ids from EMS+ products"
here are few new types and productId I found from a tester :

token 0x20 productId 160 MM100 Mixing valve  version NF04.05
token 0x21 productId 160 MM100 Mixing valve  version NF04.05

token 0x08 productId 208 Buderus GB192-25KW version 01.04

all these 3 are EMS+

hope this helps

[2019-04-26 20:04] proddy commented on #105
Awesome, thanks. I’ll add them to 1.7 as soon as I’m near a laptop

[2019-04-26 20:12] proddy commented on #104
I will add these devices to the dev branch 1.7. When you’ve reflashed please do an ‘autodetect deep’ to check whats om the EMS bus.

[2019-04-26 21:19] proddy commented on #103
i noticed the "Tx: no signal" in your log which gets displayed after an 'info' command. This means the EMS bus master (boiler) is not sending a poll request to our device (which has a type 0x0B) which in turn is the  trigger to send any Tx messages. I recall seeing this issue before and need to look at older issues to see if this is the same conditions. In the meantime you can try the 'startup' co

[2019-04-27 08:47] sadrov commented on #59
Hey @proddy I reflashed 1.7 but the password issue remains, even when i hardcode it in the platformio.ini file. So now I'm using it on my guest network that has a simple password.
Now I can do the boiler flowtemp command and I get a response but none of the settings actually change when I look at the info right after (not even when I disconnect the thermostat).
"
boiler flowtemp 65
Setting boiler

[2019-04-27 08:53] sadrov commented on #59
oh yeah, when I query info, I also get this:
EMS Bus stats:
  Bus is connected
  Rx: Poll=37 ms, # Rx telegrams read=0, # CRC errors=2
  Tx: no signal
Has the no signal thing maybe something to do with the fact that I'm having issues with sending out commands and raw telegrams?

[2019-04-27 15:16] philrich commented on #103
Unfortunately no response from the Busmaster after `startup` command. I think your refer to this issue: https://github.com/proddy/EMS-ESP/issues/39.

I have also tried all sent commands which you recommended in this issue - to no avail.

Later, i will reboot the Thermostat and attach the log from the boot sequence. you can already see a thermostat start in the log of the initial issue message. It

[2019-04-27 17:21] philrich commented on #103
ok, so the boot sequence from the thermostat is this
[code]

i tried to simulate this with
[code]
but it didnt work

[2019-04-27 17:59] philrich commented on #103
so what i don't get: if we need to get polled by the busmaster before we can send something, the above `send`-commands never get sent because we are not getting polled. right?

i see above send requests in the txqueue which is growing. so if there has to be done some kind of handshake before we get polled there has to be some other way to send to the bus.

[2019-04-28 07:33] proddy commented on #103
that's correct. Its waiting for the Poll which is single byte of `0x8B` which for some reason you're not getting. You could modify the code around line 656 in ems.cpp to print out which polls you are getting?

[2019-04-28 07:39] proddy commented on #59
@sadrov the 'Tx: no signal' means that we're not receiving a Poll request to our device which is the trigger to transmit any Tx packages. If you do a `queue` you probably see all the commands in a wait state. Did sending work for you before? Are you using a Junkers boiler?

Also I'm interested in the wifi password issue since I'm pretty sure I nailed that problem. Can you give me some hints on the

[2019-04-28 07:40] #105 closed

[2019-04-28 07:41] proddy commented on #104
The 0x48 must be the Web gateway

[2019-04-28 08:58] sadrov commented on #59
Yes, there's a whole bunch of read actions in the queue and when i do a send command it shows up in the queue as well:
 [19] action=read dest=0x08 type=0x14 offset=0 length=6 dataValue=32 comparisonValue=0 type_validate=0x00 comparisonPostRead=0x00 @ (00:21:00)
 [20] action=write dest=0x08 type=0x1a offset=0 length=6 dataValue=50 comparisonValue=50 type_validate=0x1a comparisonPostRead=0x1a @ (00:

[2019-04-28 09:42] proddy commented on #59
same Tx issue as https://github.com/proddy/EMS-ESP/issues/103 then. If you could join that thread we can work it on it collectively.

As for the password I'll do some more checking here.

Closing this issue as it relates to the flowtemp that was implemented in 1.7

[2019-04-28 10:56] proddy commented on #59
@sadrov just checked the password. Created a new wifi ssid using the password with the special characters you listed **(^ l ( ] * ~ ` ; , " \ ) ')** and it works fine. Just to be sure make sure all your libraries are updated as it could be a bug in the older 2.5.0 ardunio core

[2019-04-28 16:27] suncarver commented on #37
@proddy, @gl3nni3 and all, thanks for the RC310 extension!
I used the dev branche and can confirm

[code]
I get some corrupt messages:

Room temp, mode and hc are correct. SelTemp is shown as 20°C in the RC310 Display:

![image](https://user-images.githubusercontent.com/46283949/56867141-37ba6a80-69e2-11e9-9819-e8cf1a33bf72.png)

[2019-04-28 16:40] proddy commented on #37
Wonderful! A few corrupt messages here and there are ok and quite normal.
They are mainly residual noise left on the line. Can you confirm that
sending works and there’s nothing stuck in the Tx queue? (‘Queue’)

On Sun, 28 Apr 2019 at 18:27, suncarver <notifications@github.com> wrote:

[2019-04-28 17:07] philrich commented on #103
i made this:
[code]
a attached the log which i am getting after this here: [ems-log-received1b.txt](https://github.com/proddy/EMS-ESP/files/3125198/ems-log-received1b.txt)

i also made a short count of values with this command (`grep "Received 1 Byte" ems-log-received1b.txt | sort | uniq -c`) here: [received1b-count.txt](https://github.com/proddy/EMS-ESP/files/3125205/received1b-count.txt)

so, in

[2019-04-28 18:44] besmit commented on #99
I have similar boiler (ProLine HRC 24-CW3) connected but 2 values are not available/displayed correctly. @jteeuw can you check if the same happens with your ProLine?

- Warm Water current temperature: ? C => never seen a correct value
- Boiler temperature: 0.0 C => always reported as 0.0

Thanks

[2019-04-28 19:13] proddy commented on #99
whats the 0x34 telegram showing you in the log? It gets broadcast every 10 seconds

[2019-04-28 19:32] proddy commented on #103
those logs helped. What's interesting is a few of these telegrams like
[code]

shows the Poll for the thermostat (type 0x18) doesn't have the MSB set, and also replies with 0x98. This is the opposite to how it's implemented now. You could try and remove the mod from `(EMS_ID_ME | 0x80)` and see if that helps

[2019-04-28 20:04] besmit commented on #99
I got these values in the log:

[code]

[2019-04-28 20:12] proddy commented on #99
I see the current temperatures has a value of x8000 which means it's not set. Those values most be coming from another device, perhaps a mixer?

[2019-04-28 20:24] besmit commented on #99
I have a basic installation with the boiler and a moduline 300, no extra's in between. I will check the service display if I can actually read these values maybe they are not present at all.

[2019-04-28 20:25] philrich commented on #103
i will try this as soon as i am back in vienna (attending a conference in munich at the moment). i want to be physically there just in case something odd happens .. i'll report back no later than wednesday.

[2019-04-28 20:53] besmit commented on #99
Checked the service display and manual, both do not mention values regarding the warm water temperature. They do mention the CV water temp (I guess thats the boiler temp)

If I open that hot water tap the logging goes extremly fast and produces the data as attached.
[hrc24.log](https://github.com/proddy/EMS-ESP/files/3125484/hrc24.log)

[2019-04-28 20:59] besmit opened #106 "Unable to read config file"
Compiled the dev branch 1.7b10 from GIT for Wemos D1 mini V2. Everytime the Wemos is rebooted or power cycled the settings are lost which requires me to re-enter all the mqtt parameters.

When logging in to the telnet session I get the following information:

[FS] Failed to read config file

Any suggestions why it doesn't seem to save the config file or is unable to open it?

[2019-04-28 21:08] proddy commented on #106
could be many things, most likely the SPIFFS segments are not reserved. Are you using PlatformIO and have all the latest libraries installed? To be safe try 'platformio run -t erase' which basically formats the Wemos D1 so you can flash it again.

[2019-04-28 22:29] sadrov commented on #103
Hi @philrich, I'm also using this with a junkers cerapur boiler and in the info I see more than what you see, on the other hand i can't get my thermostat to be recognized. And I also have the same Tx issue, I can't send commands.
I wish I had the knowledge to contribute to this investigation but for now I can just follow and hope you'll get it working.
Anyhow many thanks for all the contributors s

[2019-04-29 06:03] besmit commented on #106
From what I can see all libraries are up to date:

[code]

I also issued the 'pio run -t erase' command which completes successful
[code]

Afterwards I run the 'pio run -t upload' which is also successful.
[code]

However after setting the mqtt settings and issuing a reboot results in
[code]

[2019-04-29 06:27] proddy commented on #106
that is very odd. Everything looks fine with your build & upload. Its not a 8MB Wemos Pro is it by any chance? I'll take a look tonight to see if I can reproduce.

Also, did you ever get it to build before with the 1.7 dev version or is this the first time?

[2019-04-29 06:39] besmit commented on #106
Nope it's a Wemos D1 mini (got it from bbqkees as a kit)

It was originally installed with the 1.6 stable version via bbqkees which worked except it didn't recognize the boiler so that was what made me move to the 1.7 dev branch.

I tried the 'erase' option with verbose option and I do get something about AsyncTCP

[code]

[2019-04-29 08:11] ReneHonig commented on #59
Hi Paul,
Setting the flow temp through MQTT would be highest priority for me, I will see whether I can figure out whether/how burning power can be set by a telegram.

[2019-04-29 08:12] moustic999 commented on #104
I updated to dev version : here is the result of the autodetect deep :
Starting a deep EMS device scan. This will take about 1 minute. Please wait...
Finished the deep EMS device scan.

These 2 EMS devices were detected:
 BC10/RFM20 Receiver (DeviceID:0x09 ProductID:68 Version:02.03)
 unknown? (DeviceID:0x48 ProductID:189 Version:04.06)

it is strange that the RC300 has not been detected.
what als

[2019-04-29 08:14] moustic999 commented on #104
(00:05:54.743) Gateway -> Thermostat, type 0x11FF telegram: 48 90 F9 00 11 FF 01 9E 08 (CRC=CB)
(00:05:54.806) Thermostat -> 0x48, type 0xFF01 telegram: 10 48 F9 00 FF 01 9E 08 03 00 00 00 1E 00 00 00 4B 00 00 00 55 00 00 00 4B (CRC=2B), #data=18
(00:05:55.239) Gateway -> Thermostat, type 0x11FF telegram: 48 90 F9 00 11 FF 01 9E 07 (CRC=C4)
(00:05:55.301) Thermostat -> 0x48, type 0xFF01 telegram:

[2019-04-29 08:14] moustic999 commented on #104
strange also that 0x48 is not always considered as the gateway ? when sending data to it ?

[2019-04-29 08:29] proddy commented on #59
Wim implemented this in his fork. Perhaps ask him to merge into into dev.
https://github.com/curantil/EMS-ESP/commit/7d407fa992e41aaad38be087d3aa92a69d4fbc86

On Mon, Apr 29, 2019 at 10:11 AM Rene <notifications@github.com> wrote:

[2019-04-29 08:38] proddy commented on #104
the 0x48 is just a line I missed when coding the debug messages. I'll add it later.
So it seems because you have a gateway you can't talk the RC300 directly which kinda makes sense as it takes over as the master controller. The problem now is figuring out which telegram types corresponds to which function. Start with setting the temperature on the thermostat and seeing what is sent on 0xFF01

[2019-04-29 08:47] ReneHonig commented on #59
Thanks and done

https://github.com/curantil/EMS-ESP/commit/7d407fa992e41aaad38be087d3aa92a69d4fbc86#commitcomment-33343320

[2019-04-29 08:52] moustic999 commented on #104
note also that RC300 is within boiler, it is not set up as room controller.

I can disconnect the Web gateway and check what happens.

[2019-04-29 13:30] ReneHonig commented on #59
loos like Wim's implementation is also addressing the flow temperature and not burner power.

[2019-04-29 13:41] moustic999 commented on #104
I disconnected the gateway an autodetect have found properly boiler and thermostat types :
EMS-ESP system stats:
  System logging set to Basic
  LED is on, Silent mode is off
  Thermostat is enabled, Boiler is enabled, Shower Timer is disabled, Shower Alert is disabled

EMS Bus stats:
  Bus is connected
  Rx: Poll=15 ms, # Rx telegrams read=0, # CRC errors=4
  Tx: available, Tx delay is off, # Tx

[2019-04-29 13:45] moustic999 commented on #104
once I connect back the Gateway, nothing is discovered anymore.

[2019-04-29 15:10] #86 closed

[2019-04-29 15:11] proddy commented on #50
any luck with 1.7 dev? Did it detect your solar sensor?

[2019-04-29 15:12] proddy commented on #93
@gl3nni3 is 1.7 working for you? I rewrote a lot of the original EMS+ code

[2019-04-29 15:16] proddy commented on #44
@viimD I think I can add support now for your heatpump as the core to handle EMS+ is implemented. But first we need to make sure 1.7 dev works with your setup and that you're able to send commands via Tx

[2019-04-29 15:17] proddy commented on #98
Seems to be a known issue with the Junkers. We're working on it!

[2019-04-29 15:40] proddy commented on #96
Questions so I can implement these changes:

1. The energy values (e.g. 1,3 kwh for today and 3016,3 kwh for total). What shall I call these variables?
2. For the pump on/off I'll just listen to 0x26A and the 9th byte for a 03 or 04 ?

[2019-04-29 16:04] moustic999 commented on #104
I made some trials,
For info I have only 1 Heating Circuit.
To change the mode ( auto or Manual )

set to auto :
(00:02:24.523) Gateway -> Thermostat, type 0x01B9 telegram: 48 10 FF 00 01 B9 FF (CRC=6E)
then this comes
(00:02:26.155) Thermostat -> all, type 0x01B9 telegram: 10 00 FF 08 01 B9 FF (CRC=C3)
(00:02:26.347) Thermostat -> all, type 0x01A5 telegram: 10 00 FF 15 01 A5 03 (CRC=EF)

set to m

[2019-04-29 16:31] proddy commented on #104
that's it, type 0x01B9
 offset 0A, the 1st byte will show the temps. Hex 28 = 40  = 20 c (divided by 2). And Hex 29 = 41 = 20.5 c
 offset 08 is the mode, 1st byte is auto=FF and manual=00

[2019-04-29 17:44] moustic999 commented on #104
So then in the Thermostat -> all, type 0x01A5 telegram: 10 00 FF 03 01 A5 29 (CRC=75)
type 01A5
offset 03
show temp also

[2019-04-29 17:51] proddy commented on #104
yes, how often are 0x01B9 and 0x01A5 broadcasted? Is it regular or only when the thermostat is manually adjusted by hand? We need to decide where to the correct values from.

[2019-04-29 17:57] moustic999 commented on #104
from what I can see, none of them are broadcasted on a regular basis.
0x01B9 is fired only when I change the temp or the mode from the gateway

0x01A5 is triggered when a change happen in the thermostat, then it send this message with new values

there is tons of exchange between gateway and thermostat, also between gateway and boiler.
I can get a big log of these if this is usefull.

[2019-04-29 18:36] viimD commented on #44
Sounds really promising @proddy! I'm not sure what I ask from you, but can you make a prebuilt firmware from the 1.7 version? Then I'll upload it to the Wemos and I can run some tests.

[2019-04-29 19:16] S-Przybylski commented on #96
Hi proddy,
my suggestions to questions:
1.) ENERGYToday and ENERGYTotal. If you have better namings thats also fine for me!
2.) In deed, thats what i found out. I saw that protocol changes when the pump goes on/off at least 3-4 times in the past days. In the night the protocol shows always "03"... Therefore i belive that this value shows up the pump status. I never saw other values for data byte 9

[2019-04-29 19:27] suncarver commented on #37
"Tx queue is empty".
OK, I can ignore the corrupt messages.
Problem found: The Wemos sends MQTT Messages, but stops sending after a while.

![Grafana2](https://user-images.githubusercontent.com/46283949/56921219-7e34c580-6ac5-11e9-8791-f96a9b22130c.png)

 Then telnet session can still be startet, info shows ? values. "Reboot" in telnet session and "info" shows values again.
"Publish" shows MQTT te

[2019-04-30 06:07] moustic999 commented on #104
if needed, I can launch request command from the gateway to try to capture the message on the bus, but tell me what I can try, that will be the most useful for you !

[2019-04-30 08:03] proddy commented on #104
We'll stick with monitoring 0x01A5 then. The problem is how to read the results adhoc. I haven't figured out how to send Read commands to the EMS+ yet (mainly because I don't have any EMS+ at home!)

[2019-04-30 08:05] proddy commented on #99
Try to see what temps are available as displayed on the front of the boiler and see if they appear in any of the telegrams

[2019-04-30 08:42] moustic999 commented on #104
I think that 0x01A5 is 1 of "send status" command
look at this log :
00:06:22.986) Gateway -> Thermostat, type 0x0101 telegram: 48 90 FF 1D 01 01 A6 (CRC=3F)
(00:06:23.014) Thermostat -> 0x48, type 0x01A6 telegram: 10 48 FF 1D 01 A6 (CRC=B1)
(00:06:23.242) Gateway -> Thermostat, type 0x0101 telegram: 48 90 FF 1D 01 01 A7 (CRC=3E)
(00:06:23.270) Thermostat -> 0x48, type 0x01A7 telegram: 10 48 FF 1D

[2019-04-30 09:36] besmit commented on #99
Would love to try that out but the Wemos crashes after x amount of log lines. So i first need to get the Wemos stable and retain it's configuration as posted in topic #106

[2019-04-30 10:04] proddy commented on #106
is it still crashing? Does `platformio update` show you're using espressif8266 version 2.0.4? Did you try `platformio.exe run --target clean` first? You can ignore the library incompatibility warning as its only for the ESP32 version of my MyESP library which you arn't using.

[2019-04-30 10:05] proddy commented on #106
also when connected to Telnet type `system` and let us know what it shows you

[2019-04-30 16:51] moustic999 commented on #104
@proddy can you explain this :
(00:06:25.114) Gateway -> Thermostat, type 0x0201 telegram: 48 90 FF 1B 02 01 A6 (CRC=03)
(00:06:25.141) Thermostat -> 0x48, type 0x01A6 telegram: 10 48 FF 1B 01 A6 (CRC=A9)
gateway is 0x48, RC300 is 0x10
What is 0x90 ?
in the first telegram gateway send to 90 ??? known as thermostat ?? next line is thermostat to Gateway but then thermostat is 0x10
strange or normal

[2019-04-30 16:59] besmit commented on #106
For 'pio update' i get the following
[code]
and the system command outputs the following

[code]

[2019-04-30 17:06] proddy commented on #104
It's explained in my documentation. 90 is the 0x10 but with the 8th bit set meaning its a Read command, or a request to fetch data from the thermostat. But...I've been looking at those ems+ messages and I think I have the logic wrong. I need some time to figure it out.

[2019-04-30 17:07] proddy commented on #106
that's strange as everything looks fine here. I'll run some more tests. No one else has reported back anything strange so far, but that doesn't rule out a bug.

[2019-04-30 17:17] moustic999 commented on #104
got it ! I re-read carefully
for the EMS+ 0xFF or 0xF9, do you have any idea why we can have different value ?

(00:21:43.446) Gateway -> Thermostat, type 0x0103 telegram: 48 90 FF 01 01 03 71 (CRC=0C)
(00:21:43.475) Thermostat -> 0x48, type 0x0371 telegram: 10 48 FF 01 03 71 (CRC=12)
(00:21:44.171) Gateway -> Thermostat, type 0x11FF telegram: 48 90 F9 00 11 FF 01 AF 08 (CRC=A9)
(00:21:44.234) The

[2019-04-30 17:19] besmit commented on #106
The strange thing is that I can set all the parameters and recall them with the 'set' command but after I issue the 'reboot' the first line after loading the kernel I see on the serial console is ```[FS] Failed to read config file```, looking at the code this would mean something goes wrong with decoding the JSON. My WiFi network uses a password which contains spaces and and special characters, co

[2019-04-30 18:27] proddy commented on #104
correct, I'm thinking we need to interpret the messages differently and read up until the first 0xFF. Then its the offset followed by the 2-byte type ID and lastly the data.

So `48 90 F9 00 11 FF 01 AF 08` is actually a request from the Gateway (x48) to read data from the Thermostat (x10/x90) for 17 bytes of data (x11) from type 0xAF08. I'm not sure what the x01 is yet after the xFF, i.e.
 **<gat

[2019-04-30 18:36] proddy commented on #106
good point. I did test with all strange characters in the password it works on my system. could you find that line in MyESP and change it to
` myDebug_P(PSTR("[FS] Failed to read config file. Error %s"), error.c_str());`

and check the error against https://arduinojson.org/v6/api/misc/deserializationerror/

[2019-04-30 20:00] besmit commented on #106
Just recompiled and got the following error `[FS] Failed to read config file. Error NoMemory` checking the documentation this means
[code]

[2019-04-30 20:11] moustic999 commented on #104
here are a bunch of message in such format
you could be right ! that would mean that there is no offset in this mode ?
(04:37:34.626) Gateway -> Thermostat, type 0x11FF telegram: 48 90 F9 00 11 FF 01 9C 07 (CRC=C0)
(04:37:34.695) Thermostat -> 0x48, type 0xFF01 telegram: 10 48 F9 00 FF 01 9C 07 03 00 00 00 1E 00 00 00 30 00 00 00 3C 00 00 00 30 (CRC=D5), #data=18
(04:37:35.154) Gateway -> Thermost

[2019-04-30 20:12] besmit commented on #106
Some more debugging info. The spiffs JSON doc would be allowed to be 600 of what in MyESP.h?
[code]

I added an extra debug string in the file reading part which gives me the following after I have entered all the mqtt settings and reboot.

[code]
Which I guess is within the boundaries of the 600

[2019-04-30 20:13] moustic999 commented on #104
an finally here is the result from playing this evening :

in AUTO Mode, setting temporary temp to 21.5 == 0x2B
(03:43:45.965) Gateway -> Thermostat, type 0x01B9 telegram: 48 10 FF 08 01 B9 2B (CRC=FA)
(03:43:46.445) Thermostat -> all, type 0x01B9 telegram: 10 00 FF 08 01 B9 2B (CRC=17)

(03:43:49.547) Thermostat -> all, type 0x01A5 telegram: 10 00 FF 03 01 A5 2B (CRC=77)
<--- RCPLUSStatusMessage(

[2019-04-30 20:35] proddy commented on #106
yup. One thing you could try is to print out the config file. In MyESP, cpp find the _fs_setup() and just before the _fs_loadConfig() is called insert

_fs_printConfig();

[2019-04-30 20:36] proddy commented on #104
I have a theory about the F7 too. I think its best if I create a wiki page in use that to capture all findings

[2019-04-30 20:59] sadrov commented on #98
amazing, thanks!

[2019-04-30 21:06] besmit commented on #106
Just did what you suggested, before the loadConfig is issued the file has the required contents, but as soon as it is being converted to JSON it goes blank. All settings are set to their respective defaults.

The error seems to occur in the conversion to a JSON document. I have have entered the JSON data from the config file in the online size calculator at https://arduinojson.org/v6/assistant/ wh

[2019-04-30 22:08] philrich commented on #103
@proddy, i tried your suggestions.
first, i rebooted the thermostat with the 1-byte debug code in:
[code]

at 00:00:30.341 the thermostat starts sending after receiving a "poll" request without MSB set. so it seems junkers boilers don't always set MSB to poll!?

following is a list of 1-byte telegrams which get received over and over again:
`0x0A 0x0B 0x0C 0x0D 0x0E 0x0F 0x10 0x11 0x12 0x13 0x14 0

[2019-05-01 06:33] proddy commented on #103
there was a bug in how the telegrams were printed in raw mode which I just fixed. But it shouldn't have changed the behavior but anyway please try again

[2019-05-01 18:47] proddy commented on #106
great, and good catch. I'll increase the size of the buffer in 1.7

[2019-05-01 18:47] #106 closed

[2019-05-01 18:48] S-Przybylski commented on #96
Hi @Proody
regarding an additional protocol 0x028E:
I have identified three values in the  EMS+ 0x028E Protocol which cover the Solar energy earnings - repeated every hour
- last hour / 10 in Wh --> databyte 2+3
- todays in Wh --> databyte 6+7
- total / 10 in kWh  --> databyte 10+11

Protocol:
(01:07:35.738) SM -> all, type 0x028E telegram: 30 00 FF 00 02 8E 00 00 0C F3 00 00 06 02 00 00 76 33 (CR

[2019-05-01 18:55] proddy commented on #96
yes it would be good to add to the Wiki under the SM100 section. https://github.com/proddy/EMS-ESP/wiki/SM100

I haven't had time to look into implementing this yet, its still changing and I want to figure out how the EMS+ works for all devices.

[2019-05-01 18:56] proddy commented on #104
I could use your brain power to help figure out https://github.com/proddy/EMS-ESP/wiki/Deciphering-EMS-Plus

[2019-05-01 19:48] philrich commented on #103
hmm. that did not do the trick.
log messages look fine now but i get no response to any command i send.
with `set tx_delay on` i see corrupt telegrams like this:
[code]
so it looks like the last byte got lost.
but i get no answer of the boiler. i even modified the startup command to include the telegrams the thermostat sends on boot, like this:
[code]
(also tried with `0x8B` as src). again, no res

[2019-05-01 20:09] philrich commented on #39
hi, i see you tried the same things i did - with same success: none.. see here #103. did you get any further? @curantil how did you manage to get a reply with src ID 0x0B (as mentioned in your last sentence)?

[2019-05-01 20:34] proddy commented on #103
if after every manually `send` it's missing the last byte then it could be something to do with the uart timing and how the BRK signal is sent. However a strange thing I see in your examples, like:

`(10:00:31.385) Corrupt telegram: telegram: 0B 88 16 00 (CRC=EC)`

is that the CRC byte is correct so it's sending through `0B 88 16 00 EC` instead of `0B 88 16 00 20 EC`

If you had a 7 EUR logical an

[2019-05-01 20:48] philrich commented on #103
hmm. okay, will order a logic analyzer. do you have any recommendations or should i buy the first hit on amazon?

i get the corrupt telegrams only if i turn on tx_delay. with tx_delay turned off, no errors reported - and no response from busmaster either.

[2019-05-01 21:26] proddy commented on #103
something cheap like I mentioned in https://github.com/proddy/EMS-ESP/issues/23#issuecomment-456983631

[2019-05-02 07:12] moustic999 commented on #104
with the help of this post, we could progress
https://www.mikrocontroller.net/topic/309075?goto=3928825#3895776

example :
10 48 F9 00  FF 019E 00 4B 00 00 00 01 00 00 00 01 00 1B 00 06 00 1B 00 01

sender : 10
receiver : 48
F9 00
FF
type ? 019E
??? : 004B
data1 : 00 00 00 01
data2 : 00 00 00 01
data3 : 00 1B 00 06
data4 : 00 1B 00 01

[2019-05-02 11:39] moustic999 commented on #104
check this : https://github.com/norberts1/hometop_HT3/blob/master/HT3/sw/lib/ht_discode.py
starting line 200, it seems they have some proper decoding for EMS2

[2019-05-02 13:19] moustic999 commented on #104
I read the link in my previous answer !
very intereisting, almost everything is decoded !
Heatronic 3 is EMS2 ;-)

[2019-05-02 13:23] proddy commented on #104
yes! Reading it now...it's interesting. I need to google translate the German to understand what the values mean. Does it support thermostats too?

[2019-05-02 13:38] moustic999 commented on #104
supporting these deviceIds :
deviceaddress_white_list = [0x08, 0x0a, 0x0b, 0x0c, 0x0d, 0x10, 0x18, 0x19, 0x1a,
                                0x20, 0x21, 0x22, 0x23, 0x28, 0x29,
                                0x30, 0x31, 0x48]
and refers 0x48 as a Modem later in the code !
So It looks, very promising ;-)
I will deep into tonight and tomorrow.
@proddy, Do you have a Discord to discuss ? It will b

[2019-05-02 16:30] proddy commented on #104
Discord username is Proddy#0739

[2019-05-02 18:13] philrich commented on #103
i ordered a cheap logic analyzer from amazon, 'cause aliexpress shipping times are too long for me.
in the meantime i tried to change `EMS_ID_ME` to `0x18` (my Thermostat), just to check if i get then a response. But nada. So i will wait for the analyzer.

I also saw the other issue #104 with the link to the Heatronic implementation. very interesting! maybe there are some hints regarding timing? h

[2019-05-03 07:34] moustic999 opened #107 "EMS+ : new message type findings"
(10:50:08.271) Thermostat -> all, type 0x0167 telegram: 10 00 FF 00 01 67 00 00 (CRC=AB)
this new type :

0x0167 : is for HeatingCircuit
it is the drymode whic can be activated for new buildings
there are 2 bytes reported
OFFSET :
00 : 1 byte :  status of the mode  : 00 means NOT ENABLED
01 : 1 byte : if drymode enabled, return the flow temp selected.

[2019-05-03 11:31] proddy commented on #107
is this useful to add?

[2019-05-03 14:53] proddy commented on #96
Added to 1.7. MQTT is like `{"temp":"?","bottomtemp":"?","pump":"?","energylasthour":331.5,"energytoday":1538,"energytotal":3025.9}`

[2019-05-03 14:57] #18 closed

[2019-05-03 14:58] proddy commented on #50
The latest 1.7 is ready to support this. As soon as you have the info we need please re-open

[2019-05-03 14:58] #50 closed

[2019-05-03 15:01] proddy commented on #62
1.7 should be easier now to add your Junkers devices. But I need the device data first including some samples of telegram messages to reverse engineer.

[2019-05-03 16:06] S-Przybylski commented on #96
Hi @proddy
i have just tested your new release b12.
I do not get the protocol in total sync, but its close. The mqtt event toggles:
{"temp":"?","bottomtemp":43,"pumpmodulation":0,"pump":"?"}
{"temp":22.8,"bottomtemp":43,"pumpmodulation":0,"pump":"?"}
{"temp":"?","bottomtemp":43,"pumpmodulation":0,"pump":"?"}
{"temp":"?","bottomtemp":43,"pumpmodulation":0,"pump":"?"}
{"temp":21.8,"bottomtemp":43,"p

[2019-05-03 16:14] proddy commented on #96
I will supress the ? values and check why the pump on/off is not working. It works with the previous test date you provided. The pump modulation is missing for SM100 as I don't know where it is stored.

[2019-05-03 16:43] proddy commented on #96
made a fix in b13. I had to change some of the MQTT topic names as there are multiple solar modules (sm10, sm100, junkers, nefit etc)

[2019-05-03 19:39] moustic999 commented on #62
here are some product Id that could help

product Id 105 : Junkers FW100
product Id 101 : Junkers ISM1

[2019-05-03 21:04] S-Przybylski commented on #96
Hi @proddy
here by my test with the Version b13. I put the mqtt events and comments into it (shortend):

Device found. Model SM100 Solar Module with DeviceID 0x30, ProductID 163, Version 21.04
SM10 Solar Module support enabled.
...
Publishing SM data via MQTT {"bottomtemp":40.6,"pumpmodulation":0}

(00:02:11.146) Sending read of type 0x97 to 0x30: telegram: 0B B0 97 00 20 (CRC=03)
(00:02:11.214) S

[2019-05-03 22:32] proddy commented on #96
thanks for checking. I'll use your telegrams and simulate the behaviour here so I can debug.

It is #1, all values are stored and updated but sometimes I've noticed you get partial telegrams so values are overwritten sometimes incorrectly. I'll fix that.

[2019-05-03 22:34] proddy commented on #62
@moustic999 what are the device IDs for these? Like 0x08 for UBA/Boilers? Then I can add to the list.

[2019-05-04 05:37] moustic999 commented on #62
@proddy no, this is the ProductId which is returned by 02 Version command
I will check in the HT3 code on which Bus Address you could find them :-)

[2019-05-04 08:04] proddy commented on #96
made the changes. please test

[2019-05-04 08:08] proddy commented on #44
thanks, I'll email you over the firmware. When starting could do the following
1. `autodetect deep` to discover the devices on the EMS bus
2. capture some telegrams. Types 0x0395 and 0x03A2 look like they may be important
3. see if you can match the temperatures to those in these telegrams

[2019-05-04 09:39] S-Przybylski commented on #96
Hi @proddy
thanks for the fast update! I have tested the todays version. For me it seems that three things are not working correctly:
1. pumpmodulation isn't set up correctly - the short message was ignored
    SM -> all, type 0x0264 telegram: 30 00 FF 09 02 64 64 (CRC=37) #data=1
2. pump status isn't set up correctly - the long message was wrongly interpreted; 04 is on while 03 is off
    SM -> a

[2019-05-04 10:13] S-Przybylski commented on #96
Hi @proddy, regarding to the problem of the toogling bottomtemp value, is set up a compete trace and combined it with the mqtt events. Perhaps you can find where the problem comes from.
By the way: Is was surprised that my Gb172 presents the pressure with 25.5 - in the past i never had a value for pressure and i am not sure, if thats correct. My heating pressure is between 1,2 and 2 bar...

(00:51

[2019-05-04 11:19] proddy commented on #96
ok, made more changes. It's getting quite tricky!

[2019-05-04 11:34] proddy commented on #96
also fixed the sys pressure bug, thanks

[2019-05-04 11:55] S-Przybylski commented on #96
quick test: i seems to be much better then before!
The four solar collector values are updated as the expected. I can see that the solar pump goes on, adapt the pumpmodulation several times and goes off (the weather today here is good to test).
Wow! That quite good!

Do you had time to think about the engergy earnings? Perhaps we can split them into a different topic...

Then it will be a very goo

[2019-05-04 12:09] S-Przybylski commented on #96
Update: I got the energy earnings:
{"collectortemp":39.8,"bottomtemp":38.8,"pumpmodulation":0,"pump":"off","energylasthour":136.5,"energytoday":447,"energytotal":3029.4}

[2019-05-04 12:16] S-Przybylski commented on #96
Hi @proddy
regarding the documentation: how could i help to write some details down?
I am not familiar with github wiki. Am I able to edit the page https://github.com/proddy/EMS-ESP/wiki/SM100?

[2019-05-04 13:32] proddy commented on #96
I will give you access to the wiki so you can edit the SM100 page, that'll be great. Check your github notifications for the request.

So for the SM100 are we good to go or is there still some more fixes needed?

[2019-05-04 16:55] S-Przybylski commented on #96
Dear @proddy
i suggest to document based on the following content structure:
1. General
  SM100 EMS+ Device
2. Link to Buderus
  official link to Buderus Homepage / Device guides - if available
3. Decoded Messages
 table with details of known protocols and examples
4. Home Assistant / [optional Grafana/InfluxDB]
 simple Example

Is that OK for you? I try to work on that the next days
Status SM100

[2019-05-04 21:56] proddy commented on #96
that'll be very helpful for others, thanks.

[2019-05-05 08:31] proddy commented on #103
I don't think that other Heatronic project does sending of telegrams?

[2019-05-05 08:40] proddy commented on #98
@sadrov we made some changes to the 1.7 code to better handle EMS+ messages. Can you look at the current room temperature and also the setpoint temperature on your FR10 thermostat and post back here any telegrams you see starting with `90 00 FF 00 00 6F`

[2019-05-05 10:24] sadrov commented on #98
I just flashed the wemos with the latest firmware version 1.7.0b14. Good news is that now the wifi password with special characters is indeed working.
When I do 'info' I get the same info as before, only my boiler is not automatically recognized anymore. So I manually set boiler and thermostat to type 08 and 10
When I turn the knob on the thermostat between 18.5/19/19.5, this is what I get from th

[2019-05-05 10:25] sadrov commented on #98
sorry for the weird formatting. Not sure yet how i should properly copy/paste code in here

[2019-05-05 11:53] proddy commented on #98
for fomatting large chunks of code use 2 or 3 backquotes `

[2019-05-05 11:54] proddy commented on #98
if you do an `autodetect deep` is anything found?

[2019-05-05 12:01] proddy commented on #98
Also does your thermostat show the actual room temperature too? Was it 19.1 degrees by any chance?

[2019-05-05 22:12] sadrov commented on #98
with and `autodetect deep` this is all I'm getting:
System Logging set to None
Starting a deep EMS device scan. This can take up to 2 minutes. Please wait...
Finished the deep EMS device scan.
System Logging set to None

Yes my thermostat shows the actual room temperature, it rounds of to half a degree and at the time it was jumping between 18.5 and 19 so I think the 19.1 that you found was defini

[2019-05-06 06:02] proddy commented on #98
right, I forgot the sending/Tx doesn't work with Junkers yet, which is used to query the devices. There's another issue related to that problem which is waiting for a logic analyzer to see what is blocking the traffic. So it may be a while until someone has figured it out.

[2019-05-06 19:54] philrich commented on #103
Here (https://www.mikrocontroller.net/topic/317004#3925213) the author talks about the different hardware. At least `ht_piduino` and `ht_pitiny` are able to send telegrams. On the software side ht_transceiver is meant to implement the sending part. This message is from 2014, in the meantime i think `ht_transceiver.py` is the replacement. In the directory `/HT3/docu/HT3_Adaption.pdf` you can find d

[2019-05-06 21:37] proddy commented on #103
yes you're right. The circuit does have a Tx part and the code in his ht_proxy_if.py gives examples of how the data is sent. It looks its using 0x23 as the device ID and not 0x0B. Also quickly scanning his code I think this Heatronics uses a completely different schema to EMS+. I'd like to be abale to handle both the Bosch EMS2.0 and Heatronics formats based on which version. The tricky part if fi

[2019-05-06 23:11] philrich commented on #103
ok, here are the first logic analyzer captures.

this is with `set tx_delay off`:
<img width="1238" alt="Bildschirmfoto 2019-05-06 um 23 27 27" src="https://user-images.githubusercontent.com/17569738/57260351-76e05f80-7063-11e9-8136-9b43c4de24cc.png">
so no response.

following a capture with `set tx_delay on` (sorry for swapping rx/tx rows):
<img width="1365" alt="Bildschirmfoto 2019-05-07 um 00

[2019-05-07 04:41] proddy commented on #103
Interesting, I’ll need to think why that last byte is not picked up but the
CRC is correct. What you’re seeing on Rx is an echo of the Tx which is
normal.

On Tue, 7 May 2019 at 01:11, philrich <notifications@github.com> wrote:

[2019-05-07 18:59] proddy commented on #98
https://github.com/proddy/EMS-ESP/issues/103

[2019-05-07 19:30] proddy commented on #103
it looks like the send is sending an extra 0x00 before the break. After the crc checksum value D4 it should show the break immediately. We actually want frame-errors as the <brk> is 11-bits and longer than the 8N1 package. I checked the code and can't see how this can happen.  Do you have tx_delay on?

[2019-05-07 20:11] philrich commented on #103
yes, the second capture is done with `set tx_delay on`. the second capture in this comment -> https://github.com/proddy/EMS-ESP/issues/23#issuecomment-476872291 looks similar to mine.

[2019-05-08 10:59] moustic999 commented on #103
I don't think it is needed to determine if it is Junkers of Bosch. Even if the the bus is the same, message exchanged between devices is different depending on brand.
This is most probably a strategy to avoid mixing brand. You could connect Junkers on Buderus, these are EMS, but it will not work because message are not same.

emitter and receiver must know each others how to talk. it is hardcoded

[2019-05-08 17:21] philrich commented on #103
@proddy, i did some research and i am happy to report that i now get an answer back from the heater and the thermostat:

[code]
there are still corrupted telegrams, so not everything is well with timing i guess. but i hope we will get that fixed.

i used the logic analyzer to capture the traffic between the boiler and the thermostat to better understand the timing. every time the thermostat gets p

[2019-05-08 18:42] susisstrolch opened #108 "Reboot when connected to EMS and trying to send telnet commands"
**Bug description**
Hardware:
- EMS-Link with ESP8266-12E, EMS-Bus powered
- EMS-Link w/o ESP module, EMS-Bus powered, connected to D1-Mini-Pro (4MByte Flash)
- EMS-Link w/o ESP module, USB powered, connected to D1-Mini-Pro (4MByte Flash)
- Buderus Logano plus GB125-18
- RC35	v1.11
- Logamatic MC10	v2.07
- SAFe	v4.28

As long as the system isn't connected to the EMS-Bus telnet works as expected. S

[2019-05-08 19:20] moustic999 commented on #108
Do you have some reading on how I can upload via OTA ?

[2019-05-08 19:26] proddy commented on #108
@susisstrolch if I understand you correctly, using the 1.7 dev firmware, with the EMS connected, when opening a telnet session the ESP crashes and reboots? Does this happen when logging is activated only? Does it happen when you type a specific telnet command? How did you build the firmware? Any steps I can reproduce here? I've seen problems with the ANSI colors casusing printf() crashing but that

[2019-05-08 19:28] Th3M3 opened #109 "my EMS+Wiki"
Hi there,

I also started a wiki for my Buderus GB125 with EMS+.
Because I use another interface hardware I am actually only reading the bus.

Maybe there is something that helps here.
https://github.com/Th3M3/buderus_ems-wiki

[2019-05-08 20:52] susisstrolch commented on #108
@proddy This happens ALWAYS - using your prebuild release 1.6 or using homebrewed 1.7xxxx versions.
As soon as I connect to EMS-Bus **AND** try to send **ANY** telnet command
_`<some command>[Return]`_ the system reboots. Even a plain _`[Return]`_ in telnet leads to a reboot.

As long as I don't send anything via telnet I don't see any reaction - not even a _"Error! Unable to read the EMS bus"_...

[2019-05-08 21:01] susisstrolch commented on #108
@moustic999
If you've installed the Arduino IDE you may want to use 'arduinoOTA', which is usually in folder 'hardware/tools/avr/bin/' below your Arduino base folder.

[2019-05-09 06:14] proddy commented on #108
@susisstrolch your build configuration looks fine. What OS and Telnet s/w are you using? Ironically theres a command called 'crash dump' which displays the stack-dump that caused the crash and the line number and function where it happened. But that'll be of no help to you.

@moustic999 to OTA change two lines in your platformio.ini. It uses the ArduinoOTA library on standard port 8266. You can ch

[2019-05-09 06:31] moustic999 commented on #109
Hello,
I'm also working on the EMS+ decoding for RC300/RC310.
I'm filling corresponding page on this wiki.
It could be great to share our finding into a common place instead of duplicating the findings.
Do you have a Discord, so we could discuss our findings and validate them.

[2019-05-09 08:13] susisstrolch commented on #108
@proddy I‘ve tried
Termius - Telnet for iOS
Telnet on armlinux
Telnet on Debian / Linux Mint
Always the same Resultat.
OS: Linux Mint, ArmLinux, iOS (iPhone and iPad)

[2019-05-09 08:16] susisstrolch commented on #108
Hmm, enhancement request:
Trigger ‚crash dump‘ when Telnet Session is activated. Add a ,clean dump‘ command...

[2019-05-09 10:19] proddy commented on #108
I did a quick test using telnet on Ubuntu 19.04 and didn't get any crashes, but noticed spaces were sent to the session window which is strange. I'll look into that piece of the code tonight. I'll also try Termius.
So the reproducible test case, for example, could be
 - using the 1.6 firmware from the GitHub releases page
 - EMS bus is connected
 - use Termius on iOS/iPad
 - connect to EMS-ESP via

[2019-05-09 11:51] susisstrolch commented on #108
@proddy I also see sometimes a strange sessionwindow.
It looks like the message text after the * is overwritten by spaces.

I guess testing with 1.6, EMS Connection and a Linux based Telnet is sufficient.
You only have to press Return to trigger the problem.

Tonight I‘ll have a look with WireShark and also try with netcat.

[2019-05-09 12:10] susisstrolch commented on #108
@proddy did a quick test with netcat (which for sure doesnt send any  overhead).
Same result - reboot.

[2019-05-09 17:23] proddy commented on #108
I found the problem and working on a fix.

[2019-05-09 17:25] Th3M3 commented on #109
For me it seems not to be correct, that thelegram types >0xF0 are already EMS+ telegrams.

As I discovered [here](https://github.com/Th3M3/buderus_ems-wiki/blob/master/Einstellungen%20des%20Regelgeräts%20MC110.md#typ-0xf9-rc---mc110-abfrage-einstellungsdetails), the `f9` telegram is used to query the setting parameters (minimal, maximal, default and current value) for the desired setting.

`f7`-ty

[2019-05-09 18:42] susisstrolch commented on #108
Great!
Can you also implement an "set crashdump off/on", with default "on" and conditionally call crashDump from telnetConnected?
Or shall I create a pull request?

[2019-05-09 18:58] moustic999 commented on #109
EMS+ is an extension of EMS
so to define an EMS+ message, the EMS Type will be >=F0, then the EMS+TYPE Will be in the 2 first byte of message.

EMS
<from><to><type><offset><data>
EMS+
<from><to><type><offset><ems+type><data>

the type can be from F0 to FF, I'm not sure what it correspond
However I made some test and

F7 ... 01B9 is not the same at all than FF... 01B9

For now my priority is to get

[2019-05-09 19:06] proddy commented on #108
can you try the latest dev 1.7. I couldn't reproduce the crashes with Telnet under Ubuntu 19.10 but did using 'Get Console' and 'Termius' apps on an iPad.

the crash code is only included in the dev builds when compiled with the -DCRASH build option and then its always on capturing stack dumps after crashes. You wanr to display the crash data after a reboot only if there is data?

[2019-05-09 19:12] susisstrolch commented on #108
Can't test now - still on business trip. Unfortunately the 1.6 from github release seems to miss the OTA.
So we've to wait until WE...

crashDump: simplest would be:
[code]

[2019-05-09 19:15] proddy commented on #108
BTW Termius's Telnet behaves strangely and newlines are not echo'd. I haven't seen this with any other telnet client and there are no settings you can configure within Termius to change its behaviour. This is why lines are sometimes overwritten.

[2019-05-09 19:19] susisstrolch commented on #108
Yes, it's a bit clumpsy with non-Unix systems...

[2019-05-09 19:21] susisstrolch commented on #108
If the client only sends a '\r' it won't auto add the '\n'...

[2019-05-09 19:22] proddy commented on #108
and OTA has been in the code since version 1.1. I just built and uploaded 1.6 and tested it.

[2019-05-09 19:31] susisstrolch commented on #108
strange... I can't OTA with the 1.6 (firmware_d1_mini.bin)...

[2019-05-09 19:39] susisstrolch commented on #108
Argh... problem was on my side... Firewall enabled and VPN doesn't work very well with OTA from Visual Studio. I had to run espota.py manually - so stay tuned..

[2019-05-09 19:41] susisstrolch commented on #108
Ha... telnet works!

[2019-05-09 19:44] susisstrolch commented on #108
ok, now I also get the `Error! Unable to read the EMS bus. Retrying in 20 seconds...` when connected to the bus...
I' shure that rx/tx aren't exchanged... have to check on WE

[2019-05-09 19:47] proddy commented on #108
great, progress!

[2019-05-09 20:14] Th3M3 commented on #109
I understand the difference between EMS and EMS+ telegrams and I am sure that `f7` type is not EMS+

As I have wrote in my wiki, the `f7` telegram is sent out to hide or dis-hide some settings.

An example, on your Telegram `10 48 F7 01 FF 01 C4 00 (CRC=B6)`:

Because `f7` is an EMS-Telegram, byte 4 is the offset.
The following three bytes (`FF 01 C4`) describes the dataset, where the settings are

[2019-05-09 20:41] proddy commented on #109
That actually makes a lot of sense. One of my example telegrams I was given was `10 00 F7 00 FF 01 B9 35 19` so not sure what the last two bytes represent. They don't look like bit masks?

[2019-05-09 20:51] susisstrolch commented on #108
there's still something pretty wired. Now I only use netcat to ensure a clean protocol.
When "serial=off" I mostly get 'unknown command". Pressing [Return] pretty fast and pasting in the desired command mostly helps.
It still doesn't detect the boiler or anything else on EMSbus...

[2019-05-09 20:54] Th3M3 commented on #109
`10 00 F7 00 FF 01 B9 35 19` has two masking bytes. The `01b9` type seems to have many offsets (data bytes).

[code]

[2019-05-09 21:06] proddy commented on #108
I tested with netcat from my Ubuntu box and telnet works (as in it responds to commands and doesn't hang) but I'm not ruling out that it's 100% yet. The code is quirky in places.

As for the EMS bus, look at what the`info` command tells you. On mine it shows

[code]

[2019-05-09 21:06] proddy commented on #109
got it!

[2019-05-09 21:07] philrich commented on #103
some more findings: as you already suspected here (https://github.com/proddy/EMS-ESP/issues/103#issuecomment-487408779), what is really needed for the boiler/thermostat to answer requests is the reversed poll logic. so polls without MSB, src in requests/answers with MSB.

if i disable `EMS_Sys_Status.emsPollEnabled` tx still works, but i get polled at a much slower rate (~1sec vs ~100ms) so i thin

[2019-05-09 21:28] susisstrolch commented on #108
I still see a ```
EMS Bus stats:
  No connection can be made to the EMS bus
[code]

[2019-05-09 21:34] susisstrolch commented on #108
What I still don't understand:
- my hardware is working fine with EMSLink software
- BBQs hardware is the same as mine
- the EMS-ESP bootup distorts the EMS-Bus (as expected), so Tx and Rx are ok
- your Rx IRQ is nearly identical to mine (beneath different macros)
But it doesn't get any data with EMS-ESP...

[2019-05-09 21:41] Th3M3 commented on #109
Ok, now lets concentrate on decoding the **`01a5`** telegrams:

01B9 is 21 data byte long.

I have the same telegram/data lengths, but I get them every 60sec.
Furthermore I get shorter telegrams with different offsets in between if the values changes.

Have a look into [my telegrams](https://github.com/Th3M3/buderus_ems-wiki/blob/master/Quelle_10.md#typ-0x01a50x01a6-_heizkreise)
- At Offset `02` I

[2019-05-10 05:46] proddy commented on #108
Silly question but you know Rx & Tx are switched, so D7 and D8 in my
design? Just checking...

On Thu, 9 May 2019 at 23:34, susisstrolch <notifications@github.com> wrote:

[2019-05-10 06:06] susisstrolch commented on #108
:man_facepalming:
Only looked at the schema drawing - which shows Rx and Tx w/o pin numbers...
That explains a lot!
Will try to check this evening...

[2019-05-10 06:20] moustic999 commented on #109
Your explanation about F7 is really convincing. But I think is not yet complete.
This make sense in a Write or advertise scenario, but does not make sense in READ
Gateway send read request for these F7
in may example
(03:05:16.259) Gateway -> Thermostat, type 0x01FF telegram: 48 90 F7 01 01 FF 01 C4 (CRC=FE)
(03:05:16.286) Thermostat -> 0x48, type 0xFF01 telegram: 10 48 F7 01 FF 01 C4 00 (CRC=B6)

[2019-05-10 06:47] proddy commented on #108
That would explain it then. It was mentioned in the README and now also the wiki (https://github.com/proddy/EMS-ESP/wiki/Assembly-and-Configuration). The reason I did this is to not have the bus interfere with the ESPs boot procedure. Also I think 99% of the people purchased BBQKees's board. My design was copied from yours and I used some of the ideas in esp-link in my code too - so kudos. You are

[2019-05-10 06:48] proddy commented on #108
oh and it's also here too https://github.com/proddy/EMS-ESP/wiki/Troubleshooting#ems-bus-shows-as-disconnected

:-)

[2019-05-10 07:31] susisstrolch commented on #108
you know - a picture tells more than 1000 words... and the (wrong) schematic was burned into my brain...
I read about D7/D8 but didn't realize it... :man_facepalming:

[2019-05-10 07:41] proddy commented on #108
yes, the picture is wrong I need to update it to show D7/D8.

[2019-05-10 08:25] susisstrolch commented on #108
Did a quicktest by commenting the `system_uart_swap();` in emsuart.h
[code]
Works so far!

[2019-05-10 09:03] moustic999 commented on #109
01A5 is fired with offset 00 and offset 19 every 120 seconds.
This is the complete sending of the message.

it is also fired in between ( 60 seconds delay )  with offset 0D  with 4 bytes data. That correspond to elapsed/remaining time in this mode.
This is only the subset of the message with changed timer value.

01A5 will be also fired if any change occurs, but these are not cyclic.

this Offset

[2019-05-10 09:32] moustic999 commented on #109
my setup is the following : MC10 (EMS), BC10 (EMS), RC300(EMS+), KM200(EMS+)

The gateway send lot of message to learn capabilities of others
and  try to send this (see logs below ) to the boiler which is EMS only. the boiler just ignore these ! So I'm sure this is only used in EMS+ protocol.

These logs are the very first packet sent by the Gateway when you connect it to the bus :
[code]
 afterwa

[2019-05-10 11:43] moustic999 commented on #109
Here is the confirmation :

in the following 3 message type the byte (enclosed by ** )  showing the Target Temp Flow always change together :
[code]

[2019-05-10 14:51] Th3M3 commented on #109
Please read my question again. I did **not** ask if offset `4` is the target flow temp.
My question was if you are sure that the value must be **devided by 2**, because you wrote that on your wiki page.

[2019-05-10 15:59] moustic999 commented on #109
ah sorry, did not pay attention.
I checked twice, No the value must not be divided by 2, this is a copy/paste error in the wiki.
I changed.

[2019-05-10 16:08] FrankRenp commented on #103
Just an idea, if not already considered.
Im using Version 1.6 with Junkers ZSB 14-3 with FW120. Just listening to the Bus.
I get lots of CRC errors with different UBS-Power-Supplies - and none at all if using a battery. (Took some research...)

[2019-05-10 18:17] S-Przybylski commented on #96
Dear @proddy
i just finished the SM100 EMS+ documentation in version 1. Please have a look at it.

I have one question to you: Could you please change the implementation to always send all json elements? When the ESP8266 starts some json elements are not part of the mqtt message. Then Home Assistant throws an warning. A better solution could be, that instead of nothing a "0" or in case of the pump

[2019-05-11 07:03] proddy commented on #96
That's awesome @S-Przybylski , nice job! Very clear. Thanks for taking the time to document it.

As for the MQTT I changed all the logic in version 1.7 to only send json elements if there was actual data. Before it sent everything and systems like Home Assistant would complain about elements with values of "?". Also some users feed the MQTT data into other systems like Gafana so it's important to

[2019-05-11 07:08] proddy commented on #103
@FrankRenp that's actually really interesting. BBQKees and myself ran a few tests last year exploring this. I'll look into it again with a scope.

[2019-05-11 08:05] FrankRenp commented on #103
If found this, after having the problem: https://arduino-hannover.de/2018/07/25/die-tuecken-der-esp32-stromversorgung/ - German only.
As remedy an additional capacitor was proposed - besides good power supply and usb-cable with low resistance.
Although it was related to wireless and crash issues, it solved the CRC problems for me as well.

However, next i need to apply the path from philrich to ch

[2019-05-11 09:10] proddy commented on #103
Thanks for sharing. We've been experimenting with powering the circuit directly from the EMS bus (both the two-wires and service jack) and smoothing out the Tx signals for bbqkees' next board which will eliminate the need to use an external USB power supply.

[2019-05-11 09:42] S-Przybylski commented on #96
Dear @proddy
I checked the warnings. It seems that only the binary-sensors have problems with that. That means that only the pump is affected. Due to the fact that the pump will be updated every minute, the issue is more or less of cosmetic nature.
Please leave it as is!
Should we close the issue now?

[2019-05-11 09:51] proddy commented on #96
yes we can close this issue, but before you do I'm still interested in what error you see in HA and see he we can resolve it

[2019-05-11 09:51] #93 closed

[2019-05-11 09:53] proddy commented on #99
@besmit if you're still seeing crashes after leaving verbose logging on for a long time let me know. It may have a memory leak somewhere in the code. Doing a 'system' will show you available memory.

[2019-05-11 10:18] philrich commented on #103
@FrankRenp interesting, i will later try with different power supplies/cables/battery. unfortunately i dont't have an oscilloscope only a cheap logic analyzer. i will also post some more pictures of my logic analyzer captures maybe they are helpful.

[2019-05-11 10:59] S-Przybylski commented on #96
Here are the messages after a reboot of the ESP:
2019-05-11 12:43:51 WARNING (MainThread) [homeassistant.components.mqtt.binary_sensor] No matching payload found for entity: Solar Pump with state_topic: home/ems-esp/sm_data
2019-05-11 12:43:52 WARNING (MainThread) [homeassistant.components.mqtt.binary_sensor] No matching payload found for entity: Solar Pump with state_topic: home/ems-esp/sm_data

[2019-05-11 12:53] proddy commented on #96
i think you would need to add some conditional logic to the value_template. Something like

[code]

but haven't checked if it works. If you post a question on the HA forum I'm sure you'll get lots of useful advice.

[2019-05-12 19:48] S-Przybylski commented on #96
Dear @proddy
update: I played with your example a little bit, but without success. The warning appeared again...
I tried several different variants, like:
   value_template: >-
    {%- if value_json.pump is defined %} {{ value_json.pump }}
    {%- else %} {{ false }}
    {% endif %}

Could it be better (faster and more reliable) to set up only one MQTT sensor to catch the whole json and derive tem

[2019-05-13 06:50] SpaceTeddy opened #110 "Q: ESp32"
hi proddy,

in saw in your dev branch, that you added some code for the ESP32? Did you plan to have a release for that µC type, or it is already working?

thank a lot

chris

[2019-05-13 09:20] proddy commented on #110
I have a prototype for ESP32 but its not as stable as the ESP8266. The UART is much more tricky.

[2019-05-13 09:21] proddy commented on #96
not sure what you mean. There is one topic and one payload. There must be a general pattern that others used but haven't looked into it.

[2019-05-13 11:18] SpaceTeddy commented on #110
ok, understood.

[2019-05-13 11:18] #110 closed

[2019-05-13 18:57] FrankRenp commented on #103
@philrich It was quite obvious for my - with battery no CRC-errors at all - with power-supply lots of.  Quite easy to reproduce.

If you check it - and do not get any errors, I would check you patch, which sound understandble for me - or does the 1.7.0 version have a working Tx with you Junkers configuration?

[2019-05-14 08:08] philrich commented on #103
@FrankRenp i tried with different timings and finally found values where i don't get any crc errors at all (with std power supply and crappy cable). I will do additional research as soon as i have some time (i hope in two days).

You will need to patch even with version 1.7 because the poll logic which i have seen on my junkers (and this correlates with all other junkers users here) is exactly rev

[2019-05-14 20:07] FrankRenp commented on #103
@philrich Thanks, I'm going to check at the weekend.

[2019-05-15 06:16] proddy commented on #103
and I'll test the Poll on Buderus/Nefit boilers with the Poll having the MSB stripped so works with both 0x0B and 0x8B. I think the problem with the Tx on Junkers is that its always sending an extra 0x00 before the break/BRK/frame-error. I will need to see if this happens also on non-Junkers EMS lines and optimize the code to work with both.

[2019-05-15 07:28] moustic999 commented on #103
if I can help  taking trace or whatever on my EMS+ buderus RC300, feel free to ask ....

[2019-05-15 07:38] proddy commented on #103
@moustic999 could you replace line 569 in ems.cpp to
[code]

and see if you're still able to Tx without any retries or failures in the log

[2019-05-15 18:57] Th3M3 commented on #109
This make sense in a Write or advertise scenario, but does not make sense in READ
Gateway send read request for these F7
in may example
(03:05:16.259) Gateway -> Thermostat, type 0x01FF telegram: 48 90 F7 01 01 FF 01 C4 (CRC=FE)
(03:05:16.286) Thermostat -> 0x48, type 0xFF01 telegram: 10 48 F7 01 FF 01 C4 00 (CRC=B6)

@moustic999 You are right if you mean that `f7` appears only on EMS+ devices.
Bu

[2019-05-15 19:39] FrankRenp commented on #103
@proddy Related to Version 1.7. In platform.ink platform = espressif8266@2.0.4 seems to be required, since with 2.1.0 as per today I get an exception (3).

I applied the proposed patch from @philrich and get now Tx on and answers from the boiler, but also some corrupted Telegramms shown below. Not all but some -seems to follow a systematic.

(00:06:02.209) Sending read of type 0x18 to 0x08: telegr

[2019-05-16 06:23] proddy commented on #103
@FrankRenp what exception errors did you get with espressif2.1.0 (https://github.com/esp8266/Arduino/releases/tag/2.5.1). It seems to compile and build fine, but I haven't run any stress tests yet.

[2019-05-16 16:36] FrankRenp commented on #103
@proddy - It seems to be an upload problem... Compiling is fine if using platform = espressif8266
After upload and pressing ? in Telnet this happens,

[TELNET] Telnet server started
?
* Connected to: EMS-ESP version 1.7.0
* Device is in AP mode with SSID ems-esp
*
* Commands:
*  ?=help, CTRL-D/quit=exit telnet session
*  set, system, reboot

Exception (3):
epc1=0x40226660 epc2=0x00000000 epc3=0x00

[2019-05-16 18:09] S-Przybylski commented on #96
Dear @proddy
My idea was to get all values by one mqtt sensor and then use a template to act on needed attributes (example history graph).
Note: One value is double in the SM100 sensor. First as an state and second as an attribute. For my test i used the collector temp, because its a value which will is updated every minute:
[code]
Its working fine without any warnings. On the con side a missing p

[2019-05-16 20:05] GARLAGANDIS opened #111 "Unknown DeviceID 0x21"
![IMG_20190516_220421](https://user-images.githubusercontent.com/11977327/57883495-9a0acc00-7826-11e9-8ad5-316ffb1a327d.jpg)
![IMG_20190516_220518](https://user-images.githubusercontent.com/11977327/57883533-bf97d580-7826-11e9-999b-a3b802dd2f13.jpg)

[2019-05-17 08:25] philrich commented on #103
@proddy, i think i finally understood the timings (please correct me if i am wrong).

It is important to know that when TX FIFO is empty (after something got written to it) it doesn't mean that it was already sent out on the wire. This link https://forum.arduino.cc/index.php?topic=119044.0 (at post #13) contains more info on the matter.

The problem i see with `set tx_delay on` is that the Break s

[2019-05-17 11:43] proddy commented on #111
added, thanks for reporting.

[2019-05-17 11:43] #111 closed

[2019-05-17 12:38] proddy commented on #103
that's some good investigation @philrich , I'll take a look and compare results on my boiler tonight. I was also thinking about why you always get an extra 0x00 and perhaps the proper way is not to send the tx wait after the last byte has been sent but instead immediately follow with a BRK. So:

[code]

becomes

[code]

[2019-05-17 13:53] susisstrolch commented on #103
I thought about a different Solution. If you send the telegram in a burst, the busmaster will echo a burst. But if you ‚re sending the bytes with a delay between the master will echo each single byte.
So the idea is to send and snoop the rx-buffer. As soon as the echo arrives you can send the next one.
So you also can safely use the local loop back when sending the break signal.
Additional advanta

[2019-05-18 13:40] proddy commented on #103
@susisstrolch I think that's the right approach Juergen. You can see that same behavior in this [image](https://emswiki.thefischer.net/lib/exe/fetch.php?cache=&media=wiki:ems:ems-read.jpg) where the Rx and Tx are nicely aligned in in phase. It'll require a big change in my code since I process Rx as complete telegrams. Need to think about how best to approach this

[2019-05-19 07:28] KristofRobberechts commented on #103
I have a Junkers Cerapur with Bosch CR 100 thermostat as well. I received my bbqkees board last Friday and had the same TX issues. Out of the box with the v1.60 firmware it wasn't working. After reading this thread, I decided to apply the @philrich patch and I can confirm it's working now. I did have to set tx_delay=on. In retrospect, I realized I didn't try the v1.60 firmware with tx_delay=on, so

[2019-05-19 07:52] susisstrolch commented on #103
@proddy Ok, Plan B - non intrusive method:
New emsuart_tx_buffer()
Disable RX interrupt, clear FIFO, set loopback mode
while  chars to send
  send char
  wait for loopback response
Endwhile
Set TX-break
Wait until break detected
Disable loopback, clear FIFO, enable RX int

Now we should receive the complete package from busmaster.

[2019-05-21 18:26] FrankRenp commented on #103
@philrich Thanks for that - I applied your patch as it is to Version 1.7.1 and it works very well - no CRC errors at all and the log looks sound. I've got most of the boiler information.

These are my next steps:
- Integrate into ioBroker via MQTT for logging only - to check, if the read values are correct
- Understanding the thermosstat information (FW120) in particular how-to set the heating cur

[2019-05-21 21:50] proddy commented on #103
@philrich @FrankRenp , **susisstrolch** made the change to the Tx logic and I've merged into the latest 1.8 dev. I haven't had time to test it myself yet. Use `tx_delay 2` to enable and see if it works with your Junkers.

[2019-05-22 08:01] GARLAGANDIS opened #114 "ultrasonic sensors on the wemos?"
Is it possible to configure a few pins of the Wemos as inputs for sensors? I would like to build a level gauge for my oil tanks with a few ultrasonic sensors.

[2019-05-22 11:05] proddy commented on #114
yes, we could extend the project to support external custom code but you'll need to program the external calls yourself e.g. enabling the gpio in setup() and capturing the sending MQTT data in the loop() section. How many pins would you need?

[2019-05-22 15:46] FrankRenp commented on #103
@proddy Compile and Wifi ok, but I've got no device detection and no messages back - even not with <autodetect deep>.
See attached log.
[1.8.0b_Log.txt](https://github.com/proddy/EMS-ESP/files/3208183/1.8.0b_Log.txt)

[2019-05-22 15:48] proddy commented on #103
yup, I'm testing it now and its not working either. I'm looking at it....

[2019-05-22 16:52] proddy commented on #103
@susisstrolch this is the result of sending 0B 88 01 00 20 to the EMS bus (via a `boiler read 1` msg).
It looks like the loopback isn't working. An alternative is after Tx'ing a byte wait for the echo on the Rx. If it doesn't match or times out, cancel.

![Capture](https://user-images.githubusercontent.com/1230712/58193110-9e216880-7cc2-11e9-88ec-bf09b69571cb.PNG)

[2019-05-22 18:28] susisstrolch commented on #103
Ok - it looks like the busmaster answers in Intervalls, Even we are sending a whole telegram.
So - as you say - sending a single char and waiting for the real echo.
Nevertheless I‘d keep the loopback method to send the final Break.

Sent by mobile device

[2019-05-22 19:56] susisstrolch commented on #103
@proddy I‘ll work at ‚take two‘ - got. an additional idea about non-intrusive implementation...

[2019-05-22 20:10] susisstrolch commented on #114
Stupid question...
why not use the burner runtime (the nozzle usually have a throughput ~2.1l/hr) to calculate the consumption? I do it since 3 years - and it's much more precise than a ultrasonic sensor...

[2019-05-23 05:39] susisstrolch commented on #103
@proddy Please cherry-pick the latest commit from my repo - it contains an reconditioned version...

[2019-05-23 07:07] proddy commented on #103
ok, I'll manually merge and will ignore the PR

[2019-05-23 19:08] proddy commented on #103
@susisstrolch couldn't get it to work - Tx causes ESP resets. I was thinking of a different approach
- clear Rx, disabled interrupts
- for each byte in the Tx telegram:
  - send a byte
  - wait until same value its echo'd on the Rx
  - if its not break, and fail Tx
- finally send BRK
- enable Rx interrupts

[2019-05-23 19:38] DarthMob commented on #96
Hi guys,

first off all thanks - i tried the latest (1.7.1) version on my SM50 and ihr works!
However in mqttt i get a minus value for the energytotal
"home/ems-esp/sm_data: {"collectortemp":16.8,"bottomtemp":57,"pumpmodulation":0,"pump":"off","energylasthour":0,"energytoday":14611,"energytotal":-1263.5} "

in telnet mode - info however it shows up correct:

Solar Module stats:
    Collector tempe

[2019-05-23 19:56] proddy commented on #96
@DarthMob looks like a bug. Can you do a `log v` and capture a few telegrams that start with `30 00 FF 00 02 8E` so I can reproduce.

[2019-05-24 09:54] susisstrolch commented on #103
@proddy same here - reboot after 2-5min...
Hmm, watchdog timeout while waiting on large telegram?

[2019-05-24 10:01] proddy commented on #103
I made a mistake in my uart_stop() function. Forgot it was also used when saving to SPIFFS. fixed now.

[2019-05-24 10:10] proddy commented on #103
ok, so looking much better now with "Take Two". 100% success on all Tx. Nice work! See picture:

![2](https://user-images.githubusercontent.com/1230712/58320652-7219fa80-7e1c-11e9-8dc2-fde0e73e98ba.PNG)

only two issues to address
 1) the delay before sending BRK
 2) clear the Rx buffer to avoid the echo coming back as Corrupted telegrams, like:

[code]

[2019-05-24 10:38] susisstrolch commented on #103
it's simply because we have to wait until we received the last char

the corrupted telegram is because of BRK. Not sure if to short or to long...
Because we're surely after the last Rx char we can try to send a much longer break - f.e. 24 bit-times.

[2019-05-24 10:42] susisstrolch commented on #103
@proddy notification: edit of last message...

[2019-05-24 10:47] proddy commented on #103
I've added a line to clear the FIFO after the Tx and that tidies up the Corrupted messages. I understand the wait except now it seems its random. I'll take a few example screenshots so you can see the behaviour. Still the EMS master seems to be able to manage the inconsistencies with the timing. It'll be interesting to see if this works on EMS+ (RC300) and Junkers.

[2019-05-24 12:33] susisstrolch commented on #103
@proddy here's something wrong (emsuart.cpp, line 228):
`while ((((USS(EMSUART_UART) >> USRXC) & 0xFF) < len) || (U0IS & (1 << UIBD)))`
I think it should be
`while ((((USS(EMSUART_UART) >> USRXC) & 0xFF) < len) || !(USIS(EMSUART_UART) & (1 << UIBD)))

[2019-05-24 12:59] proddy commented on #103
I'll try that too. And yes, its a bit of a mi, like U0IS for reading the interrupt on UART0 is the same as USIS(EMSUART_UART). We should fix that and make the code more readable.

[2019-05-24 13:09] proddy commented on #103
@susisstrolch the while didn't work. I made a few other changes and will collect sample data so we can see what's happening.

[2019-05-24 13:44] susisstrolch commented on #103
See PR #116 - works fine here...
Maybe we should add a additional setting - number of bits for BRK - instead of fixed value...
`delayMicroseconds(34 * EMSUART_BIT_TIME);`
So the Junkers users could test the optimum BRK length...

[2019-05-24 14:50] proddy commented on #103
I manually merged your emsuart.cpp and it's not working for me. Not a single Tx is getting through. while your previous version (in my github dev branch) seems to work fine flawlessly. I'll need to check with the logic analyzer. Are you sure it works on your end?

[2019-05-24 15:08] susisstrolch commented on #103
Jep - it runs since 2hr with log v.
Simple use the whole tx-Funktions

[2019-05-24 15:16] susisstrolch commented on #103
I mean the whole emsuart.cpp. It‘s based on your latest commit.

[2019-05-24 15:42] proddy commented on #103
cool. ok @philrich you have the infinity stones. Does the latest build work with Junkers?

[2019-05-24 16:50] rskallies opened #117 "Unrecognized device found. DeviceID 0x09, ProductID 152, Version 03.01"
Running the latest dev with EMS+ / TX fixes my devices are found:

Junkers Cerapur ZSB 14-5C boiler recognized by autodetect as
Model Buderus Logamax U122 (DeviceID:0x08 ProductID:203 Version:02.04), most values seems to be ok but some are not.

My thermostat a Bosch EasyControl CT200 is still a unknown device ->

0x09 -> me, type 0x02 telegram: 89 0B 02 00 98 03 01 (CRC=75) #data=3
Unrecognized d

[2019-05-24 16:51] DarthMob commented on #96
Thanks for the fast reply @proddy
Please find attached the log. Hope this can clear things up...?
[log.txt](https://github.com/proddy/EMS-ESP/files/3217837/log.txt)

[2019-05-24 18:21] philrich commented on #103
I will test your patches as soon as I find some spare time (tomorrow I think)

[2019-05-25 06:46] susisstrolch commented on #103
Just checken again- It seems Tx doesnt‘t work - neither with tx_delay 2 nor tx_delay 1

[2019-05-25 08:49] proddy commented on #103
works fine on mine each time using the latest dev build, with your code (tx_delay 2) `log v` and `refresh` get a 100% success rate with no errors. tx_delay if 0 (my old code) works too but with the occasional corrupted messages due to collisions. tx_delay 1 never worked but was added for EMS+.

Since version 1.6 I started capturing the time between polls from the master hoping this can be used to

[2019-05-25 09:29] susisstrolch commented on #103
I‘ll check latest dev later.
Tx_delay=1 worked in the past with normal EMS

Sent by mobile device

[2019-05-25 18:31] KristofRobberechts commented on #103
I tried version 1.8.0b3 on my Junkers boiler, it didn't work. I can't connect to wifi anymore when the EMS bus is connected. As soon as I disconnect EMS, I can telnet to it again. Tried tx_delay 1 and 2, same result.

[2019-05-25 20:19] philrich commented on #103
ok, did a very quick test with recent source: tx_delay 1 gives crc errors, tx_delay 2 results in a reboot loop.
apart from that: i did a very quick look at the source: what is really important for junkers users to get a response: the poll arrives without MSB but the response needs to set MSB on src. please see my last patch and search for `emsReverse`.
for sending i think (as @susisstrolch wrote)

[2019-05-26 10:26] proddy commented on #103
@philrich I've merged your code into the dev branch and made some small changes. `tx_delay 3` will enable your logic. This way we can keep experimenting until we find a solution that works with both ems, ems+ and heatronics.

[2019-05-26 11:07] susisstrolch commented on #103
Seems it‘s time to rename tx_delay to tx_mode... 😬

Sent by mobile device

[2019-05-26 11:09] philrich commented on #103
Thanks @proddy this sounds like a good idea.

[2019-05-26 11:10] proddy commented on #103
Yup. Was very tempted to change it but was worried I might confuse people.

On Sun, 26 May 2019 at 13:07, susisstrolch <notifications@github.com> wrote:

[2019-05-26 15:45] proddy commented on #44
Support added in the latest dev 1.8 release.
https://github.com/proddy/EMS-ESP/releases/tag/1.8

[2019-05-26 15:57] proddy commented on #117
Hi @rskallies. Thanks for the info, I've added the device and the onboard controller which is type 0x09

Which values from the boiler don't seem to be correct? The Junkers heatronic3 protocol behaves a little differently but if you can provide examples we can work on the mapping.

[2019-05-27 08:22] susisstrolch commented on #103
Finally I fixed the tx_mode=2. Only caveat: we get a trailing phantom \0 in Rx-FIFO when receiving the telegram echo from busmaster. This is because we create the BRK in loopback mode.

[2019-05-27 09:08] susisstrolch commented on #103
see #119

[2019-05-27 11:19] susisstrolch commented on #103
Also fixed the phantom break problem - see #119

[code]
Seems info (tx_mode) needs a fix...

[2019-05-27 12:42] proddy commented on #103
PR #119 works great. Also fixed the typo in Tx_mode

[2019-05-27 13:17] lobocobra commented on #4
Had the same problem and it occured when I put into platformio.ini "ticker" with a version
=> then it gets (as described by proddy) another version.

For me it solved to delete the complete folder .`piolibdeps`

[2019-05-27 13:19] lobocobra commented on #108
For those who can not update to the last version due to own modifications.
=> remove espressiif8266 which are not 2.04, means delete all version EXCEPT 2.04 and prevent upgrade after!

[2019-05-27 15:02] susisstrolch commented on #108
@lobocobra here's just the other way around... upgrading to 2.2.1 and removing older ones fixed my reboot problem...

[2019-05-27 15:06] KristofRobberechts commented on #103
I tried version 1.8.0b7, but tx_mode 2 or 3 don't work on Junkers, queue is filling up. At least it's not hanging the esp anymore.

When I applied the @philrich patch on 1.7.1 it works.

[2019-05-27 15:07] proddy commented on #108
I would also recommend upgrading to the latest PlatformIO version 4 (`sudo pio upgrade --dev` or `platformio upgrade --dev`). It works so much better and you can use my optimized platformio.ini file. Also delete all the .pio* directories as with version 4 it will only create one.

[2019-05-27 15:08] proddy commented on #103
oh that sucks. btw tx_mode 3 should be the same as philrich's original code. I guess he needs to look into it.

[2019-05-27 15:31] philrich commented on #103
will look into it as soon as i am at home.

[2019-05-27 18:55] philrich commented on #103
see this small patch (as already sayed: MSB ist not set on poll by my junkers): [ems-junkers-1.8.0b7.patch.txt](https://github.com/proddy/EMS-ESP/files/3224765/ems-junkers-1.8.0b7.patch.txt)
with this patch, latest 1.8.0b7 dev version works for me. 👍
my original idea was to set emsReverse automatically if we see a poll without MSB, but i don't know if maybe some boilers poll with both types .. res

[2019-05-27 19:08] KristofRobberechts commented on #103
The patch works for me too, using `tx_mode 3`

[2019-05-27 19:11] philrich commented on #103
just tested with `tx_mode 2`. i had to enable `emsReverse` for this mode with this change in `ems.cpp` at line 346:

[code]

after this it works fine! see logic analyzer capture
<img width="1048" alt="Bildschirmfoto 2019-05-27 um 21 05 14" src="https://user-images.githubusercontent.com/17569738/58436025-a400ba80-80c3-11e9-81d1-14882e043c0f.png">

i'll let this run until tomorrow and see how many c

[2019-05-27 19:55] proddy commented on #103
@philrich thanks for checking. On my EMS the bus master sends out both 0x0B and 0x8B (with MSB set) so I couldn't use your trick to set the emsReverse. I think perhaps the best way is to set emsReverse if a Junkers heatronic is detected upon startup when it queries the versions - at the moment there is a single productID of 95 (`ems_devices.h`). But perhaps someone can think of a better idea? Idea

[2019-05-27 20:16] KristofRobberechts opened #120 "Support for multiple heating circuits"
Hi Proddy,

I have a set up with a Junker Cerapur, connected to a MM200 mixer and 2 Bosch CR 100 thermostats. I have two separate heating circuits I can control with the mixer. The MM200 has 2 channels. I've been experimenting a bit with giving different device ID's to my devices.

When I select circuit 1 in my thermostat, it uses device address `0x18`. However, when I select circuit 2, the device

[2019-05-27 20:50] proddy commented on #23
@darookee @kwertie01 would you guys mind testing the latest dev build. It has some new Tx logic, so please test reading and writing in `tx_mode 2`. thanks

[2019-05-28 08:53] kwertie01 commented on #103
This morning I did a couple of tests with the DEV version 1.8.0b8
Products used:
- Boiler: Sieger BK15 Boiler/Nefit Smartline (ProductID:64 Version:03.02)
- Thermostat: RC30/Nefit Moduline 400 (ProductID:78 Version:02.20)

**tx_mode 0:**
This is not working in my environment. My boiler needs to echo back every transmitted byte and that takes time, This is why I started to add the delay in the firs

[2019-05-28 08:54] darookee commented on #23
I just tried these and they all did something:
[code]
`boiler tapwater <on|off>` did not change anything but maybe the boiler does not support it. Here is the log:

[code]

[2019-05-28 10:05] kwertie01 commented on #23
@darookee I wrote my findings to issue #103
And just to let you know: boiler tapwater on/off is also not working for me. I can turn off the 3-way valve but not enable it. (Reset from Testmode type 0x1D is not working for me.) I try to look into this later and maybe make a separate issue and not to mix up with this topic.

[2019-05-28 11:15] susisstrolch commented on #108
It starts rebooting again. Got a stack dump...
Maybe showing the last restart reason when opening the telnet session could help a bit finding the real issue...

[code]

[2019-05-28 11:22] proddy commented on #23
thanks @darookee for checking. Please log a new issue for the 3-way valve. I'll also check the code and try it at home next week when I'm back from travels.

[2019-05-28 11:25] proddy commented on #108
do you get this all the time? What I could do is provide a firmware.bin to try. Quickly looking at the stack it looks like the OTA code

[2019-05-28 12:25] proddy commented on #108
and you do you get this all the time, or after an ORA upload or during telnet? It will help me pinpoint the root cause.

[2019-05-28 14:32] susisstrolch commented on #108
I got the coredump only once. But ongoing reboots. Also when MQTT is disabled.

[2019-05-28 15:35] proddy commented on #108
oh, thats bad. Can you wipe the esp (pio run -t erase) and rebuild the firmware. It'll start in AP mode and with Serial set. do a `system` to capture the ESP details and then change the password. I need to re-produce here to fix the issue

[2019-05-28 15:45] #108 closed

[2019-05-28 15:47] susisstrolch commented on #108
Stupidity... had two EMS-bridges connected to the bus - my old EMS-Link and the EMS-ESP. Seems that was a bit too much current...
So I only have to add EMS_Boiler.burnWorkMin and heatWorkMin to MQTT data to completely replace the old one...

[2019-05-28 15:55] susisstrolch commented on #108
for the files...
[code]

[2019-05-28 18:33] proddy commented on #103
@kwertie01 thanks for testing. I've modified the code with your suggestions.

[2019-05-28 18:37] proddy commented on #23
@darookee I found the bug with the tap water. doing a quick fix now

[2019-05-28 18:51] m1588 commented on #103
I can confirm that my HT3 bosch condens 2500 TX works perfect with ems-junkers-1.8.0b7.patch.txt and tx_mode=3.
Great job, guys, thats really appreciated.

[2019-05-28 19:17] proddy commented on #103
@m1588 could you also try with `set tx_mode 2`. This is the latest greatest code by susisstrolch and should work for ems, ems+ and heatronics.

[2019-05-28 19:31] rskallies commented on #117
Thank you for clarification about the device unknown device ID was the controller and of course for adding it.  Because TX was not working the last few days until now (latest dev with ems-junkers-1.8.0b7.patch and tx_mode 3) I didn't play further.

I just have finished a deep EMS scan and the results show two boilers, were only the last in the list is correct, besides the fact that I have only one

[2019-05-28 19:57] proddy commented on #45
re-opening to have another look at supporting Bosch Easy devices

[2019-05-28 20:00] proddy commented on #117
this is strange. In https://github.com/proddy/EMS-ESP/issues/45 there were also issues with the Bosch Easy.

Could you try a few things
1. leave `log v` on and see if there are messages coming from the Thermostat. See if the Device id is 2
2. with `log v` on do the `autodetect deep` again and capture the log. Sorry, it'll be huge but I'm interested in seeing what comes back. Best attach the file t

[2019-05-29 05:47] m1588 commented on #103
tx_mode 2 does not work for me (I have upgraded to latest 1.8.0b9), no messages are sent and the queue is filling.

[2019-05-29 06:09] proddy commented on #103
@m1588 that's a shame, I thought we nailed it. Do you happen to have a logic analyzer? Strange that the HT3 between philrich's Junkers CerastarComfort would differ from your Bosch 2500.

[2019-05-29 06:18] m1588 commented on #103
@proddy I have ordered analyzer from aliexpress, should come within a month.
My boiler has reversed logic and tx_mode 3 works only with patch

I also think that mode 2 and mode 3 different in terms of reverse logic, I believe thats the reason that the only working mode is 3.

[2019-05-29 06:20] philrich commented on #103
@m1588 i think you have to change the function `ems_setTxMode` as explained below (see https://github.com/proddy/EMS-ESP/issues/103#issuecomment-496288145). if you have a junkers (or maybe other HT3 boilers)  then the poll logic is reversed (in my testings)

[2019-05-29 06:27] m1588 commented on #103
@philrich correct, with reverse logic enabled mode2 works now, thanks!

[2019-05-29 06:29] philrich commented on #103
i think we have a checken-egg-problem here. on my junkers a got no response from the busmaster until i changed the poll logic to be reversed. so querying the version does not work.

maybe it would be a good idea to make detection like this:

- on startup snoop all poll values for 1 or more cycles
- if `0x8B` is found: `emsReverse = False`
- if `0x0B`is found but not `0x8B`: set `emsReverse = True`

[2019-05-29 06:33] susisstrolch commented on #103
@proddy can you have a look at emsuart.cpp, emsuart_tx_brk(), line 185?
[code]
IMHO the delay in emsTxMode3 is a bit critical. According what I know about BRK, a short BRK should be > 11bit and < 2char times. Long BRK are longer than 2char and can go up to 50ms...

[2019-05-29 07:00] rskallies commented on #117
Nothing is printed from the device ID 2.

See attached log file.

I'm really want to help here!

[autodetect_deep.log](https://github.com/proddy/EMS-ESP/files/3231112/autodetect_deep.log)

[2019-05-29 07:12] proddy commented on #103
Yes its too long. I didn’t write that piece and it worked for others with
HT3 so I left it in. However good news is that txmode 2 seems to work for
everyone now so eventually I’ll remove txmode and use your new logic

On Wed, 29 May 2019 at 08:33, susisstrolch <notifications@github.com> wrote:

[2019-05-29 09:37] proddy commented on #103
The idea in the latest build was to automatically set the reverse flag when
it detects a Junkers. For some reason that didn’t work with your boiler
device. I’m away for a week so can’t check but look at code changes I
submitted yesterday.

On Wed, 29 May 2019 at 08:27, m1588 <notifications@github.com> wrote:

[2019-05-29 15:36] darookee commented on #23
I tried the latest dev branch, tapwater still says 'off'. But I'm not even sure what this should show for my boiler. Which information is beeing read to display this? I have 'Warm water activated' 'on' and I'm not sure my boiler can distinguish between tapwater and warm water...?

[2019-05-29 16:38] moustic999 commented on #103
Hi all, I finally got time to test on my system
reminder : buderus GB162 (with MC10/BC10, EMS ) and Thermostat RC300, EMS+
I tried all tx_mode 0->3
in mode 0, tx does not work
all others mode seems to work the same and tx works as well. I did only tried send Version request to the boiler and to the thermostat
So, works for me : 1,2,3

[2019-05-30 11:47] FrankRenp commented on #103
1.8.0b9 does not work with my Junkers (with tx_mode=3), philrichs patch (https://github.com/proddy/EMS-ESP/issues/103#issuecomment-493368592) still works.

[2019-05-30 12:02] philrich commented on #103
@FrankRenp can you try with `tx_mode 2` and the modification from here: https://github.com/proddy/EMS-ESP/issues/103#issuecomment-496801123. then it should work.

@proddy i checked your latest commit. i will try to get your `detectJunkers` function to work.

[2019-05-31 08:32] FrankRenp commented on #103
@philrich: Did so - but tx: no signal. (for both tx_mode 2 and tx_mode 3)

:EMS Bus stats:
:  Bus is connected
:  Rx: # successful read requests=0, # CRC errors=1
:  Tx: no signal

With Version 1.7.1 and your patch (https://github.com/proddy/EMS-ESP/issues/103#issuecomment-493368592) it looks like this:
:EMS Bus stats:
:  Bus is connected
:  Rx: Poll=32 ms, # Rx telegrams read=10, # CRC errors=0
:

[2019-05-31 19:58] philrich commented on #103
@FrankRenp do you have this patch applied? -> https://github.com/proddy/EMS-ESP/issues/103#issuecomment-496285679. look at `src/ems.cpp` around line 709. it should look like
[code]
this is needed, otherwise reverse poll logic does not work.
also you need to modify `ems_setTxMode` as in https://github.com/proddy/EMS-ESP/issues/103#issuecomment-496288145 for `tx_mode 2` to work.

for me this works v

[2019-06-01 19:24] KristofRobberechts commented on #103
@philrich Tried it with `tx_mode 2` and reverse logic, it's working on my Junkers.

`* Connected to: EMS-ESP version 1.8.0b9`

`EMS Bus stats:`
`Bus is connected`
`Rx: # successful read requests=44, # CRC errors=0`
`Tx: Last poll=1.466 seconds ago, Tx mode=2, # successful write requests=0`

It seems like the reverse logic is the golden ticket. I'll leave it running for a while and see what happens

[2019-06-02 06:45] FrankRenp commented on #103
@philrich : Thanks, that was it. Running fine with the two patches in src/ems.cpp

[2019-06-02 07:18] FrankRenp opened #122 "unknown? (DeviceID:0x10 ProductID:192 Version:53.02) (FW120)"
These 2 EMS devices were detected:
 Bosch Condens 2500/Junkers Heatronics3 (DeviceID:0x08 ProductID:95 Version:18.08)
 unknown? (DeviceID:0x10 ProductID:192 Version:53.02)

Unknown device is a Junkers FW120.

![Junkers_FW120](https://user-images.githubusercontent.com/46407460/58758143-2996c700-8517-11e9-9783-64926850df40.jpg)

[2019-06-02 21:28] FrankRenp commented on #103
@philrich - too early too happy - connection to bus is getting lost after 2 - 4 hours.
With 1.7.1 there were no connection losts.

[2019-06-02 21:41] philrich commented on #103
@FrankRenp what do you mean with "connection lost"? i think there where more changes to the code apart from the uart. which tx_mode did you use? if 2, can you try with 3 (or vice versa)?

[2019-06-03 09:41] philrich commented on #103
@proddy i fixed a bug in `ems_detectJunkers`, please see this patch: [ems-junkers-detect.patch.txt](https://github.com/proddy/EMS-ESP/files/3246836/ems-junkers-detect.patch.txt). tx works for me with this patch (emsReverse gets set).
I'm not sure if this would work for everyone as you said your boiler polls with `0x0B` and `0x8B`. so the change in line 700 of ems.cpp maybe is problematic but neede

[2019-06-03 12:48] proddy commented on #103
I’ll try this out next week when I’m back. The logic seems correct as Buderus boilers send out polls on both 0b and 8b. I was thinking of adding a flag in ems_devices.h next to a boiler or thermostat if it’s needs the reverse logic. Then during startup force a version check like we do now on both normal and switched logic

[2019-06-03 15:55] FrankRenp commented on #103
@philrich I tried tx_mode 2 - now I'm running with tx_mode 3 and report the results either after a problem or in case it was running successfully one day.
"Connection loss" -> EMS Bus connection lost, no messages, LED flashing

[2019-06-03 20:12] S-Przybylski commented on #96
Dear @DarthMob
i just tried a quicktest using EMS-ESP version 1.8.0b9. With my SM100 everything works as expected. All values are positive:
[code]
Regarding your logfile: I do not find any EMS+ 0x28E message in your logfile. Perhaps you should capture the log more than one hour to get that message.

[2019-06-04 19:36] higgers opened #123 "Can't build current dev branch 1.8.0"
Hi Proddy,

I just downloaded the dev build to try out the new transmit modes to see if any of them solve the issue I have with the boiler not receiving any telegrams.  However, I'm failing at the first hurdle, Visual Studio Code is outputting the following error when I hit the build button:

[code]

I've copied the platform.ini.example to platform.ini and adjust the upload_port:

[code]

Any idea

[2019-06-04 20:39] proddy commented on #123
The ini file is built using platformio version 4. Try

pio upgrade --dev

On Tue, 4 Jun 2019 at 15:36, higgers <notifications@github.com> wrote:

[2019-06-04 20:41] higgers commented on #123
That fixed it, you're a legend!  Thanks!

[2019-06-05 18:18] #123 closed

[2019-06-05 19:18] proddy commented on #122
thanks, added to ems_devices.h and it'll be in the next build

[2019-06-05 19:18] #122 closed

[2019-06-05 19:22] Frederik-V opened #124 "unknown? (DeviceID:0x11 ProductID:71 Version:02.00) - Buderus WM10"
unknown? (DeviceID:0x11 ProductID:71 Version:02.00)

Unknown device is a Buderus WM10

[2019-06-05 19:26] Frederik-V opened #125 "unknown? (DeviceID:0x21 ProductID:69 Version:02.01) - Buderus MM10"
unknown? (DeviceID:0x21 ProductID:69 Version:02.01)

Unknown device is Buderus MM10 HC2
(HC2 = Heating Circuit 2 = Floor heating)

[2019-06-05 19:37] proddy commented on #124
thanks, added in next build

[2019-06-05 19:37] #124 closed

[2019-06-05 19:38] proddy commented on #125
thanks, added in next build.

[2019-06-05 19:38] #125 closed

[2019-06-05 19:47] Frederik-V opened #126 "Device mix (DeviceID:0x08 ProductID:64 Version:03.05)"
I have a Buderus GB152-24T combi boiler (central heating + domestic home water) installed.

readout: DeviceID:0x08 ProductID:64 Version:03.05

TO BE ADDED: Buderus MC10/UBA 3

READOUT NOW: Sieger BK15 Boiler/Nefit Smartline

[2019-06-05 20:07] Frederik-V opened #127 "Buderus RC35 deviceID issue"
Via the 'devices' command, following EMS device is detected:

"RC35 (DeviceID:0x08 ProductID:86 Version:21.08)"

Strange enough, when I take a look into the service menu of my Buderus RC35 thermostat, the RC35 should have address 16 (or 0x10) and the version is 21.08

What can be the reason for this mixup?

[2019-06-05 20:21] proddy commented on #127
that looks like a bug indeed. The code looks ok so not sure what is happening. When you start up what do you see when it does the autodetect, e.g. "Thermostat found. Model RC35.....". Is the information correct there too?

[2019-06-05 20:22] Frederik-V commented on #80
Dear @lobocobra.

I'm pretty new on this fora and starting to explore the possibilities of the EMS-ESP.
On top, I'm a Home Assistant (HA) user in order to control my home domotica.

I was very enthusiastic to read on the fora that it is possible to control the 2 heating circuits.
I'm using HC1 for radiators in the bedrooms (level 1), HC2 as floor heating (level 0).

Is there a possibility to contr

[2019-06-05 20:26] proddy commented on #126
I'm guessing the Sieger BK15 Boiler, Nefit Smartline and Buderus GB152 are all the same h/w internally. I'm not sure how to differentiate from the types. Perhaps there is more data from the Version telegram we could use. Could you try sometime to do a `boiler read 2` and see what data comes back and whether its more than just the product id and version.

[2019-06-05 20:29] Frederik-V commented on #127
using the 'DEVICES' command:

_These 6 EMS devices were detected:
 SM10 Solar Module (DeviceID:0x30 ProductID:73 Version:02.00)
 Sieger BK15 Boiler/Nefit Smartline (DeviceID:0x08 ProductID:64 Version:03.05)
 BC10/RFM20 Receiver (DeviceID:0x09 ProductID:68 Version:02.03)
 RC35 (DeviceID:0x08 ProductID:86 Version:21.08)
 unknown? (DeviceID:0x11 ProductID:71 Version:02.00) -**> bug report is written*

[2019-06-05 20:38] Frederik-V commented on #126
_boiler read 2_
**Boiler found. Model Sieger BK15 Boiler/Nefit Smartline (DeviceID:0x08 ProductID:64 Version:03.05)**

[2019-06-05 20:39] proddy commented on #127
ohh there's definitely something strange going on. Could you do a `log v` and then an `autodetect` again? I want to see the read commands to find out where the bug in the code is. It's mixing up the deviceids as you correctly pointed out earlier.

[2019-06-05 20:41] proddy commented on #126
sorry I meant with verbose logging, so first do a `log v` . Also do a `thermostat read 2`

2 is the telegram type ID for Version

[2019-06-05 20:45] Frederik-V commented on #127
**autodetect**
Started scan on EMS bus for known devices
Requesting type Version(0x02) from dest 0x02
Requesting type Version(0x02) from dest 0x08
Requesting type Version(0x02) from dest 0x09
Requesting type Version(0x02) from dest 0x10
Requesting type Version(0x02) from dest 0x11
Requesting type Version(0x02) from dest 0x17
Requesting type Version(0x02) from dest 0x18
Requesting type Version(0x02

[2019-06-05 20:51] Frederik-V commented on #126
**boiler read 2**
Requesting type Version(0x02) from dest 0x08
(04:01:11.871) Sending read of type 0x02 to 0x08: telegram: 0B 88 02 00 20 (CRC=BC)
(04:01:11.908) Boiler -> me, type 0x02 telegram: 08 0B 02 00 40 03 05 (CRC=71) #data=3
<--- Version(0x02)
Boiler found. Model Sieger BK15 Boiler/Nefit Smartline (DeviceID:0x08 ProductID:64 Version:03.05)
(04:01:12.019) Boiler -> all, type 0x07 telegram:

[2019-06-05 20:54] philrich commented on #103
@proddy i had the same happening to me two times (latest version). hmm, it seems there was some bug introduced which causes the bus to disconnect after some time. how could i debug this?

[2019-06-05 20:59] proddy commented on #127
and after that last autodetect command, doing a `devices` doesn't show the RC35 in the list?

[2019-06-05 21:04] Frederik-V commented on #127
It shows the RC35 as (DeviceID:0x08 ProductID:86 Version:21.08), but that should not be the case

[2019-06-05 21:05] proddy commented on #103
I've just experienced this now myself, after 10 minutes it resets. Strange thing is that there is no crash data so its not a hard WDT reset. Useful commands are `system` and look for the Uptime to see how long the ESP has been running and another command is `crash dump` which will show the stack dump which can be copied into a file and analyzed to find at which function/line in the code it bombed.

[2019-06-05 21:08] proddy commented on #127
ok, then the bug is in the list and the way I sort it. It shouldn't affect the behavior of the code. I'll send you a modified version of the ems.cpp file with more debugging later this week so we can see where it is actually failing. Probably in the _addDevice() function.

[2019-06-05 21:20] Frederik-V commented on #77
I have also a Buderus SM10 module.
Looking to the 'INFO' command's feedback, it shows following parameters:

_Solar Module stats:
    Collector temperature: 12.1 C
    Bottom temperature: 55.9 C
    Pump modulation: 0 %
    Pump active: off
   ###  Energy Last Hour: ? Wh
    Energy Today: ? Wh
    Energy Total: ? kWH_

What is the issue regarding the Energy values? I didn't show this energy values

[2019-06-06 04:58] FrankRenp commented on #103
@philrich, @proddy I did not observe that problem with the patched Version 1.7.1 - yesterday I had an uptime some days. So for me it seems, that the bug has been introduced later.

[2019-06-06 06:25] proddy commented on #103
@FrankRenp yes, I'm getting resets every 15mins with 1.8.x dev and 1.7.1 master is stable, both using the same esp core libraries so I expect its somewhere in the code. I'll do further investigation this week to find what is causing the resets

[2019-06-08 09:22] Frederik-V opened #129 "Setting OTA parameters (update process) via Telnet"
Dear.

Is there a possibility to update (via OTA) the EMS-ESP Wemos D1 firmware via the Telnet ?
This by changing parameters via Telnet afterwards instead of before the first .BIN flash:
_; for OTA comment out these sections
;upload_protocol = espota
;upload_port = ems-esp.local
;upload_port = <or add here the IP of the ESP8266>_

Or is this already implemented? If that is the case, can some one g

[2019-06-08 12:37] proddy commented on #129
I'm not sure I understand what you're trying to do. The normal way to
upload is via OTA using the command line or via Platformio as described in
the wiki. It is possible to upload via http too but that would mean
starting a web server on the esp which eats even more memory and don't
think anyone would use it.

On Sat, 8 Jun 2019 at 11:22, Frederik-V <notifications@github.com> wrote:

[2019-06-08 20:38] proddy commented on #117
could you try again with the latest dev build? do a `set tx_mode to 2` and do an `autodetect deep` and see what it detects

[2019-06-09 12:30] proddy commented on #23
From the boiler, I fetch both the Hot tap water: on/off and Central heating on/off. On my boiler this is shown as a tap icon or a radiator icon for example. Note this is different to the tapwater logic which basically switches off the feeding hot water into the tap water which I use to send blasts of cold water to a running shower as a sort of alarm.

What are you trying to do and what exactly is

[2019-06-09 12:33] proddy commented on #120
this is possible to add, but it'll take some work and I think you would need to do most of the work as most of us don't have the setup to test with. Would you want multiple heating circuits on a single thermostat or the ability to separately manage multiple thermostats?

[2019-06-09 12:33] #114 closed

[2019-06-09 12:35] proddy commented on #98
can you try again with the latest dev built and set tx_mode to 2 ?

[2019-06-09 12:36] #104 closed

[2019-06-09 12:37] #44 closed

[2019-06-09 12:37] #99 closed

[2019-06-09 19:43] DarthMob commented on #96
Hi @S-Przybylski
I have a SM50 ([Buderus Link](https://www.buderus.de/de/produkte/catalogue/alle-produkte/7606_solarmodul-logamatic-sm50)) - maybe the Message header is different?
However during the logfile capute i received updated solar values in mqtt. The information must be there?

[2019-06-09 20:12] proddy commented on #96
@DarthMob it's probably an issue in how the JSON is rendered. Could you add a line in `ems-esp.cpp` to print out the real value before it's sent via MQTT. So somewhere around line #765 after the ` if (EMS_Other.SM) {`

add  `myDebug("!! value = %d",  EMS_Other.SMEnergyTotal);`

then upload, wait a while, do a `publish` and see what the value is. Hopefully its not negative!

[2019-06-10 07:46] rskallies commented on #117
Running latest EMS-ESP version: 1.8.0b12:

After a fresh reboot the  "simple" autodetect routine prints this:

autodetect
Started scan on EMS bus for known devices
Device found. Model Junkers Controller with DeviceID 0x09, ProductID 152, Version 03.01
Boiler found. Model Buderus Logamax U122/Junkers Cerapur (DeviceID:0x08 ProductID:203 Version:02.04)
Boiler found. Model Buderus GB172/Nefit Trendli

[2019-06-10 08:01] proddy commented on #117
yes please.
`set tx_mode 2`
`log v`
`autodetect`
leave it for about 10-15 seconds and then send over the log. I'm interested in all the yellow lines which have "-> me".

[2019-06-10 08:13] rskallies commented on #117
Here are the relevant lines, the full log is attached below.

(00:01:26.026) Boiler -> 0x18, type 0x33 telegram: 88 18 33 01 FF 38 FB 00 28 00 02 46 00 (CRC=B0) #data=9
(00:01:28.288) Sending read of type 0x02 to 0x09: telegram: 0B 89 02 00 20 (CRC=B4)
(00:01:28.322) 0x09 -> me, type 0x02 telegram: 89 0B 02 00 98 03 01 (CRC=75) #data=3
<--- Version(0x02)
Device found. Model Junkers Controller with

[2019-06-10 10:30] proddy commented on #117
ok, this was tricky. I made some changes - if you have time can you try again?

[2019-06-10 10:50] rskallies commented on #117
Yes, this worked! Thank you for digging into this 👍
[log.txt](https://github.com/proddy/EMS-ESP/files/3271735/log.txt)

[code]

[2019-06-10 11:02] proddy commented on #117
great!

[2019-06-10 11:02] #117 closed

[2019-06-10 14:11] proddy commented on #126
this was added in the dev build.

[2019-06-10 14:11] #126 closed

[2019-06-10 14:14] proddy commented on #127
could you try again with the latest build?

[2019-06-10 14:35] FrankRenp commented on #103
@proddy - I noticed yesterday, that I also get the connections losses after 1-2 days with the 1.7.1 version...

[2019-06-11 08:21] proddy commented on #103
@FrankRenp I've traced the software resets on 1.8.x dev to the 'phantonbrk' logic that's used when in 'tx_mode 2'. Working on a fix. I also added the restart info and root cause to the `system` command so if it does reset after 1-2 days we'll be able to find out. Note the ems bus will disconnect and reconnect if the ESP reboots but also if the wifi signal is interrupted, so it may be misleading.

[2019-06-11 09:18] FrankRenp commented on #103
@proddy Thanks - very helpful. Since I have a weak wifi link I should rectify this first. Is there an automatic reconnect without a reboot in case of a wifi connection lost?

[2019-06-11 09:46] proddy commented on #103
yes, it does an automatic request and picks up from where it last left off.

On Tue, Jun 11, 2019 at 11:18 AM FrankRenp <notifications@github.com> wrote:

[2019-06-11 20:31] proddy commented on #103
Think I fixed the restarts - latest build 1.8.0b14

[2019-06-12 17:26] FrankRenp commented on #103
@proddy Get nearly immediate restarts with tx_mode 2 and tx_mode 3

[CRASH] Last crash was 0 days 0 hours 0 minutes 4 seconds since boot time
[CRASH] Reason of restart: 2 - Fatal exception
[CRASH] Exception cause: 28
[CRASH] epc1=0x40227694 epc2=0x00000000 epc3=0x00000000
[CRASH] excvaddr=0x00000000 depc=0x00000000
[CRASH] sp=0x3fffff30 end=0x3fffffc0

3fffff30: 00000020 3fff3c10 0000000d 40217fe2

[2019-06-12 17:45] proddy commented on #103
Oh poop.

On Wed, 12 Jun 2019 at 19:26, FrankRenp <notifications@github.com> wrote:

[2019-06-12 18:03] FrankRenp commented on #103
@proddy Please note, that tx_mode 2 seems to works well so far - Obviously I've updated the commend after you read it, sorry.

[2019-06-12 19:53] susisstrolch commented on #103
@FrankRenp could you analyse the crash dump to see where it bailed out?
I see a similiar behaviour with Master, replacing the tx with a plain txmode 2.
will try a modified EMSlink hardware, cause I‘m Not shure if I have a power supply problem.

[2019-06-12 20:06] FrankRenp commented on #103
@susisstrolch I could - if you tell me, what I need to do. I added the crash dump for tx_mode 3 in https://github.com/proddy/EMS-ESP/issues/103#issuecomment-501375862. For tx_mode 2 I don't have any crashdump.

[2019-06-12 20:37] susisstrolch commented on #103
@proddy with latest <dev> I get
[code]
for each and any send telegram...

[2019-06-12 20:54] proddy commented on #103
@susisstrolch that;'s unusual. I only moved the brkphanton logic to the emsRx function to detect double BRKs. The Tx should work as before.

[2019-06-12 21:04] susisstrolch commented on #103
Pretty strange - I'll try to nail down the problem.
That's an excerpt of an autodetect:
[code]
As you can see the received data doesn't correlate in any way to the send telegram.
It looks like a completely disturbed Rx package...

[2019-06-12 21:23] susisstrolch commented on #103
Argh... Silly me - I had txmode set to 0 from previous tests...

[2019-06-13 08:08] proddy commented on #103
ah good. I'm planning to remove the tx_mode and use the '2' logic for everything, once it has been confirmed to work for Junkers and EMS+

[2019-06-13 09:10] KristofRobberechts commented on #120
I'm okay with doing most of the work. I have multiple thermostats, one per circuit.

I'm not sure how the single thermostat that controls multiple circuit works, but I suspect it will answer to multiple addresses, same as my mixer.

[2019-06-13 14:19] proddy commented on #94
Ok. Just to be clear,

1) where would the values Selected_DHW_Temp, Current_DHW_Temp, Day_Mode_DHW, DHW_Once_Activated, Thermal_Disinf_DHW, Prepare_DHW, DHW_Work_Minutes, DHW_Start_Counter come from?

2) What should the command DWH_ONCE STATUS do?

3) Do the commands to change DHW need to also detect the operation mode (eco/normal) and the temperature?

4) Can you try and program this yourself in

[2019-06-14 12:29] proddy commented on #87
I do plan to do a ESPHome port at some point. I like what they've done.

[2019-06-15 08:04] FrankRenp commented on #103
@proddy Version 1.8.014b seems to be running stable with tx_mode 2 with my Junkers.
(there seems to a misleading time indication - I assume, the correct interpretation of Uptime is
more than 2 days - exactly 56 hour, but only 56 hour

[APP] EMS-ESP version: 1.8.0b14
[APP] MyESP version: 1.1.14
[APP] Build timestamp: 2019-06-12 18:57:16
[APP] Boot time: start
[APP] Uptime: 2 days 56 hours 3 minutes

[2019-06-15 10:38] proddy commented on #103
thanks @FrankRenp . Uptime bug just fixed. I also noticed you like it hot (setpoint 90 degrees?) :-) Is that possibly another bug in the Junkers/FW120 code?

[2019-06-16 08:17] FrankRenp commented on #103
@proddy Seems so - I don't have the thermostate installed in a sauna ;-).  After having the communication stable, I'll check the messages and the results. I think, I need some reengineering. (The thermostat state is also unknown.)

Later on, I'd like to control the boiler - at least the flow-temperatur. Currenty, It can be set - boiler flowtemp works - , but a short time later, it is reset by the

[2019-06-16 11:05] DarthMob commented on #96
@proddy
thanks for the info.
I tried doing that with version 1.8 (had to update PIO to v4) but now i have a new issue:
-> as soon as i exit serial mode and ems-esp trys to read the EMS bus i get frequent reboots of the system!

Setup with bbqkees board is exactly the same!
I tried everything (erasing flash, compiling without the debug line, fresh 1.8 download...)

as you can see here from the PING

[2019-06-16 12:35] proddy commented on #96
@DarthMob that's really strange indeed and can't think what is causing this. If you can't get to the console then you won't be able to see the stack dump to debug the cause or even use `system` to see whether its an ESP reset or a wifi disruption. Does it happen immediately after restarting? Or during the telnet session? Also I assume this is Wemos D1 mini with 4MB flash?

Some things you could tr

[2019-06-16 14:31] susisstrolch commented on #96
I have to admit that I have the same problem. Max. uptime was 1500s - mostly I only see about 30s before reboot. Still investigating...

Von meinem iPad gesendet

[2019-06-16 14:47] proddy commented on #96
that's not good. There are some reports of people with WiFi issues since the 2.5.0 core, maybe its related?
https://github.com/esp8266/Arduino/issues/5908
https://github.com/esp8266/Arduino/issues/2795

[2019-06-16 16:38] susisstrolch commented on #96
Here‘s an excerpt from my mqtt server.
ˋˋˋ
setstate MQTT2_ems_esp uptime: 63s
setstate MQTT2_ems_esp 2019-06-16 16:21:18 ServiceCode 0H
setstate MQTT2_ems_esp 2019-06-16 16:21:18 ServiceCodeNumber 0
setstate MQTT2_ems_esp 2019-06-16 16:21:18 boilTemp 20.4
setstate MQTT2_ems_esp 2019-06-16 16:21:18 burnGas off
setstate MQTT2_ems_esp 2019-06-16 16:21:18 burnStarts 138298
setstate MQTT2_ems_esp 2019-

[2019-06-16 17:16] DarthMob commented on #96
i will try, however i have absolutely no wifi issue while serial console is "on" (i'm connected trough wifi+telnet !!).
only after ems-esp goes into reading the EMS bus (serial mode off) the connection loss appears

[2019-06-17 09:01] darookee commented on #23
Hi! Sorry for the delay and the confusion.
I didn't know what 'Hot Tap Water' and 'Central Heating' were refering to, as they are both shown as 'off', but I certainly have hot water in the house ;-) Since I didn't know what it was I thought it is something my boiler does not do. 'Warm Water activated' is shown as 'on' after all.
But after your explanation it seems that the reading is not correct.

[2019-06-17 11:49] proddy commented on #96
@DarthMob ok, one other thing to try is `set listen_mode on` which will disable all Tx. You should still see data coming in (make sure serial is off). If it works then it means the new Tx code is causing the crash. I'll work on extra debugging tonight

[2019-06-17 18:27] proddy commented on #96
@susisstrolch could you also try with `set listen_mode on` to see if your device stays on longer than 1500s. This disables the Tx logic. Also if you do a `set publish_time 0` this will disable the MQTT posts. I'm really trying to isolate what is causing the crashes!

[2019-06-17 23:17] d-a-v commented on #96
You can enable software serial to enable logs on some other pins while hardware serial is in use.
You can also move hardware serial to other pins and still use regular pins with software serial.
You won't get core logs with software serial, but you can still enable yours.
Check [this](https://github.com/esp8266/Arduino/blob/master/libraries/esp8266/examples/SerialStress/SerialStress.ino#L69)
Don't

[2019-06-18 13:45] proddy commented on #103
I'm aware of the hometop_HT3 project. We all looked into it a while back and its close to EMS ESP design but tailored mainly for heatronics. I'm not sure what you mean by the modem address or how that can help block the thermostat for sending on flow-temp changes though?

[2019-06-18 14:03] frankhommers opened #132 "Is it possible to publish the outside temp through mqtt?"
Is it possible to publish the outside temp through mqtt?

[2019-06-18 14:45] frankhommers commented on #129
I think this firmware update procedure is a bit easier, that might help @Frederik-V

[code]

@proddy: You might put this on the wiki as well ;-)

[2019-06-18 14:49] frankhommers commented on #132
It's already there.

I was overlooking stuff (or it was just recently introduced in the firmware ;-) )

[2019-06-18 14:49] #132 closed

[2019-06-18 16:00] proddy commented on #129
Thanls @frankhommers - added it to https://github.com/proddy/EMS-ESP/wiki/Building-and-Uploading-the-Firmware

[2019-06-18 16:13] frankhommers opened #133 "Two devices... Unable to set temp. Make a primary device selectable?"
When I enter devices:

[code]

When I change the temp by mqtt:
[code]

Is it possible to make one device primary and allow writing to it? That would solve my problem.

[2019-06-18 16:20] frankhommers commented on #133
Another idea would be to write to the one that allows writing. And if only none of those exist show that error.

[2019-06-18 16:57] susisstrolch commented on #129
Don‘t forget to open up your firewall bcause the ESP will initiate the connection to your upload host.
You can use a fixed port with the -p option...

Sent by mobile device

[2019-06-18 20:20] proddy commented on #133
The code currently only supports a single thermostat and the device id is stored (see `thermostat_type` when typing `set`). I need to think about how logic here, something like
- during detection, store all the found thermostats in a list from 1...n
- have a new set command as you suggested that picks the main one to use 1...n (default is 1)
- all reads/writes from telnet or MQTT go to the main on

[2019-06-18 21:01] DarthMob commented on #96
@proddy
it works! with 1.8 and listen_mode "on" everything is working - so Tx seems to be the problem?

i also used the "myDebug("!! value = %d", EMS_Other.SMEnergyTotal);" as you requested and after publish i get the following value
[code]
:-(

[2019-06-19 08:48] frankhommers commented on #133
I have this setup:

![image](https://user-images.githubusercontent.com/7355878/59749742-e4e08f00-927d-11e9-8b64-a8d855b02f81.png)

I use this to force the Moduline 400 into EMS mode, and that works (without the EMS-ESP).

But EMS-ESP is confused about the thermostat I think, also eventually when reading.
I am not sure if 1..n is the right method, in some rare cases the Moduline gets detected first

[2019-06-19 08:58] proddy commented on #96
@DarthMob ok so there is an endless loop in the new Tx code that causes the WDT resets. I'll have to debug this with @susisstrolch. Strange this I don't experience this on my setup.

The SMEnergyTotal is captured via sending a request, so since Tx is disabled (with the listen_mode) it'll always be a negative value. I'll make a quick modification to suppress it.

[2019-06-19 09:28] proddy commented on #133
Yes, the reason the temps are wrong is because the values of setpoint temp and current temp are overwritten by the RC35 and it renders the values thinking its an Easy. Question: so you have a Bosch or a Nefit Easy?

So not sure what to do here. What solution do you think works?

[2019-06-19 11:26] susisstrolch commented on #96
I see something completely different - no endless loop, but
[code]

clean build from current master, no personal modifications, running on ESP8266-12F

[2019-06-19 11:27] susisstrolch commented on #96
cont... which translates to
[code]
Looks like arduino library...
(btw, I'm using your latest platformio.ini-example)...

[2019-06-19 11:36] proddy commented on #96
@susisstrolch It's hard to see from the stack what caused what - I've always found it slightly misleading. Did this crash occur after a telnet command (like a setting change or a 'system')? Could it be the Telnet client like last time? Can you reproduce it also via the Serial? Running in a serial monitor will also dump the stack. You could also try 'crash test 1' which causes a crash and then comp

[2019-06-19 11:43] susisstrolch commented on #96
I've connected the Tx/Rx (GPIO1, GPIO3) to an ESPlink adapter for monitoring purposes. But I don't see the crash dump.
Also, master doesn't have the 'crash test 1' command...

[2019-06-19 11:57] susisstrolch commented on #96
argh... the stackdump file is hardcoded in the script?

[2019-06-19 12:23] proddy commented on #96
`crash test` was added back to to the dev. How I use the stackdump is by copying the stack <<</>>> section and pasting into the file `stackdmp.txt`. Then from my PlatformIO right-click on the `analyze_stackdmp.py` file and hit run.

[2019-06-19 13:00] susisstrolch commented on #96
Jep... but that won't work on linux because of two flaws
a) there's nothing like .exe
b) scripts/analyze_stackdmp.py has a trailing space in calling decode.py

So, here's the latest coredump. For me it seems to be an issue with the runtime (especially mDNS):
[code]

[2019-06-19 16:37] proddy commented on #96
it was a simple fix to get it working with linux
 `python scripts/decoder_linux.py -s -e .pio/build/debug/firmware_d1_mini.elf scripts/stackdmp.txt`

[2019-06-19 16:57] FrankRenp commented on #103
I need to understand the HT3 project - for me it seems, that they may have solved that problem. But currently I'm busy and will probably not get into that within the next 2-3 weeks.

[2019-06-19 19:03] Vuego123 opened #134 "Text formatting issue in help menu of telnet console"
See screenshot in attachment. When opening the help menu in the telnet console, the text formatting is messed up.

Version 1.8.1b1

![telnet console](https://user-images.githubusercontent.com/39829323/59792806-4da72600-92d5-11e9-88b2-16eb648064d9.png)

[2019-06-19 19:46] proddy commented on #134
oh, that sucks. which telnet app are you using so I can reproduce & debug ?

[2019-06-19 19:54] Vuego123 commented on #134
Never mind, it suddenly disappeared. So it must have been an issue on my side.

Yesterday, I did several builds and the issue was always there, now it disappeared after a new build & upload. If it pops up again, I'll let you know.

[2019-06-19 20:07] Vuego123 commented on #62
Update for this issue:

Since version 1.8.1 there is support for

**Solar Module: Junkers - ISM1**
- Solar Boiler temperature
- Solar panel temperature
- Solar pump (on/off)
- Energy produced during previous hour (Wh)

**Thermostat: Junkers - FW100**
- Room Temperature
- Setpoint Temperature
- Time

Still on my requirements list:
- bring the features for solar modules on the same level as for boil

[2019-06-19 20:09] #134 closed

[2019-06-19 21:31] frankhommers commented on #133
This is my stuff, see pics below, on the label it's Nefit Easy Connect (made by Bosch :-) ).

![photo5789690218398462318](https://user-images.githubusercontent.com/7355878/59802803-0d05d780-92ea-11e9-9847-146a0a3a41cd.jpg)
![photo5789690218398462317](https://user-images.githubusercontent.com/7355878/59802805-0d9e6e00-92ea-11e9-9a67-a0591d6ea85f.jpg)
![photo5789690218398462319](https://user-images.

[2019-06-20 07:27] proddy commented on #133
ah, I think I know a part of the problem. Your device is an Easy Connect and not an Easy thermostat (like the [Moduline Easy](https://www.nefit.nl/consument/producten/product_detail/product_11776)). In the `ems_devices.h` I had it incorrectly classified as a Thermostat with
    `{EMS_MODEL_EASY, 206, 0x02, "Bosch Easy", EMS_THERMOSTAT_WRITE_NO}`

when it should be under the Other types like how th

[2019-06-20 07:42] frankhommers commented on #133
That could be a solution as well! Can you please build it and put it on release? That would help me a lot because I don't have the development stack installed.

[2019-06-20 08:13] proddy commented on #133
sure, added to https://github.com/proddy/EMS-ESP/releases/tag/1.8.1

Note if you want to quickly build and upload without having a full dev environment I wrote some instructions on the Wiki [here](https://github.com/proddy/EMS-ESP/wiki/Building-and-Uploading-the-Firmware) which works with Ubuntu (under Windows ot native) and MacOSX.

[2019-06-20 11:20] S-Przybylski opened #136 "Issues with 1.8.1b2 (f29c5ea)"
Hi @proddy
I just udgrade to the lastest dev version today. Here are three comments:

* Failed Read attempts SM100 (complete log see bejond)
[code]
* Help corrupted (using putty)
see below

* Documentation issue: In the readme i saw the the RC300 is not restricted to read only
[code]

* SM100 still working as expected - good (no issue!)
see below

Thanks for the good work

[code]

[code]
Solar SM1

[2019-06-20 13:33] frankhommers commented on #133
Awesome it works now!

I also had to make a change in the homeassistant config so that the auto/manual/off icons would work.

This is because e.g. the value was set to 'manual' and the mqtt response was 'day'.

`    mode_state_template: "{{ {'auto':'auto','day':'manual','night':'off','manual':'manual','off':'off'}[value_json.thermostat_mode] | default('unknown') }}"`

[2019-06-20 15:19] proddy commented on #133
great! I'll look at the HA config again. Thanks for pointing that out and helping test

[2019-06-20 19:22] proddy commented on #133
@frankhommers I looked into the thermostat MQTT messages (line 728 in ems-esp.cpp). For RC20's I Send low, manual and auto depending on the mode. All other thermostat models send night, day, auto. What should it be for your Moduline 400 so I can fix this in the code?

[2019-06-21 07:28] proddy commented on #136
the putty/telnet issue - this could be because the baud is too fast. It's set to 115200 which is a high-rate for full duplex. Does the problem happen all the time? Can you try changing TELNET_SERIAL_BAUD in MyESP.h to 9600 and trying again? Did you have this problem with 1.7?

I'm looking to the "Failed Read attempts SM100" issue.

thanks

[2019-06-21 09:07] frankhommers commented on #133
It's actually "auto", "manual" and "frost protection" ;-)
So it's seems like that it also would need to be "auto", "manual", "low".

I am not sure "low" (for any thermostat) would be an appropriate value according to Home Assistant.

[2019-06-21 14:17] susisstrolch commented on #96
@proddy I've pushed some changes to https://github.com/susisstrolch/EMS-ESP/tree/dev, trying to fix reboot problem. Major change:

- emsuart.cpp
check for EMSbus break during send
add a loopcount to avoid endless wait if send char doesn't get echoed
emsuart_tx_buffer returns a 32bit result, holding Tx result, BRK and watchdog

- debug output for ems.cpp
show 'poll us'
enable the 'answer poll reque

[2019-06-21 14:24] proddy commented on #136
@S-Przybylski I haven't implemented writing to EMS+ which is why you get the "Failed Read attempts SM100". But its fixable. Can you do a quick test with
`send 0B B0 FF 00 02 62 20` and see if anything comes back. It's a request from our device to the SM on ID 0x30 for 32 bytes of data from type id 0x262. No idea if it'll work!

[2019-06-21 14:30] proddy commented on #96
nice, I'll check it out tonight and hook up the logic analyzer. Noticed the `#data=224`. The buffer is only 32 bytes so this may be causing the pointer/memory exceptions. Perhaps but a test in emsuart to only add to the buffer if the length <= 32.

[2019-06-21 14:40] susisstrolch commented on #96
Hmm, not sure where it gets the #data=224 from..
The 'BRK from EMS Busmaster [3,10]' means break while sending 3rd byte, 10 bit-times after feeding the fifo. At this point we only have send src, dst and type.

[2019-06-21 16:48] proddy commented on #96
@susisstrolch testing your dev build and I'm not seen any errors like you get. Seems to work fine, but then again version 1.7 and 1.8 are also stable with me. Maybe it's the wifi speed? Does changing `EMSESP_DELAY` in ems-esp.cpp make a difference perhaps?

![Capture](https://user-images.githubusercontent.com/1230712/59938262-c84a7f80-9454-11e9-8ff2-9bde34f8dd7f.JPG)