[2020-09-03 11:51] stravinci commented on #288
@proddy I switched to local MQTT broker, then EMS-ESP autodiscover only 1 HC. But after reboot EMS apear new ones.
![image](https://user-images.githubusercontent.com/6818785/92111450-9d93df00-edec-11ea-879b-fec53addf65a.png)

[2020-09-03 11:55] stravinci commented on #288
And here are maybe interesting logs.
![image](https://user-images.githubusercontent.com/6818785/92111658-eb104c00-edec-11ea-91a0-fc2bf025119b.png)
![image](https://user-images.githubusercontent.com/6818785/92111741-08ddb100-eded-11ea-957d-ee1183f8b66e.png)

[2020-09-03 11:58] proddy commented on #288
thanks, those logs are helpful as I see its also subscribing to ht3 and ht4 when you don't have them active. back to the drawing board then.

[2020-09-03 12:28] PhillyGilly opened #475 "v2 boiler_data payload"
@proddy Great work on the new v2 interface. I have been manually migrating my sensor.yaml file and have compared the payload as shown in MQTT explorer with the 1.9.5 payload and with the new telnet "show values" output . Apart from a few unmatched values as shown in the excel, I can't find UBA uptime (UBAuptime). Can you bring this back again?
[boiler_data.xlsx](https://github.com/proddy/EMS-ESP/f

[2020-09-03 13:55] MichaelDvP commented on #475
@proddy the bug is in `telegram.h` `read_value` in line 104: it should be `> message_length - 1` or `>= message_length`

@PhillyGilly Is your solar  module working now?

[2020-09-03 14:21] MichaelDvP commented on #475
@PhillyGilly some of the unmatched values:
-   "wWCiPuMode" is telnet line 6
- "wWHeat" is telnet line 18
-  "serviceCode" is also telnet line 29, telnet shows `serviceCode (CodeNumber)`

Just an idea: Would it help to list the mqtt payload in terminal, i.e.
`Warm Water circulation pump freq (wWCiPuMode): 0x3min`
or
`Warm Water circulation pump freq: wWCiPuMode = 0x3min`

[2020-09-03 14:21] PhillyGilly commented on #475
Hello @MichaelDvP. Yes the Solar Module is working fine. It was changes in the payload descriptions from bottomTemp to tankBottomTemp that made it look like it wasn't publishing. Also splitting the MM200 into two modules produced a bit of payload fun too. But that's sorted now.

[2020-09-03 16:23] hamster65 opened #476 "Send mqtt not only in intervals, but also event based"
Hi,
would it be possible to send out mqtt messages for every change of serviceCode and serviceCodeNumer? I'd like to log and monitor the service codes and create mail alarms through node red when something is wrong.

Since ems-esp uses a fixed interval for the mqtt messages, I guess that I will miss many intermittent codes, so an event based approach would be better for this.
Thanks!
hamster

[2020-09-03 16:33] proddy commented on #288
Think I may have found the problem, but need to test it with live data tonight.
@MichaelDvP, this:
https://github.com/proddy/EMS-ESP/blob/66d105f99f73c878e09129d1df6932aa6eeb5f64/src/helpers.cpp#L345
will always return true. I'll change it to check for a valid range.

[2020-09-03 16:36] proddy commented on #475
@MichaelDvP thanks for spotting that. I'll test tonight and include it in the test code. I like the idea of including the mqtt name. If the ESP8266 had more memory I would have loved to put all this into a std::map so its defined once and dynamically rendered for Telnet and MQTT.

[2020-09-03 16:39] proddy commented on #476
would being able to change the frequency only for the MQTT boiler publishes be enough, say every few seconds?

We could add the code but its very specific to your needs. I'd rather find a more elegant solution. Perhaps putting a watch on certain values and sending an event change notification via MQTT.

[2020-09-03 17:01] hamster65 commented on #476
Hi Proddy,
I used ems collectord with the php web interface before, and it provided this view:
https://github.com/moosy/ems-php-webinterface/blob/master/screenshots/webif_logs.png
It helped me once to track down an intermittent problem we had with the boiler, so now I am trying to set up something similar with ems-esp, mqtt, note-red and mail notification.

One second would probably enough to catc

[2020-09-03 18:19] PhillyGilly commented on #475
I'm still not getting anything on my Service Code entities.
MQTT Explorer shows "serviceCode": "",  "serviceCodeNumber": 203 and Telnet shows only  System service code:  (203)
In HA I've got nothing in my Logbook for either sensor.service_code or service.sensor_code_number.
YAML  I've got:
#45 sensor.service_code
- platform: mqtt
  state_topic: 'ems-esp/boiler_data'
  name: 'Service Code'
  value_

[2020-09-03 18:39] proddy commented on #476
There was a similar request on Gitter today from PetrDa. How about if we build an MQTT command that is a request to fetch and return the device data? Perhaps even for a specific device value. For example sending a message to a topic `ems-esp/boiler_cmd` with payload like {"cmd": "fetch": "data":"servicecode"} would send the service code data back in a new `boiler_data` topic. You can then build in

[2020-09-03 18:47] proddy opened #477 "Automatically send MQTT update after a successful (Tx) write command"
As mentioned by PetrDa in Gitter, it would good to send the MQTT device payload after a value has updated. So when a Tx write command is successful force an MQTT update for that specific device.

[2020-09-03 19:33] proddy commented on #475
fixed. thanks again Michael. well spotted. Funny it works in the test under Windows but thats probably how the int32 size is calculated

[2020-09-03 21:19] IGastel commented on #475
In version 2, the mqtt payload is changed for service code and service code
number. It is now spelled with a lower case s. Previous it was spelled with
a capital S. So the home assistant sensor needs to be adjusted

Op do 3 sep. 2020 20:19 schreef PhillyGilly <notifications@github.com>:

[2020-09-04 05:56] proddy commented on #475
that's true. It's now "serviceCode" and "serviceCodeNumber" to be consistent with the other settings. I still need to write the documentation explaining all the MQTT changes and update the wiki. @IGastel we're doing some changes to make integration with Home Assistant easier, see https://github.com/proddy/EMS-ESP/issues/288

[2020-09-04 06:15] proddy opened #478 "(v2) MQTT commands get mixed up with heating circuits"
PetrDa reported:

and did some tests and there is something going wrong with the heating circuit detection again. Perhaps related to https://github.com/proddy/EMS-ESP/issues/288#issuecomment-686439909

For example running the offline unit test with `test mqtt` I see the default heating circuit is 0 and not 1

[code]

[2020-09-04 07:00] MichaelDvP commented on #478
Heating circuit 0 is `AUTO_HEATING_CIRCUIT` and fetch the first active hc. This works here with hc2 only, does this also work in test mode?
`{"cmd":"temp"` calls `set_temperature` with `Mode::AUTO` but not all thermostats have this mode, RC20_2 and Junkers_FR, at first look, will not set temperature.

[2020-09-04 07:11] bbqkees commented on #431
I ran a number of tests yesterday.

If you select the V2 8266 bin file from the releases page and upload it via the 1.9.5 web interface the update to V2 works fine.
The update itself works on both the Lolin Wemos D1 Mini V3.1 and the clone Wemos D1 Mini V2 version.
(I used those clones on the very first Gateways until about a year ago).
I tried it powered via USB and on a 1.6 Gateway bus powered.

[2020-09-04 08:18] PhillyGilly commented on #475
Thanks. I just couldn't see the wood for the trees! Everything OK now apart from UBA uptime. Is that in the latest release?

[2020-09-04 08:36] PhillyGilly opened #479 "mixing_data payload"
My MM200 is configured to manage two hot water circuits ww1 and ww2 but the payload looks like its hc1 and hc2
mixing_data9 = {"type":"wwc","flowTemp":52.1,"pumpMod":6,"status":1}
mixing_data10 = {"type":"wwc","flowTemp":55,"pumpMod":0,"status":0}
This is pretty much where we were at the start of closed issue #299 which @MichaelDvP helped with.
Can we revisit split between hc1/hc2 an ww1/ww2?

[2020-09-04 08:43] #475 closed

[2020-09-04 09:33] proddy commented on #479
Not sure I follow. What is broken exactly? Is the data shown in Telnet and Web correct? @MichaelDvP knows more about the mixing units that I do.

[2020-09-04 09:49] MichaelDvP commented on #479
I see, data are correct, but the names are not adjusted. I'll do a PR.

[2020-09-04 12:37] #478 closed

[2020-09-04 17:04] hamster65 commented on #476
That would not work. I'd have to poll the two values then very fast to not miss any changes, every every 100ms or so....

[2020-09-04 20:23] stravinci commented on #288
@proddy tested new dev build - I see only HC1 in HA :)

[2020-09-05 07:59] proddy commented on #288
thanks @stravinci . So its working? You know, I'm still not 100% sure why it failed in the first place. I made some minor adjustments but nothing that would effect the behaviour

[2020-09-05 08:32] proddy commented on #476
Ok. This needs some more requirements and some more use cases, as its a very specific need which requires a lot of code changes. How do you put a trigger on a device value? What does the event do? How often? How many events are allowed? etc etc

Since it's open-source software I'd also be happy if someone experiments coding this in a feature branch too.

[2020-09-05 08:35] proddy commented on #438
closing this. The problem is in HA that the standard thermostat component doesn't work without having the current temperature.

[2020-09-05 08:37] proddy commented on #460
I'm still getting 10% Rx Errors (BBQKees) so going to reserve some time to look again into the Rx logic. And perhaps create a new TxMode based on the 1.9 way of working without interrupts.

[2020-09-05 08:39] proddy commented on #409
I spent some time looking into this, and it's not easy to fix on the ESP8266 due to the dynamic loading. I'm going to close this as "won't fix" for now. With more reporting being moved to the WebUI and the combination of watch and syslog, I don't think a user will need to open more than one telnet console at the same time.

[2020-09-05 08:39] #409 closed

[2020-09-05 08:40] proddy commented on #469
@lmdecroos can we close this?

[2020-09-05 08:43] proddy commented on #429
Closing this. We determined the missing type_id's and not really worth picking up

[2020-09-05 08:43] #429 closed

[2020-09-05 08:45] #267 closed

[2020-09-05 08:54] MichaelDvP commented on #476
I'm testing now if it is possible to publish on change or if it is flooding mqtt.
My approach is to make `read_value` bool, returning true if the value has changed and call the function as `changed_ |= telegram->read_value(`
In `updated_values()` the flag is cleared and triggers the mqtt-publish.
First test is positive:
[code]
But the boiler is in summermode now and the values do not change rapid.

[2020-09-05 09:51] proddy commented on #477
PetrDa can you check this - in 2.0.1b3

[2020-09-05 10:01] proddy commented on #476
great! Back in 1.9 it used to work this way too. I would create a hash from the payload and use it see if any of the values had changed (when publish_time was set to 0 for automatic). But then when all the MQTT issues started appearing I went back to schedule based publishes.

[2020-09-05 11:26] MichaelDvP commented on #476
On the way, i also added #408 to make everyone happy.
It's a bit more combinations to test, but looks good so far.
Or should we got with setting 0 for automatic? Then it's possible to set one device to automatic and another to timed. But it's not possible to have automatic and redundancy by large publish time.

![mqtt](https://user-images.githubusercontent.com/59284019/92303895-a239ce00-ef79-11ea-

[2020-09-05 12:15] proddy commented on #476
wow, you've been busy! That would defintely make a few people very happy indeed.

I would go for 0=Automatic and rename a few things
- Publish Time = Publish Frequency
- Automatic = On Change or Or Update

[2020-09-05 16:40] MichaelDvP commented on #460
Hm, i'm getting zero rx and tx errors with 8266 and only 0.01% rx errors on esp32. It's difficult for me to reproduce and understand what is different.
I only looked at the 1.9.5 logic, but this was also interrupt based, creates a buffer-full-irq on every byte, reads this to buffer, but completes the telegram also on brk-irq. The difference is only the uses of the hardware-fifo and less interrupt-

[2020-09-05 18:55] proddy commented on #465
@papaloewe any ideas on how to progress here?

[2020-09-05 18:56] proddy commented on #456
the EMS-ESP can use a selection of deviceIDs. I'll close this now but feel free to re-open and share some feedback and how far you got.

[2020-09-05 18:56] #456 closed

[2020-09-05 19:04] proddy commented on #431
made some changes, tested it too and it seems to work (at least for me). Also via the 1.9 web 'upload' page.

[2020-09-05 19:21] proddy commented on #408
Michael kindly built this straight into the Web UI. Thanks!

[2020-09-06 14:00] papaloewe commented on #465
Sorry, but I don't really know what to do. I just found out that in my case the value for "heating_active" always changes during heating and hot water operation. So I can't tell the difference now, but that's not so bad.

[2020-09-07 05:02] lmdecroos commented on #469
@proddy Yes you can close this issue

[2020-09-07 06:37] #469 closed

[2020-09-07 08:05] proddy commented on #460
I'll start today by looking at previous UART Rx logic until I get one the works then figure out the difference. I've tried 10 versions up until July 27th and they all produce the same results. This is using the same wiring & same circuit as I used in 1.9 so that's at least consistent. The telegrams are cut short, probably because of a false break detection. Interestingly the results are more stabl

[2020-09-07 14:06] joanwa commented on #438
yeap. will come back to this once I figured out in what makes the room temperature disappear. Apart from my controller sitting on top the heater instead of wall mounted in some room, my setup looks the same, but doesn't show the  room temperature.

[2020-09-07 14:20] joanwa commented on #429
I'm right now trying to figure out where the historical data for temperatures and energies are available. It's shown in both, app and controller. If I need help, will open a new issue.

![app_history_month](https://user-images.githubusercontent.com/7691102/92396720-c89c6c80-f125-11ea-80fd-7b8eb907fa84.png)
![app_history_week](https://user-images.githubusercontent.com/7691102/92396731-ccc88a00-f125

[2020-09-07 14:50] joanwa opened #484 "Bosch Easy Remote functionality: historical data, show vacation mode & error code, Bosch EasyService app data"
In order to have the same information in EMS-ESP that the Bosch Easy Remote app can show, additional data needs to be extracted:

- historical data (this week, last week) for temperatures and produced solar energy
- display of vacation mode (state and end date)
- potential error code(s)

I'm currently looking into the historical data part.

Additionally the Bosch EasyService app shows a great deal

[2020-09-07 16:46] MichaelDvP commented on #460
If it is always the missing break. it can be a timing issue: The break interrupt is triggered, but the 0x00 is not actual in the fifo. The next received telegram, which is normaly a poll, starts than with 0 and is ignored.
We can check the telegram for the ending 0x00, than it's `length-1` or missing 0, than send full `length`.  And also skipping a leading 0x00 in all telegrams. Worth a try?

[2020-09-07 20:32] proddy commented on #460
that may work. first I need to do some debugging and see what is happening. didn't have any time today

[2020-09-09 07:32] glitter-ball opened #485 "Point name changes"
Took the plunge and upgraded to 2.0.1b4.

Fixed the MQTT base but found some points still broken.

Is MQTT point name case sensitive?

In 1.9.5 I had ServiceCodeNumber work fine in HA. Now it’s broken. MQTT Explorer now shows it with lower case initial ‘s’ - serviceCodeNumber. Would this change be enough to break it or do I need to look elsewhere? Thanks.

[2020-09-09 08:16] proddy commented on #485
the names in the MQTT payload are case-sensitive and a few have been changed, either to conform to the standard (starting with lower-case) or fixing spelling mistakes.

What is broken exactly?

[2020-09-09 09:24] glitter-ball commented on #485
I’ll get a list together
s/ServiceCodeNumber was the first one I found and thought I’d better check after a lot of head scratching.

On Wed, Sep 9, 2020 at 9:16 AM +0100, "Proddy" <notifications@github.com> wrote:

the names in the MQTT payload are case-sensitive and a few have been changed, either to conform to the standard (starting with lower-case) or fixing spelling mistakes.

What is broken e

[2020-09-09 09:49] proddy commented on #485
in MQTT only the servicecode ones and 'desinfection' have changed in the boiler_data payload. In the heartbeat it also has some new tokens. The rest should be the same. I will get around to documenting the changes at some point.

[2020-09-09 09:49] proddy commented on #460
I saw the rx break change. I'm out for the next few days but will check this weekend when I'm back.

[2020-09-09 09:53] MichaelDvP commented on #460
I've updated the uart branch to this check (and lift the branch to b4). Please check if it helps.
If it is a timing issue in esp-hardware, than it's maybe better to use the fifo-full-irq like in 1.9.5, but not enable the break-irq , only poll for break after fifo is filled. This produces a lot of interrupt calls (factor 2 for poll, factor 32 for UBAMonitorFast), but in clear structure, whereas thi

[2020-09-09 10:12] MichaelDvP commented on #476
@hamster65 have you tested the v2.0.1b4? Is it ok? Can we close this issue?

[2020-09-09 15:11] hamster65 commented on #476
I flashed just now., looks fine so far, boiler_data is updated on every change, which is quiet often because values jump around for 0.1°C.  What happens when nothing changes? Will there be no update at all? Would it be better to have 2 separate settings, one for an update interval in seconds, an another to update on change in addition?
I'll reload warm water later and see how it behaves.

[2020-09-09 15:59] MichaelDvP commented on #485
Today also in mixing `pumpMod`changed to `pumpStatus`.
And boiler, solar, mixing uses camelCase, thermostat payload is lower case. To make i consistent maybe some more changes will come.

[2020-09-09 16:04] proddy commented on #485
Right, let's create a section in the README where we can capture this. To be honest I'm loosing track of all the changes too!

[2020-09-09 16:52] MichaelDvP commented on #476
Separate settings was also my first approach, but proddy votes for 0=on change, and, after thinking about it, i know he's right.
Thermostat has a clock changing every minute, boiler updates `UBAuptime` every minute, solar counts working minutes and energy when working, mixer changes valve position very fast when working, only in standby you will get no messages from solar/mixing, but than really n

[2020-09-09 19:14] glitter-ball commented on #485
OK - have managed to fix most stuff. Self-inflicted because I haven't kept things up to date with changes, probably! A brief summary of what I found...

**Pump Status**
Was using heatPmp. Now changed to heatPump. Working.

**Return Temp**
Was using sensor1.temp. Now changed to sensor_28-BE2A-7791-0402-65/temp. Working.

**Boiler Status**
Was using ServiceCodeNumber. Now using serviceCodeNumber. Wo

[2020-09-09 20:17] glitter-ball opened #488 "Telnet command to restart"
**Question**
Is there a text mode reboot/restart command under 2.0.1b4? Tried obvious things but didn't work. Would be handy when the web interface struggles. I tried to su with the password quoted in the upgrade notes but it didn't like that, alas. Thanks..

[2020-09-09 20:28] glitter-ball commented on #488
OK. Found the restart command in the full command listing further down the New Features page.

But... the password `ems-esp-neo` doesn't work when I try and `su`.
[code]

[2020-09-09 20:45] proddy commented on #488
@glitter-ball if you upgraded from v1.9.5 this would have been the admin password.

[2020-09-10 08:46] hamster65 commented on #476
I flashed yesterday. Looks fine so far, boiler_data is updated on every change, which is quiet often because values jump around for 0.1°C.
What happens when nothing changes? Will there be no update at all? Would it be better to have 2 separate settings, one for an update interval in seconds, an another to update on change in addition?

I got 5 changes of the status code over night when warm water

[2020-09-10 20:03] glitter-ball commented on #488
OK. Got it. All good. Thanks.

[2020-09-10 20:03] #488 closed

[2020-09-10 20:25] glitter-ball opened #489 "Strange spikes in thermostat set temperature"
**Bug description**
Set room temperature from thermostat has weird spikes in it (see screenshot below). Some of these are linked to hot water firing - the pairs of spikes around 06:45, 08:45, 18:00, 20:54. Seems to generate two spikes - one when hot water heating starts and one when it stops. But, this doesn't explain spikes at 02:58 and 14:10 when hot water was not active. Nothing obvious in HA L

[2020-09-10 20:34] JewelZB opened #490 "parasite Dallas sensors not working"
In the latest 2.0.1 development build the dallas sensors seem to be not functioning.
The web interface states "No connected Dallas temperature sensors detected" and no MQTT data is observed for the sensors.

I have two sensors attached in parasite mode that worked fine in the 1.9.5 build.
In the syslog I  see "[sensors] Bus reset failed" messages.

[2020-09-10 20:40] glitter-ball commented on #490
I have one sensor in 3-wire mode and it worked fine when I upgraded from 1.9.5 to 2.0.1b4. The MQTT payload changed so I had to tweak definition in HA, but that's not relevant to your issue.

Is the Dallas GPIO pin setting correct (14 on my system)? That stopped my sensor working when I first installed it.

[2020-09-10 20:42] JewelZB commented on #490
Yes the sensors are connected to pin 14, and the setting is on pin 14.
Rolling back the firmware to 1.9.5 fixes the problem for now.

[2020-09-11 06:21] MichaelDvP commented on #489
I think that is the same issue we discussed on gitter concerning the mixer valve. Check if it is fixed in the the latest dev.

[2020-09-11 06:25] MichaelDvP commented on #490
Dallas parasite-mode has to be acivated, but this setting is missing in the actual build.

[2020-09-11 06:43] proddy commented on #490
we need to add parasite back then?

[2020-09-11 06:52] JewelZB commented on #490
I checked the code and Parasite mode seems to be missing altogether from the new sensors.cpp.
Yes it would be great to have parasite mode back in 2.0.
I already tried adding it myself but ran into some problems with the way sensors.cpp communicates with the sensors (seems to be designed to support hotplugging?) so need to dig further.

[2020-09-11 07:24] MichaelDvP commented on #490
I checked how parasite works and the 1.9.5 code, it is not a big deal in the software. I can add the parasite setting, but can not test, i have not such a sensor. @proddy should i make a pr?

[2020-09-11 08:07] joanwa commented on #438
@norberts1 I just found this:

https://www.haustechnikdialog.de/Forum/t/209844/Einstellungen-fuer-Regelung-CW400-an-Junkers-ZSB-14-5C?page=2

that explains why you see the values and I don't. Unfortunately this also implies that everyone who has the controller boiler-mounted can't use HA autodiscovery in the current form :(

[2020-09-11 10:39] MichaelDvP commented on #490
@JewelZB if you want to try and compile your own, i think all you have to do is in `sensor.cpp`
Line 70: `bus_.write(CMD_CONVERT_TEMP, 1);`
Line 80: `if (time_now - last_activity_ > CONVERSION_MS) {`
(skip the complete-check, it does not work in parasite mode)
than this is fixed setting to parasite on.

[2020-09-11 11:06] JewelZB commented on #490
@MichaelDvP , thanks for the quick reply! I hope i can find a moment to try it out this weekend!

[2020-09-11 11:14] proddy commented on #490
I have a few parasite DS18b20's lying around so will also test this weekend

[2020-09-11 19:29] stevedcc opened #492 "Firmware 2.0.1b4 does not persist data, does not behave as documented for wi-fi setup and crashes"
Today I set up my Gateway, which arrived yesterday with 2.0.1b4 already flashed.  I have noticed the following issues

1. Both wi-fi setup and TX-Mode Configuration are not persisted through restart
2. THe wifi-setup connects immediately after providing the information, which does not reflect the documentation to restart in the wiki
3. The gateway crashes within a few minutes of running.

[2020-09-11 19:46] Gert05 opened #493 "V2.0 - MQTT- how to set thermostat?"
Good evening. I have upgraded to v2.0. It's looking great - thanks for taking the effort to further develop this software.

I'm trying to adapt my Domoticz plugin to the new MQTT structure. I have succeeded in reading the values that I need (mostly temp, pressure), but I'm stuggling to find the right command for setting the thermostat temperature.

I have a Nefit boiler (0x08/123/06.07), a BC10 co

[2020-09-11 21:02] fiskn opened #495 "Worcester Bosch 8000 (UK) - Central Heating Temperature"
Hi,

I've got a Worcester Bosch 8000 which seems to looks like it has the same control panel as a Condens 5000 and shows up as such in EMS-ESP. There is no EMS thermostat connected, just a boiler on it's own currently controlled via the legacy on/off connections. I've got EMS-ESP (v2.0) hooked up and getting some values back which is awesome, although things like return temperature and heating tem

[2020-09-12 07:38] proddy commented on #485
thanks @glitter-ball for collecting this. I will include in the MQTT documentation. A few quick observations:
* the topic format of the external dallas temperatures can be changed by adjusting the MQTT format
* the firmware is published in the `start` topic, e.g. `{"version":"1.9.5","IP":"10.10.10.140"}`
* ems-esp/thermostat_data is the correct topic name

You may be interested in https://github.c

[2020-09-12 07:39] proddy commented on #431
There have been reports of the settings not being persisted after a reboot.

[2020-09-12 07:39] #408 closed

[2020-09-12 07:40] proddy commented on #476
fantastic that it works. Shall we close this? Then I can push 2.0.1 out as the next stable main version

[2020-09-12 08:08] proddy commented on #493
could you do a quick test from the console?

* `ems-esp:/$ show mqtt` and see if the temp command is registered, e.g. ` topic: ems-esp/thermostat_cmd, [cmd]: wwmode temp mode`
* `ems-esp:/$ thermostat` to go to the submenu context
* `ems-esp:/thermostat$ su` to go into admin mode
* `ems-esp:/thermostat# log all` to set the logging to show debug statements. Watch out for any ERR/INFO reports here.

[2020-09-12 08:29] proddy commented on #495
Hi @fiskn

I'm not too familiar with the W-B range. You may first want to check out Norbert's mapping at https://github.com/norberts1/hometop_HT3/blob/master/HT3/docu/HT_EMS_Bus_messages.pdf to see if that gives any hints.

The 0xE6 from the controller is interesting. Luckily @Th3M3 figured this out for last year (see https://github.com/Th3M3/buderus_ems-wiki/blob/master/Einstellungen%20des%20Rege

[2020-09-12 08:39] proddy commented on #492
Thanks for reporting. Have you reached out to BBQKees too as I know he thoroughly tests all gateways before shipping?

To get your EMS-ESP stable I suggest removed the ESP8266 Wemos board, connecting it to a PC via USB, erasing the flash and uploading the latest firmware from the repo. The details are in the README.md file. Unfortunately, I haven't had time to update my Wiki yet.

[2020-09-12 09:41] proddy commented on #479
@PhillyGilly all good now?

[2020-09-12 09:47] MichaelDvP commented on #495
@fiskn I think it's the right idea, but wrong command syntax. You can ony send on the bus with the id of the ems-esp, which is 0x0B. Also you have to add the offset field. Try the command `send telegram "0B 08 e6 00 01 46"`

[2020-09-12 10:09] glitter-ball commented on #495
It’s very possible the boiler has no return sensor - my WB doesn’t. The boiler’s control strategy doesn’t need one, so they don’t fit one.

I added a DS sensor to the return pipe and feed in to HA via ems-esp that way. It seems to work pretty well.

[2020-09-12 10:12] glitter-ball commented on #495
When I just had on/off hardwired connections to my boiler, flow temp was fixed for CH and HW and set on the boiler. I added a WB Sense II (and a few other bits to make it work). CH flow temp is now calculated by the Sense II and sent to the boiler. HW flow temp seems to default to 85C, so HW cylinder recovers quickly.

[2020-09-12 10:43] PhillyGilly commented on #479
Yes. Thanks. As far as I can tell right now.

[2020-09-12 10:43] #479 closed

[2020-09-12 10:58] Gert05 commented on #493
That works just fine. ems-esp/thermostat_cmd is registered. Bit of a problem with the `su` password though: I set a new admin password through the web interface but `su` still requires `admin` as a password instead of the password that I set.

I'm on v2.0.1b4 by the way.

[2020-09-12 11:17] proddy commented on #493
oh, the admin thing may be a bug. I'll look into that. So now leave the console open, with logging enabled, go to MQTTExplorer and send the same topic & payload `ems-esp/thermostat_cmd={"cmd":"temp", "data":19.5, "hc":1`}

I just ran a unit test and it worked (in the standlone version) but haven't tested on a live system.

Did you miss the {}'s perhaps?

[2020-09-12 11:21] proddy opened #496 "SysLog improvements"
From a conversation in https://github.com/proddy/EMS-ESP/pull/494#issuecomment-691450178_

SysLog needs a bit tidying up. I suggest
 - moving the settings to its own page in the WebUI next to NTP and MQTT
 - renaming it to Logging
 - Add a enable/disable boolean, so it matches the other services
 - removing OFF as a log level option, as this could be confusing to some people

[2020-09-12 11:21] proddy commented on #496
@MichaelDvP any comments?

[2020-09-12 11:26] proddy commented on #336
we'll continue to comment the logic in the code.

[2020-09-12 11:26] #336 closed

[2020-09-12 11:26] #275 closed

[2020-09-12 11:27] #227 closed

[2020-09-12 11:28] proddy commented on #271
closing this due to no activity. I'm unable to test.

[2020-09-12 11:28] #271 closed

[2020-09-12 11:33] proddy opened #497 "Further improvements to console and MQTT commands for reading and sending EMS data"
In the console we have a `read` command in each of the device menus, e.g. `ems-esp:/boiler# read 18`. There is also a generic `send` command to send commands to the EMS bus but this won't work for write commands because the have to follow an EMS poll request from the master/UBA.

So was thinking why not add a `write` command, per device context, such as `write <offset> <data>` which would just add

[2020-09-12 11:36] proddy opened #498 "Migrate Travis CI to GitHub actions"
GitHub Actions is quite nice and if we move the CI process (automatic code checking, building firmware versions) directly to the repo it will save on using external applications (travis and having a separate build bot GitHub account) and enable all main contributors to tweak the settings. Other workflows could be added too, such as running some of the unit tests and simulating different devices.

[2020-09-12 11:37] Gert05 commented on #493
The {}'s did the trick. Thanks for your help.

I have now got a basic Domoticz plugin working (seltemp/currtemp/syspress + changing thermostat temp). I'm willing to share the plugin if anyone's interested.

[2020-09-12 11:38] proddy commented on #493
cool! Yeah, please share. Perhaps in a new issue and then I'll add it to the repo.

[2020-09-12 11:42] MichaelDvP commented on #496
In #494 you say log off in combination with mark on is a legal option, so why remove loglevel off?
For the discussed issue it's sufficient to remove the <fragment> in the settings page, a own menu item is more consistent, but not high priority.

[2020-09-12 11:43] proddy commented on #493
The password is the JWT Secret in the WebUI. I just tested this and it works. I didn't use the password of the 'admin' user since this username can be removed or deleted.

![Capture](https://user-images.githubusercontent.com/1230712/92994803-cf4c2a80-f4fd-11ea-9c3d-84dbf0b9da42.PNG)

[2020-09-12 11:48] Gert05 commented on #493
Understood. Thanks for clarifying.

[2020-09-12 11:52] #493 closed

[2020-09-12 12:30] proddy commented on #496
remove the OFF in the settings page?

[2020-09-12 12:32] proddy commented on #492
tested 1, 2 and 3 and cannot reproduce. I would need more detailed information and steps on how to reproduce. If you can go back to 1.9.5 and recreate the settings (also export both of them as backups to share) and see if it happens again.

Also which WiKi are you referring too?

[2020-09-12 12:33] proddy commented on #431
ran a few tests again, erased flash, uploaded 1.9.5, set settings, tested it, upgraded to 2.0.1. Not issues.

[2020-09-12 12:33] #431 closed

[2020-09-12 13:13] MichaelDvP commented on #497
I don't see much benefit to the `send telegram` command.
If i want to set for example `wwtemp` by raw command it's: `send telegram "0B 08 33 02 2E"` and a possible write command would only skip `<src>` and `<dst>`, e.g. `write 33 02 "2E"` but both working the same.

**maybe a bit OT:**
I'm actually testing some similar enhancements.  What do you think about this (forget it? open an enhancement-dis

[2020-09-12 13:16] MichaelDvP commented on #496
Ups, remove the Fragment-Tag, (i wrote it in brackets)

[2020-09-12 14:01] proddy commented on #496
ok, so leave SysLog where it is, leave all the levels as they are, but just add the enable/disable?

[2020-09-12 14:08] proddy commented on #497
I liked all those enhancements. Having `read` context-sensitive depending on which context/sub-menu you are is a nice touch and easy to implement. `read <device_id> <type_id>` can be only for the root.

I'll rename this Enhancement Issue and we can use that for tracking. I suggest creating a feature branch (feel free to create one) and use that as these will be some substantial changes. I'd also w

[2020-09-12 14:43] #485 closed

[2020-09-12 15:10] stevedcc commented on #492
I guess I saw dev/beta firmware and jumped the gun. Probably my mistake for posting in the wrong place.

I was referring to the install instructions for the gateway, so yes, not this forum.

Tbh, I suspect this could be a power issue: as far as I remember from my days as an embedded developer failing to persist flash/eeprom is often one of the first signs of not enough power and there is already a

[2020-09-12 16:19] MichaelDvP commented on #497
yes `read <device_id> <type_id>`in root was my first approach and is implemented/tested in my dev, but thinking about of change to global with `[device_id]` and set it automatic in context, and a error message without context.

Since the changes are small i'm not sure that an extra branch makes sense, I first pushed it now to my repro as dev.
Also include are the parasite_changes from #494 and wha

[2020-09-12 16:24] MichaelDvP commented on #496
An extra enable/disable is redundant. server=0 disables all, loglevel:off and mark:off disables also, all other combinations enables level, mark or both. Confusing was only that the mark settings hides, but stay active, without hiding the settings are clear to me.

[2020-09-12 17:17] proddy commented on #497
go ahead and push it to dev. All your changes are awesome.

[2020-09-12 17:18] proddy commented on #496
ok then. Empty host means no syslog.

[2020-09-12 21:19] fiskn commented on #495
@MichaelDvP  Yes, sending (send telegram "0B 08 e6 00 01 46") worked, the boiler set temp can be changed from EMS-ESP. Thanks for the hint.

I've noticed the boiler will alter both the burner power down to 1:10, but also modulate the built in pump when the return temp appears to get nearer the set temp, which is quite clever. I'm guessing it's trying to keep the return temp in the condensing range

[2020-09-13 00:16] twaymouth commented on #492
Thought I should share that I am experiencing a variant of the same issue. I am not experiencing any instability however settings are not persisted through a reboot (wifi, MQTT ect). I am using a wemos D1 mini. As an aside the bin file for the stable 2.0 release appears to have been removed?

[2020-09-13 07:07] proddy commented on #492
@twaymouth which version of the firmware did you use? Did you upgrade from 1.9? If you flash with the latest 2.0.1 does the same thing happen? I'd like to get to the bottom of this as both BBQkees and myself tested the upgrades thoroughly.

I removed the firmware bin file from the 2.0.0 release in GitHub as it was a litle buggy when first released. Take the latest dev branch https://github.com/pro

[2020-09-13 07:41] twaymouth commented on #492
I used firmware 2.0.1b5, I did not upgrade from 1.9 rather erased the flash then loaded 2.0.1b5.

As a test I loaded 1.9, configured wifi, confirmed it persisted as expected through a reboot then loaded 2.0.1b5 without erasing the flash. After doing so settings persist as expected.

I then erased the flash completely and loaded 2.0.1b5 from scratch which again caused settings not to persist.

Out

[2020-09-13 09:02] proddy commented on #477
in 2.0.1

[2020-09-13 09:02] #477 closed

[2020-09-13 09:03] proddy commented on #476
Closing as this is going into the main 2.0.1. We can reopen if new issues appear

[2020-09-13 09:03] #476 closed

[2020-09-13 09:18] glitter-ball commented on #495
The installation manual will reveal whether the boiler has a return sensor or not.

I changed the pump modulation settings on my boiler from output-compensated to fixed speed because I wasn’t getting enough flow to far-flung parts of the system at low outputs. It does still modulate to a degree for CH and pops on bc and off to save energy once the house is warm.

[2020-09-13 09:20] #490 closed

[2020-09-13 10:00] glitter-ball commented on #495
In the [default?] output-compensated mode, the pump speed follows the burner output. As the flow temp approaches the setpoint, the burner modulates down and the pump follows. This may be what you’re seeing.

There are a few opportunities for improvement in the logic in my boiler. It starts the pump just before lighting the burner. It would be better if it ran the pump first for 10-15 seconds to es

[2020-09-13 10:35] fiskn commented on #495
@glitter-ball thanks for the info, sounds like I need to have a read through the manual and see if there is anything else I can tune. I've got temp sensors on all the pipes sticking out the cylinder, so I've got a fairly good idea how hot and how much hot water is left. I'm hoping to base some nodered logic around this so make intelligent decision of whether the cylinder needs topping up. Currentl

[2020-09-13 10:50] glitter-ball commented on #495
The pocket for my cylinder sensor is close to the return and, with 60C HW setpoint, the return ends up at pretty much bang on 60C when the HW reheat ends so that looks reasonable.

[2020-09-13 11:58] MichaelDvP commented on #495
@fiskn to implement this in ems-esp, can you give me some logs? In terminal go to boiler and give me the output of:
`read 16`, `read 1a`, `read 33`, `read 35`, `read e6` and `read ea`
also the log from `watch on 08` for more than a minute will help.

[2020-09-13 12:01] MichaelDvP commented on #489
@glitter-ball have you seen these spikes again, or is it fixed?

[2020-09-13 12:10] glitter-ball commented on #489
They are still there but, to confirm, I am still on 2.0.1b4. Do I need to upgrade? If so, can I do this from the GUI? I have values in the OTA Settings page but not sure how it works.

[2020-09-13 12:16] glitter-ball commented on #489
I am also seeing duff data in my Dallas sensor in HA - spikes at -26240
![80378C52-6D6A-4BFF-9B98-04669014B891](https://user-images.githubusercontent.com/57917148/93017796-4eeffd00-f5c3-11ea-9f20-ce229637471b.jpeg)

This may or may not be related.

[2020-09-13 13:34] glitter-ball commented on #489
I *think* I've upgraded - but not sure *8(.

I downloaded the ESP8266 .bin file from latest release assets and dragged and dropped that onto the firmware upgrade page in the GUI. It showed 100% upload immediately and that was that.  Waited it a bit and then restarted from telnet and the GUI now shows 2.0.1 instead of 2.0.1b4.

[2020-09-13 16:45] glitter-ball commented on #489
OK. I think it is fixed. I re-flashed around 14:00 today. Prior to that you can see heating target temperature (olive) spikes every time boiler setpoint (blue) changes for hot water. At the last hot water re-heat, this didn't happen. I'll raise a separate issue for the large negative spikes on the Dallas sensor.

![image](https://user-images.githubusercontent.com/57917148/93023681-845b1180-f5e8-11

[2020-09-13 16:53] MichaelDvP commented on #489
That's right, proddy has released the 2.0.1 today, there is also a identical 2.0.2b0 for download.
Than i close this an you describe the dallas issue in a new issue.

[2020-09-13 16:53] #489 closed

[2020-09-13 16:56] glitter-ball opened #499 "Large negative spikes on Dallas sensor reading"
**Bug description**
The boiler return temperature values on HA, from a Dallas sensor, are showing occasional large negative spikes at a value of -26240 or similar value

**Steps to reproduce**
Connect Dallas sensor.
I think the problem may only have started since I changed the sensor MQTT publish interval set to '0' (publish on change). Sensor value is changing, typically, about every 5 seconds. H

[2020-09-13 17:01] MichaelDvP commented on #492
yes, thank you, it seems that converting from 1.9.5 works, but the filesystem on clean chip is not formated correctly.
@proddy I think it's in `system.cpp` line 655 after `if (!SPIFFS.begin()) {` has to be something like
[code]
but i have not tested this yet.

[2020-09-13 17:09] glitter-ball commented on #499
A bit more info.

HA definition:
[code]
MQTT plot over about 30 minutes, showing random spacing of updates
![image](https://user-images.githubusercontent.com/57917148/93024156-2d573b80-f5ec-11ea-8248-ad80b3756bb0.png)

[2020-09-13 17:19] glitter-ball opened #500 "Backup and restore settings through web GUI"
Although the code does a really good job of preserving settings across updates, as the features and settings grow, would it be handy to be able to backup and restore the settings via the web GUI? Ideally this would be in some form of human-readable text file. Probably not an immediate high priority.

Potential issues:

- Dumping the existing settings out to a file is probably fairly straighforward

[2020-09-13 17:27] stevedcc commented on #492
Would explain why my brand new gateway with 2.01b4 did not persist.

On Sun 13. Sep 2020 at 19:01, MichaelDvP <notifications@github.com> wrote:

Steven Crawford
Laubestr. 17, 60594 Frankfurt am Main
+49 (0) 69 680 99480

[2020-09-13 18:13] fiskn commented on #495
@MichaelDvP Here you go, I've also included 2d6 as that seems to display now and again

ems-esp:/boiler# read 16
002+05:38:24.824 N 1: [emsesp] Boiler(0x08) -> (0x0B), (0x16), data: <empty>
ems-esp:/boiler# read 1a
002+05:38:34.057 N 2: [emsesp] Boiler(0x08) -> (0x0B), (0x1A), data: <empty>
ems-esp:/boiler# read 33
002+05:38:39.143 N 3: [emsesp] Boiler(0x08) -> (0x0B), (0x33), data: <empty>
ems-es

[2020-09-13 18:42] inter-faze opened #501 "implement command-switch to turn Boiler central heating on / off"
feature request do implement a command to easily turn on/off the boiler central heating

This feature should imlement the same functionality as e.g. the change of the ( RC25 https://www.buderus.lv/files/Planungsunterlage_GB172_T50_EN_LV.pdf side 46 switching from 14 to 15 and vice versa of Fig. 40)

Hint of Gitter chat: {"cmd":"send", "data":"0B 08 16 00 00"} to switch of - to switch on  {"cmd":"s

[2020-09-13 21:42] proddy commented on #500
I had this settings backup/restore feature in the 1.9 version, via the web interface. I decided not to port this over to the new Web UI in version 2.

The version is stored in the settings and used in the upgrade code when a newer firmware replaces the old.

I like your 2nd idea as a first quick approach. Perhaps a button in the WebUI that exports all the settings to a file and zip it with a passw

[2020-09-13 21:44] proddy commented on #501
this is relatively easy to add. Any suggestions on what to call the command?

[2020-09-13 21:53] proddy commented on #492
just checked this and confirm its truly broken. On a clean flashed ESP8266 it will keep formatting the LittleFS filesystem on restart. I'm working on a quick fix.

[2020-09-13 22:03] proddy commented on #496
@MichaelDvP if you want to allow the SysLog IP to be empty (to fake disabling it) then you also need to modify the Web settings page. Default settings has an empty IP and it will show an error when a user tries to save the settings. Just remove the restriction.

![Capture](https://user-images.githubusercontent.com/1230712/93029727-94411880-f61d-11ea-9e7e-485ce0ea10df.PNG)

[2020-09-14 05:26] MichaelDvP commented on #499
maybe a combination of both. If there is a sensor reading error (crc-check) the sensorvalue is set to undefined (NaN).
I think it's best to skip sensorupdate on reading errors and values out of range (dallas are defined -55 to 125 °C).

[2020-09-14 05:28] MichaelDvP commented on #496
I tested with setting to `0` but did not realize that default is empty. I change it to allow empty host too.

[2020-09-14 06:29] MichaelDvP commented on #501
I suggest `heatingactivated` since there is already `wwactivated` and `wwtapactivated`.

But it's not so easy: in #495 there is boiler that does not have 0x16 command, but 0xE6 for the same settings. I'm checking to automatic distinguish which telegram is send and verified. The same for the ww-parameters in 0x33 and 0xEA. For my boiler 0x16, 0x33 are active and 0xE6, 0xEA empty, in the other case

[2020-09-14 06:31] MichaelDvP commented on #495
Good, the 0x16 and 0x33 (the other boiler equivalent to 0xE6/0xEA) are empty, this give no confusion reading the values from both telegram-sets. I add the kown values for these telegrams.

[2020-09-14 06:35] proddy commented on #501
I see. It's more complicated than I first thought. One idea to distinguish between the two telegram typeids between ems1.0 and 2.0 is to use a Deviceflag in the device's library like Thermostats do

[2020-09-14 07:06] MichaelDvP commented on #501
The automatic detection works, i pushed it to my repo if you want to have a look. In thermostat there are a lot of different functions for different types, but boiler are the same settings, only sorted in different telegrams, but the unused telegrams are empty and can ruled out.
For syslog and sensors i pushed changes direct to you.

[2020-09-14 07:16] MichaelDvP commented on #499
I've added a check in the dev build, @glitter-ball can you check for the spikes?

[2020-09-14 08:28] #188 closed

[2020-09-14 08:33] proddy opened #502 "(ESP32) Call commands from the Web UI"
Now that all commands are unified across the Console and MQTT, having the same ability to call commands from the Web UI may be useful. For example calling 'temp' in the Thermostat box to set a new setpoint temp. Or 'wwonetime' from the Boiler. It could be a simple form with a drop-down of commands (per context) and two fields for `data` and `id` similar to the MQTT format. And only accessible if t

[2020-09-14 08:59] cyniu88 opened #503 "new software doesn't start onetime heating"
I made upgrade to version v2.0.1, but after that my ems-esp cannot start onetime heating boiler by mqtt.  on telnet session i can see trace: "000+00:30:34.996 I 0: [boiler] Setting boiler warm water OneTime loading on"  after  send request  via mqtt, but buderus  didn't start heating.
Previously on version  1.9.5  everything worked fine.

Yes, I upgrade MQTT message to new format

My configuration

[2020-09-14 09:11] proddy commented on #503
that's not good. We need to see what is happening.
- First, do you have any Tx errors (check in Web or `show ems` from console)
- If not, go to console, turn logging on (`log debug`) and then `boiler`, `su`, `call wwonetime on`
- Monitor the log to see what telegram is sent and what the response is

[2020-09-14 09:24] cyniu88 opened #504 "wrogn admin password"
after put "su" command in console the only one good password is "ems-esp-neo" not default "admin"

release  2.0.1

e

[2020-09-14 09:29] cyniu88 commented on #503
**show ems**

**iDom-client/buderus/ems-esp:/boiler# log all**
Log level = all
000+01:02:46.203 D 4: [emsesp] No telegram type handler found for ID 0xA2 (src 0x10)
000+01:02:50.489 D 5: [mqtt] Publishing topic iDom-client/buderus/ems-esp/boiler_data (#827, attempt #1, pid 1)
000+01:02:50.690 D 6: [mqtt] Publishing topic iDom-client/buderus/ems-esp/thermostat_data (#828, attempt #1, pid 1)
000+01:0

[2020-09-14 09:35] proddy commented on #504
RTFM

"`su` will switch to the Admin super-user. The default password is **ems-esp-neo** and can be changed with `passwd` from the system menu or via the Web interface (called secret password). When in Admin mode the command prompt switches from `$` to `#`."

https://github.com/proddy/EMS-ESP#using-the-console

[2020-09-14 09:35] #504 closed

[2020-09-14 09:36] proddy commented on #492
this should be fixed now. If you're still getting reboots let me know

[2020-09-14 09:36] #492 closed

[2020-09-14 09:36] proddy commented on #501
@MichaelDvP if it works, I'm happy if you push it straight into dev

[2020-09-14 09:50] MichaelDvP commented on #501
Ok, i recheck the E6/EA telegrams and and other boiler settings (incl. #503) and than push it.

[2020-09-14 10:01] MichaelDvP commented on #503
The command `0B 08 35 00 22 06` is right, the same as in 1.9.5, and sended successfully. The post validate read should be on 0x34  (not 0x18), but that does not harm the function. Also i see Onetime is not listed in show command.

@cyniu88  as far as i know the onetime funktion only starts if ww current temperature is much below setpoint (i'm not sure if it was 5 or 7 or more degree). If you set t

[2020-09-14 10:21] cyniu88 commented on #503
I don't know why, but after the upgrade wWSelTemp changed from 60 to 40 and I missed this change, after setting it to 60 the boiler starts to heat tap weather

[2020-09-14 10:34] proddy commented on #503
do you mean in the console? It is there as `wwonetime`

![Capture](https://user-images.githubusercontent.com/1230712/93075762-8ecbe880-f686-11ea-95c5-ed797eeb16a2.PNG)

[2020-09-14 11:13] MichaelDvP commented on #503
No, i meant the response to the `show` command in terminal, there i added the state for onetime charging with the last commit.
![onetime](https://user-images.githubusercontent.com/59284019/93079115-e6b91e00-f68b-11ea-81c5-2994688b77b0.png)

[2020-09-14 11:15] MichaelDvP commented on #495
@fiskn you can check the latest dev 2.0.2b0 if all works with your boiler.

[2020-09-14 11:17] MichaelDvP commented on #501
@inter-faze, switch is added to dev 2.0.2b0, try it.

[2020-09-14 11:23] fiskn commented on #495
Yep, perfect. Shows the current heating temp and can alter via MQTT.

[2020-09-14 15:50] stevedcc commented on #492
Sorry it took a while to try and install the updated firmware.  Family, kids.  Everything seems to be working fine now, data is persisted and I have 15 minutes uptime, which was impossible before.  Thanks for fixing it.

[2020-09-14 19:27] inter-faze commented on #501
I will be able to check it next week earliest, will let yo uknow

[2020-09-15 07:25] proddy commented on #503
what are the next steps for the issue?

[2020-09-15 07:31] twaymouth commented on #492
Fixed, thanks for your prompt attention.

[2020-09-15 08:20] cyniu88 commented on #503
IMHO, main thread is solved, and ticket could be closed.

[2020-09-15 18:51] cyniu88 opened #505 "setting of setpoint room temperature not working"
setting of  setpoint room temperature not working on version 2.0.1.
logfile in attachment.
[MobaXterm_192.168.13.111_20200915_204322.txt](https://github.com/proddy/EMS-ESP/files/5227121/MobaXterm_192.168.13.111_20200915_204322.txt)

[2020-09-15 19:26] proddy commented on #498
done. On push and pull in the dev branch the firmware builds are checked and created and binaries moved to https://github.com/proddy/EMS-ESP/tree/firmware/firmware

[2020-09-15 19:39] proddy commented on #505
which thermostat do you have, the RC300? Did it work with 1.9.5 or any previous version? We're looking into it....

[2020-09-15 19:50] cyniu88 commented on #505
yes, it worked on 1.9.5, if it's needed, I can do downgrade(if it is possible) and collect additional logs.
my hardware:
Thermostat: RC300/RC310/Moduline 3000/CW400/Sense II (DeviceID:0x10, ProductID:158, Version:18.05) ** master device **
 This Thermostat will respond to telegram type IDs: 0xA3 0x06 0x2A5 0x2B9 0x2A6 0x2BA 0x2A7 0x2BB 0x2A8 0x2BC 0x31D 0x31E

[2020-09-15 21:19] proddy commented on #505
I think we'll be able to work out the problem with the data you provided. To be clear do you have a Buderus RC300, RC310, Nefir Moduline 3000, Junkers CW400 or a Bosch Sense II? It does make a difference.

[2020-09-15 21:24] proddy commented on #505
just quickly looking at the log dump, I see your thermostat is in the 'manual' mode but you're trying to set the temperature for 'auto' mode.

[2020-09-16 06:42] cyniu88 commented on #505
I have a Buderus RC300, I can see it too, but I also don't see a specific parameter for the temp command that will allow me to change it in manual or automatic mode.

[2020-09-16 07:42] MichaelDvP commented on #505
as @proddy already analyzed, the `temp` command sets the wrong value. And there are also some other parameters missing for RC300, Norbert has the telegrams on his list, but some values are not completly clear to me. There are 3 levels of comfort temperature and the monitor-message has in pos 11 (17 in Norberts list) the heating level. But how is it set the level? For now only the value for comfort

[2020-09-16 09:34] MichaelDvP commented on #505
In Norberts list i find also for 1B9 (in Norberts numbering):
- 15 xy Outdoor Temperature Threshold
I think this is `summertemp`
- 18 xy Outdoor Temperature Threshold for prevention of ECO
and this seems to be `nofrosttemp`

but in the RC300 manual i did not find any setting for different comfort temperatures.

@cyniu88 can you send a log with `watch on 2B9` and change summertemp, nofrosttemp, and

[2020-09-16 09:51] cyniu88 commented on #505
Yes I can do it but only in the evening. I am currently at work.

[2020-09-16 10:03] cyniu88 commented on #505
in version 1.9.5 I just published the desired temperature value on mqtt in the subject "iDom-client / buderus / ems-esp / thermostat_cmd_temp1"

Thermostan in my case always works in manual mode, I just want to

[2020-09-16 13:07] mglatz opened #506 "API: HTTP read/write"
I'd like to propose an option to read and write data with systems that do not directly support MQTT, such as Loxone.
The idea is to publish JSON readings directly to a webpage (such as http://ems-esp.local/json-data) so that systems not compatible with MQTT could just read and scrap the information.
For publishing messages, I'd suggest GET (such as http://ems-esp.local?topic=boiler_cmd&cmd=wwtemp&

[2020-09-16 14:56] proddy commented on #506
Nice suggestion. The best approach is build an API over HTTP and use Oauth2 for the authentication. Exposing passwords over http post scares the willies out of me. There are some examples on how GitHub do this (https://developer.github.com/v3/), esphome (https://esphome.io/components/api.html#) and Tasmota (https://tasmota.github.io/docs/Commands/). Needless to say a bit more thought needs to go i

[2020-09-16 18:38] proddy commented on #288
Thanks @Xeyame . I'm back to looking at MQTT Discovery again with the aim to have EMS-ESP as a single HA device, each having a device with multiple sensors as you suggested. I can bulld the EMS-ESP device and add a few sensors, but the climate doesn't get attached to the HA device. I'm using:

[code]

I'll have another try later this week.

[2020-09-16 19:12] glitter-ball commented on #499
Perversely, it didn't do it for over 24 hours when I upgraded to 2.0.1. But it's done it twice today at random times. I'll try and upgrade now and see what happens.

[2020-09-16 19:16] glitter-ball commented on #499
Sorry, still a newbie navigating to find releases. How can I get a binary for the dev build with the sensor check in it, please? Thanks.

[2020-09-16 19:24] cyniu88 commented on #505
sorry but an cannot see all this parameter in my RC 300 for example comfort level, but i collected some logs
[MobaXterm_192.168.13.111_20200916_205446.txt](https://github.com/proddy/EMS-ESP/files/5234506/MobaXterm_192.168.13.111_20200916_205446.txt)

[2020-09-16 19:27] cyniu88 opened #507 "MQTT retained message"
is it possible to return the flag "retained" in MQTT settings as in 1.9.5 ?

[2020-09-16 20:03] proddy commented on #507
Can do. What's the use case you had in mind?

[2020-09-16 20:13] proddy commented on #499
no problem, that's my fault. I'm always tweaking things. The dev builds have been moved to https://github.com/proddy/EMS-ESP/tree/firmware

[2020-09-16 20:44] cyniu88 commented on #507
I create my own application to view data and configure my boiler and after connecting to the mqtt broker I have to wait for the boiler to send a message. And for this short moment (at worst 10 seconds) I only see "0" :) Hope you understand my case when you take the phone and check the tap temperature it takes less than 3 seconds if messages are retained.

[2020-09-16 20:47] cyniu88 commented on #507
I know there are many tricks to fix this but the mqtt retain flag seems to be the best

[2020-09-16 21:02] proddy commented on #507
Ok. Have you played with the publish interval setting?

[2020-09-16 21:15] cyniu88 commented on #507
yes, but a small interval generates a lot of traffic on the broker, in my opinion it is better to avoid huge traffic.

[2020-09-17 07:51] MichaelDvP commented on #505
The values i thought it is `summer`and `nofrost` looks odd with 0 and 15. Default values, if never changed, are 17 and 5 degree.
The value for comfort level are as expected, level is 1, and temperature 19, 18, 23 degree. But if there is no way to select a value i think it's better to stick to a single value (comfort2 at pos2). We can add later if requested. I'll push a change to the first 3 points

[2020-09-17 08:05] proddy commented on #505
thanks MichaelDvP. Also worth looking into why it worked in 1.9.5.

[2020-09-17 08:10] proddy commented on #476
@MichaelDvP just an explanation of some Web UI changes I made earlier this week. I removed the "Settings" from the headers as there was just much repetition of the word Settings in the page (8 times). I also renamed 'Publish Period' too 'Publish Interval' as I think its more appropriate. "Period" has lots of different annotations in the English language ;-)

[2020-09-17 08:14] MichaelDvP commented on #505
I've looked into 1.9.5 and, as expected, the offset is set in dependence of the actual mode. Same logic as now in v2.

[2020-09-17 08:20] MichaelDvP commented on #505
@proddy There is a check failed on my commit, but i doesn't understand what is wrong, can you take a look. Here it compiles without error.

[2020-09-17 08:57] proddy commented on #505
Looks like GitHub's actions is offline. https://github.com/proddy/EMS-ESP/runs/1127413777?check_suite_focus=true. The firmware is built but it can't upload the artifacts. Error is:

[code]

we can manually restart the job in a few hours when the service is restored.

[2020-09-17 09:48] proddy commented on #505
works now. builds are available in the firmware directory

[2020-09-17 10:35] bbqkees commented on #506
I already received multiple requests for Loxone support so its something worth looking into.

The boolean conversion is also a good idea, in Domoticz un-nested MQTT payload of 0 and 1 always gives trouble.
on/off or true/false is better in that case because its a string and not a number.

[2020-09-17 10:48] mglatz commented on #506
I strongly suggest there would at least be an default-off option for no/basic authentication as systems such as Loxone will just not coupe with oauth.

[2020-09-17 12:51] proddy commented on #506
I'll start with the original suggestion e.g. `http://ems-esp.local?topic=boiler_cmd&cmd=wwtemp&value=20)` and see how far we get.

[2020-09-17 16:22] glitter-ball commented on #499
Thanks. Can I check I am upgrading in a sensible way? Drag and drop new .bin file into the upload box in the GUI? Seems to copy quickly and then nothing else? Does that just put the file in place pending a restart?

[2020-09-17 16:42] proddy commented on #499
Drag & Drop should upload, takes about 15 seconds on fast line, and then automatically restarts the ESP. If the .bin file is corrupt it will report back an error. Make sure you're using the ESP8266 binary and not the gzipped version. If it still does not work I broke something (which is highly likely) and will need to test again.

[2020-09-18 07:28] SpaceTeddy opened #508 "how does the command wwactivated work?"
Dear all,

in my system Sieger BK15, es73, WW-Buffer, I tried to use the command ``wwactivated`` or ``wwtapactivated`` to disable my warm water heating during my holiday time. I noticed that this is not really working and warm water is continuous heated up during that time.  If I send ``wwtapactivated`` the heater send an error message  [5H 268](https://www.ersatzteile-koeln.de/buderus-fehlermeldu

[2020-09-18 07:59] MichaelDvP commented on #508
I've tried `wwactivated`  and that works for me. Here is the test, it's the second byte in message 33:
[code]
The tapwater function uses the the testmode to switch burner, valve and pump on. That causes the message you get, but this works only on flow systems. Also i see that there is indeed a bug: `wwtapactivated off` only switches the valve off, not the testmode. Please check the testmode by `re

[2020-09-18 08:05] MichaelDvP commented on #508
Sorry, i was wrong: there is no bug in `wwtapactivated`, switch off from testmode works (complete message is set to zero).

[2020-09-18 08:12] MichaelDvP commented on #508
Another correction of my comments: on/off is inverted:
[code]

[2020-09-18 10:11] SpaceTeddy commented on #508
Hi Michael,

I made the following tests:
a) turn the WW knob at the heater to "Auto":
``ems-esp-2:/# read 08 33
000+00:04:19.411 N 4: [emsesp] Boiler(0x08) -> (0x0B), (0x33), data: 08 FF 3C FB 00 0F 00 02 41 00 FF``
b) turn the WW knob at the heater to "0":
``ems-esp-2:/# read 08 33
000+00:03:45.282 N 3: [emsesp] Boiler(0x08) -> (0x0B), (0x33), data: 08 00 3C FB 00 0F 00 02 41 00 FF``
c) turn the

[2020-09-18 10:43] MichaelDvP commented on #508
Yes, i can reproduce this. The controller overwrites the setting after next publish (with watch 33):
[code]
You can check if the thermostat command `call wwmode off` works. That seems to be stable, but boiler ww keeps activated and wwontime on thermostat should be possible.
[code]

[2020-09-18 12:40] SpaceTeddy commented on #508
hi,
I will try the call wwmode off/Auto/on command and give feedback tomorrow, but the LED setting on the es73 looks promising. :)
good hint to use this command 👍

[2020-09-18 16:05] proddy commented on #500
in 2.0.2b3 a dump from the settings can be obtained via http://ems-esp/api?device=system&cmd=info

[2020-09-18 16:05] #507 closed

[2020-09-18 16:06] proddy commented on #507
in 2.0.2

[2020-09-18 16:07] proddy commented on #506
2.0.2b3 implements http://ems-esp/api?device=XXX&cmd=XXX&data=XX&id=XX e.g. `http://ems-esp/api?device=boiler&cmd=wwtemp&data=20&id=1`

[2020-09-18 16:35] SpaceTeddy commented on #508
Hi Michael,
it works with the thermostat wwmode command. I've tested it with my programmed WW time-schedule.
So, thanks again for your help.

[2020-09-18 19:57] glitter-ball commented on #499
OK - will try and update this weekend. Have just replaced SD card with SSD which has been enough excitement for [more than] one day...

[2020-09-19 09:25] proddy opened #509 "Option to choose how booleans are rendered in Console, Web and MQTT"
Currently booleans are on and off. Add settings in Web to allow either
 on / off
 1 / 0
 true / false

which will be used for rendering values in the Web and Console UIs as well as the MQTT payloads.

[2020-09-19 14:35] glitter-ball commented on #499
I did the upload OK but still not sure about the process. I dragged the file in and waited a minute or so. Clicked another link and an orange box "Upload cancelled by user" appeared. Waited a bit longer and then it restarted OK on 2.0.2b3.

I think it's the no immediate action thing that's a bit disconcerting. If it popped up a dialog which said something like, "Upload completed. Copying firmware

[2020-09-19 21:33] glitter-ball commented on #500
That looks promising. With the Settings page data too, that would pretty much nail it.

[2020-09-20 09:18] MichaelDvP commented on #506
Wow, a lot of work. Tested some commands without any issue (except some info-commands are not yet implemented).

Since this is a way to send commands without authentification there should be a option to turn it off.

[2020-09-20 09:50] proddy commented on #506
yeah, busy with adding the other devices and sensors.

Agree there should be a new setting to enable/disable the write commands to the API. I could also add the authentication to the URL like tasmota does it (`http://<ip>/cm?user=<username>&password=<password>&cmnd=Power%20On`) but it's not very secure.

[2020-09-20 13:55] proddy commented on #506
added sensors, mixing and solar. Can't really test so let me know if there are problems. Syntax is `http://ems-esp/api?device=sensor&cmd=info`

Also renamed sensors to sensor to keep consistent naming with the other devices.

Still some work to do. I'm not 100% happy with the implementation but its a start.

[2020-09-20 15:02] MichaelDvP commented on #506
Tested api-info-command for boiler, thermostat, mixing, sensor, all working well (i have no ems-solar). Switching off api commands works also.
In single/custom mqtt the thermostat_datax is not published, please insert in `thermostat.cpp`, line 445: `Mqtt::publish(topic, rootThermostat);`

Than mqtt publish as 'sensor_data` (nested/HA/custom) would be also more consistent.

[2020-09-20 15:14] MichaelDvP commented on #502
With the additions of #506 heap is ~2k lower, not enough to reload web-page if telnet is open on esp8266.  I think you can cross out the second option (telnet on web).

[2020-09-20 17:36] proddy commented on #502
I was thinking when you select a device in the EMS Devices web page, it shows the value below and below that show a new form where you can choose a command from a drop-down, a value, and an id. It's a luxury feature and not high-priority but it does kind of round of the Web UI as being a fully functional dashboard & command center.

[2020-09-20 17:56] proddy commented on #500
it's all there now in 2.0.2b4. Looks very pretty with a chrome extension like https://chrome.google.com/webstore/detail/json-viewer-awesome/iemadiahhbebdklepanmkjenfdebfpfe?hl=en

[2020-09-20 18:53] proddy commented on #505
@cyniu88 do you want to retry with the latest dev build and see if this bug is now resolved?

[2020-09-20 19:01] proddy commented on #499
@glitter-ball I did a few tests. When you drag&drop the firmware it will start the upload (to 100%) and then show the green box with the message 'activating new firmware...'. Then it will de-compile the firmware and reboot which can easily take up to a minute. Would it help if I add some more text in that web page explaining the process and to wait?

[2020-09-20 19:05] proddy opened #510 "add console contexts for solar, mixing and the other connected devices"
Currently, there are only context menus in the Console for boiler and thermostat. I'd like to extend this to Solar and Mixing too, but will undoubtedly run into the same problem where there can be multiple solar/mixing devices so the user has to select the 'master device' like it's done in the Thermostat module. It probably makes sense to refactor this code to make it a standard part of the EMSdev

[2020-09-21 06:04] proddy commented on #510
Slept on it and now I have a better idea; get rid of the context menus for devices and only keep the `system` context. Having these separate context menus for each device was originally to overcome heap memory issues loading the [console commands](https://emsesp.github.io/docs/#/Console?id=console-commands) but since they're now offloaded to the new 'call command' subsystem this is no longer a pro

[2020-09-21 20:11] glitter-ball commented on #499
I don't think I've ever seen that stuff. The new firmware uploads in a second or two and then nothing appears to happen *8(.

I tried again tonight and left the system for 90 seconds - nothing visible happens at all. When I refresh the screen or click on a sidebar link, I get an orange "Upload cancelled by user" popup. Usually, after a bit of poking I can get back to the login page. When I log in

[2020-09-22 11:30] MichaelDvP commented on #510
I think it is a good idea.
But i'm not sure if master-devices apart from thermostat really nedded. For mixing there is no master, every mixing-device does it's own job on hc or wwc, independent of the others. `call <device-id> ...` and `read <device-id> ...` addresses every module, also no need for a master.  For solar i don't know what multible modules do.

[2020-09-22 12:09] proddy commented on #510
ok, I'll go ahead and make the change and keep 'set master thermostat' only for the thermostat.

[2020-09-22 12:19] lendy007 opened #511 "Scanned devices not saved in v2 release"
**Bug description**
The problem solved in #323 is back after upgrade to 2.0.1 release. I can perform `scan devices deep` so it will find my RC30 but there is no option to save this scan resulting in loss of RC30 after each restart of EMS-ESP...

Another issue - even when I scan for RC30 manually and I can see its parameter in web console - it is not sending information about hc1 in MQTT messages.

[2020-09-22 12:46] inter-faze commented on #501
Hello @proddy and @MichaelDvP: today I had time to upgrade from 1.9.5 to 2.0.2b. The heatingactivated and wwactivated work as expected.
Is use the bbqkees device

[2020-09-22 13:32] proddy commented on #511
I remember that issue.

The correct method that all EMS devices follow is to query the EMS Bus Master (which is the boiler) for all its connected devices. In your case, which is very special, the Boiler doesn't want anything to know about the RC30. This could be a fault in the boiler or a configuration in the RC30 or something else in your EMS network. I haven't seen any other cases of this. It's

[2020-09-22 14:12] MichaelDvP commented on #511
@lendy007

What mqtt format have you set? In `single` and `custom` the there are other topics for the hc: `thermostat_data1` for hc1, `thermostat_data2` for hc2, etc.

[2020-09-22 14:24] lendy007 commented on #511
@MichaelDvP - I am using Home Assistant format, but I've tried also the others but no information from thermostat...

I will downgrade to 1.9.5 as v2 is unusable for me with my current boiler :-( Hopefully is downgrade possible and won't brick the gateway...

[2020-09-22 14:48] MichaelDvP commented on #511
For HA there is also an extra topic. `thermostat_data`  for the thermostat data without hcs like you see it,  and `homeassistant/climate/ems-esp/hc1/state` for hc1.

[2020-09-22 15:48] Sonusss opened #512 "AM2302/DHT22 Support"
Hi,

It looks like the current version only supports DALLAS 1 wire sensors.
Can you please add support for DHT22 which is Temp & RH sensor ?

Thx

[AM2302-ETC.pdf](https://github.com/proddy/EMS-ESP/files/5262566/AM2302-ETC.pdf)

[2020-09-22 16:07] proddy commented on #512
I'd rather not. It's a lot of work for me to code and extend the core and easier if you just spend the 1.5 euros and purchase a ds18b20. :-)

[2020-09-22 19:16] Sonusss commented on #512
The point is getting also humidity...
Maybe I'll give a try myself even not being senior programmer.
From my point of view there is a value turning ems/esp into a kind of environmental measuring station.
We have most interesting internal values, we have at least external temp when probe is present and we can extend measurements without the need of extra ESP devices consuming energy...;-)

[2020-09-22 19:38] proddy commented on #512
I'm just not convinced there are users that want to measure humidity?

I'm done many projects with the DHT22 so know how to code it, the complexity is adding it to EMS-ESP alongside the 1-wire implementation for both ESP8266 and ESP32, making sure it's tested and not conflicting with any other I/O pins and extending the web UI to show even more data.  It'll take some time to get it right for every

[2020-09-22 20:04] Sonusss commented on #512
Hey Proddy,

Do not over react !
I fully understand your point.
That was just a suggestion and I can fully attest about my complete support to your wonderful job to reverse engineer the EMS world and commitment to it.

I thought this could be simple, if not just forget for now.

However, just because I'm the kind of awful throl in the surrounding, adding support for most popular environmental prob

[2020-09-22 20:26] cyniu88 commented on #505
yes, I want to check, where can I find binary file ?

[2020-09-22 21:36] proddy commented on #505
https://emsesp.github.io/docs/#/Uploading-firmware

[2020-09-23 11:18] proddy commented on #296
was added to 2.0.1 - `call boiler flowtemp` in console or via MQTT. See API

[2020-09-23 11:22] proddy commented on #500
Perhaps final thing is to create a button in the Web UI which will export the settings.

[2020-09-23 11:23] proddy commented on #461
although it's technically possible it would put too much strain on the ESP8266. So decided not to peruse this.

[2020-09-23 11:23] #461 closed

[2020-09-23 11:24] proddy commented on #426
First localized version of the UI is looking promising.

[2020-09-23 11:25] proddy commented on #440
@MichaelDvP is this something we should spend time looking into? I don't have mixing units so can't comment on whether grouping adds any value.

[2020-09-23 11:26] proddy commented on #390
no activity for 3+ months so closing. Please re-open if necessary.

[2020-09-23 11:26] #390 closed

[2020-09-23 11:27] #330 closed

[2020-09-23 11:29] proddy commented on #289
sticking to basic username/password authentication. Supporting TLS in web and mqtt is a lot of work and requires considerable memory.

[2020-09-23 11:29] #289 closed

[2020-09-23 11:30] proddy commented on #499
yes, if you're still seeing issues with the web upload please create a new issue so other users can chime in.

[2020-09-23 12:07] glitter-ball opened #513 "Firmware upgrade progress not displayed in GUI"
**Bug description**
When a new .bin firmware file is dragged and dropped into the v2 GUI, the update does not proceed as code authors think it should.

**Steps to reproduce**
Drag and drop new .bin file into the upgrade page.

**Expected behaviour**
When you drag&drop the firmware it will start the upload (to 100%) and then show the green box with the message 'activating new firmware...'. Then it

[2020-09-23 12:13] glitter-ball commented on #513
Anyone else seeing this behaviour too? Did try and video it but can’t upload MP4s and hosting it somewhere else was messy.

[2020-09-23 12:13] MichaelDvP commented on #440
No, i dont think it would add any value. The structure now is clear one topic per device.
Maybe in the first time there will be some questions from people upgrading from v1.9.5. But that's all.
I think we can close this issue.

[2020-09-23 12:27] proddy commented on #513
Which browser are you using?

[2020-09-23 12:27] proddy commented on #440
ok!

[2020-09-23 12:48] glitter-ball commented on #513
I get the same behaviour in latest versions of Firefox and Edge, both on Windows 10.

[2020-09-23 12:51] MichaelDvP commented on #497
I close this, with #510 we dont have the device contexts anymore and `read <device-id> <type-id>` is the only global command, also a `write` makes less sense, `send telegram` do the same with only the <src> byte as difference.

[2020-09-23 12:51] #497 closed

[2020-09-23 13:06] MichaelDvP commented on #513
I have also firefox (tweaked) and edge (stock) on win10. With both i see the expected behaviour. Here for Edge:
After drop the bin:
![uploading](https://user-images.githubusercontent.com/59284019/94015371-10b9c100-fdad-11ea-8561-48a37f481d64.png)
a few secondes later:
![upload_ok](https://user-images.githubusercontent.com/59284019/94015389-13b4b180-fdad-11ea-81f7-33e2544a401f.png)
The box also wor

[2020-09-23 15:33] cyniu88 commented on #505
hi, on dev branch problem seems to be solved :)

[2020-09-23 16:46] proddy commented on #505
yay!

[2020-09-23 17:28] proddy commented on #500
Added the link to the settings page in now what I'm calling 2.1.0b0.

[2020-09-23 17:28] #500 closed

[2020-09-23 17:59] mupsje opened #514 "MQTT Nefit easy + Excellent HR30"
Hi,

With V1.9.5 I received with the settings from BBQKees and Wiki.
several values from my setup.

Nefit easy -- connected to
Nefit Easy Adapter and --
wired to the Gateway Premium II bought from BBQKees.

Now after update to 2.0.1  I only receive MQTT- values from ems-esp/Thermostat_data

![1](https://user-images.githubusercontent.com/46684538/94050631-d49b5600-fdd6-11ea-82ee-7b994cf317f4.png)
!

[2020-09-23 18:24] #508 closed

[2020-09-23 18:35] proddy commented on #514
Hi Remco, thanks for logging the issue.

Two problems I see here, first is the Boiler (on device 0x08) is not recognized as an actual Boiler. Can you tell me which Nefit boiler you have?

Second issue it looks like the MQTT is not being sent. From the MQTTExplorer screenshot it's showing all the old retained messages from version 1.9.5. In version 2 the MQTT topics are no longer prefixed with `hom

[2020-09-23 20:03] proddy commented on #506
@mglatz pushed these changes into the latest dev build, v2.1.0b0. Please try it out and re-open this issue if you find bugs.

[2020-09-23 20:03] #506 closed

[2020-09-23 20:04] proddy commented on #510
done in 2.1.0b0

[2020-09-23 20:04] #510 closed

[2020-09-23 20:06] proddy commented on #514
oh your boiler is an "Nefit Ecomline Excellent Hr 30". I see now.

[2020-09-24 06:04] mupsje commented on #514
Hi Proddy,

Thanks allot for the great feedback
I did upload the new Bin and.....  boom Nefit it is.
Also did a show mqtt in telnet for you.
Today I'm going to test more with Node red and Hassio
Thanks .
![6](https://user-images.githubusercontent.com/46684538/94106871-9e90bd00-fe3c-11ea-9430-82ce4decf8e6.png)

[2020-09-24 06:12] proddy commented on #514
great. Now we need to make sure MQTT is working. In the telnet if you do a `publish` command it will send all the data immediately to MQTT so it's a good test. You should also see things in the MQTT queue if you're quick. Note to use the publish command you need first to be Admin (use `su` and the default password).

[2020-09-24 06:13] mupsje commented on #514
Denk dat het nu goed moet zijn...
Nu nog kijken hoe ik het allemaal in Hassio ga zetten..

Think its ok now, challenge to get all into Hassio now..

![7](https://user-images.githubusercontent.com/46684538/94107383-a69d2c80-fe3d-11ea-91ea-495e0eba1e0c.png)

[2020-09-24 06:15] proddy commented on #514
dat ziet er inderdaad wat beter uit.

But I'm still missing a few MQTT topics that EMS-ESP sends, like `info` and `status`. Check my previous screenshot.

[2020-09-24 06:39] mupsje commented on #514
Denk dat we er nu zijn.
Heb de RX op stand 3 gezet en boem!
Think this is it!
Put the RX on value 3 and after publish command boooom!!
![8](https://user-images.githubusercontent.com/46684538/94109545-6cce2500-fe41-11ea-8d11-02198e6b99de.png)

[2020-09-24 06:40] mupsje commented on #514
Now, how to Hassio hahahahaha

[2020-09-24 06:42] iladi4466 commented on #296
Thanx very much.

I tried to update firmware and I have an issue.

I cannot see any data in the web interface, only the left-side menu. But any click on the menu does nothing.

I unplug the controller, plug it back and then a can insert password and navigate menus normally (except upgrade, error connecting to server).

But after some time If I try a new reconnect the same as above happens.

Also i

[2020-09-24 07:02] mglatz commented on #506
thank you, will do

[2020-09-24 07:42] proddy commented on #296
which firmware bin do you use? From which version did you upgrade from? Does the Telnet console work?

[2020-09-24 07:50] iladi4466 commented on #296
Currently on 1.95

Version 1.94 before

I don’t know about telnet, but in Home Assistannt and Grafana I can see variations of parametters of the sensors (mqtt) so the module is working,

From: Proddy <notifications@github.com>
Sent: Thursday, September 24, 2020 10:43 AM
To: proddy/EMS-ESP <EMS-ESP@noreply.github.com>
Cc: iladi4466 <adrian_iliescu@outlook.com>; Author <author@noreply.github.com>
Su

[2020-09-24 07:56] proddy commented on #296
I would grab the latest 2.1 dev build and try that.

[2020-09-24 08:25] MichaelDvP commented on #509
Working good, only one exception is `/api?device=system&cmd=info` which always shows true/false without quotation marks.
Is there a special reason for this? (Like a plan to import the settings as this json?)

[2020-09-24 08:37] proddy commented on #509
the true/false is JSON standard on how booleans are represented. I didn't add this new rendering method to system/info but could. No plans to build an import yet. There's another github issue on backup & restore but it's quite a bit of work.

[2020-09-24 08:52] #512 closed

[2020-09-24 10:17] glitter-ball commented on #513
I've never seen the "Activating new firmware" popup above.

I get the green popup for login and settings saving in Firefox. There's also something else odd going on. When I attempt to connect in Microsoft Edge, I get:
![image](https://user-images.githubusercontent.com/57917148/94132362-1835a480-fe57-11ea-856a-ee416e0b7dfa.png)
and the login page never appears, so I can't check the popups in Edge.

[2020-09-24 11:48] cyniu88 opened #515 "MQTT topic "heating_active ""
should the MQTT Heating_active topic be available in version 2.1.0b0?

[2020-09-24 12:28] proddy commented on #515
yes. is it broken?

![Capture](https://user-images.githubusercontent.com/1230712/94144954-1cbb8680-fe72-11ea-9bdd-b59d9739edc2.png)

[2020-09-24 12:34] MichaelDvP commented on #515
Depends on the system. The `Central heating` is linked to `tapwater active` and if it a system with ww-buffer the tapwater does not work and also `Central heating`.  In ww-flow systems both topics are published.

[2020-09-24 13:03] proddy commented on #515
I remember, related to #354 & #465

We haven't found a solution that works for all setups.

[2020-09-24 13:56] MichaelDvP commented on #515
Oh, there is a solution, but we have to check some cases for buffer systems.
Central heating is on if:
With 3-way-valve: burner on, 3-way-valve off, flow pump on,
With wwCharge pump: burner on, flow pump on. (wWCharging is possible parallel to central heating, depends on ww priority).
I can check the next days when it's colder outside and wW isn't heated by boiler not solar.
In my case the flow pu

[2020-09-24 14:56] MichaelDvP commented on #509
I have seen the other backup & restore issue, that's why i thought you plan to use this json without passwords to also simple restore settings. If not, i think it's more consistent to change this also to the selected booleans.  But it doesn't really matter.

I tried with change `void render_boolean()` to `char * render_boolean()` and use in system.cpp:
[code]
Should i push this?

[2020-09-24 15:46] Sonusss opened #516 "Building env"
Hi,

I'm trying to install my building environment.
Have followed your instructions regarding nodeJS and Platformio but when I "pio run" I get errors about missing LittleFS.h

I googled found this: https://github.com/esp8266/Arduino/tree/master/libraries/LittleFS/src
copied both .h and .cpp files to lib.

Now there is another missing #include which I can't figure: <flash_hal.h>

I guess you should

[2020-09-24 15:54] proddy commented on #509
please do. thanks

[2020-09-24 16:10] glitter-ball commented on #515
This sounds like a path I've trodden recently. #485 has some of the changes I needed to make to get everything back in HA.

At some point, I need to try the HA MQTT option - I'm still using the "Single" format.

[2020-09-24 16:10] glitter-ball commented on #514
This sounds like a path I've trodden recently. #485 has some of the changes I needed to make to get everything back in HA.

At some point, I need to try the HA MQTT option - I'm still using the "Single" format.

[2020-09-24 16:59] glitter-ball commented on #515
Hmm... just looked at mine and realised that my HA doesn't really report this right.
![image](https://user-images.githubusercontent.com/57917148/94175695-f35d2380-fe8e-11ea-9df2-1520e25d5884.png)
As Michael says, it needs some simple logic - which could go in HA or EMS-ESP?

In my case (stored hot water cylinder, not instantaneous combi boiler), the boiler's actually producing hot water if 3-way v

[2020-09-24 17:00] proddy commented on #516
You must be doing something wrong installing pio. Did you follow the guidelines on the platformio site? You shouldn't need to copy files.

The automated build process (travis CI and github actions) follow the same steps from a fresh O/S install so I know it works. It's just 3 lines really.

If you can describe the steps you took with screenshots I can help you. Windows or Linux?

[2020-09-24 17:20] glitter-ball opened #517 "Climate error in HA - config issue or missing data at start-up?"
**Question**
I've been getting a persistent error in the HA log:

`2020-09-21 21:14:50 ERROR (MainThread) [homeassistant.components.mqtt.climate] Could not parse temperature from `
![image](https://user-images.githubusercontent.com/57917148/94177389-5a7bd780-fe91-11ea-8cd1-32058a5e6777.png)

That's all I get - rest is truncated, sadly. It seems to produce a burst (16 this time) and then stop. I've

[2020-09-24 17:43] glitter-ball commented on #513
Tried shrinking the Firefox window to make sure nothing getting lost behind Windows task bar. No good.

But observed something new. Watched MQTT Explorer. There is a gap in the data stream (in red here) after the FW uploads, but, crucially there is no 'info' telegram and the uptime in the heartbeat telegram hasn't reset:
![image](https://user-images.githubusercontent.com/57917148/94180075-5c479a00

[2020-09-24 17:54] glitter-ball commented on #500
Hmm... Could I be cheeky and push my luck by asking for a CR/LF between each setting and its value and between "pages"? Would make it easier to digest? Something like...
[code]
Thank!

[2020-09-24 19:09] proddy commented on #500
LOL. It was done intentional. Keep the JSON format. But I highly recommend a chrome/firefox/edge extension like "JSON Viewer Awesome" to show you a pretty version of it.

[2020-09-24 19:11] proddy commented on #517
yes, its because the data hasn't come over in the MQTT yet. Two options: set the MQTT Retain to true to persist the data, or switch the MQTT Format over to HA. Then you don't need ever to touch any .yaml files.

[2020-09-24 19:21] Sonusss commented on #516
I'm on Linux (Ubuntu 18.04 LTS)
I installed Plaformio from this command : python3 -c "$(curl -fsSL https://raw.githubusercontent.com/platformio/platformio/develop/scripts/get-platformio.py)"

and installed NodeJS as decompress de tarball to /opt folder

[2020-09-24 19:43] cyniu88 commented on #515
unfortunately, in my case, after upgrading to version 2.1.0b0, I never received the MQTT theme "Heating_active". The release works fine

[2020-09-25 06:31] proddy commented on #515
@cyniu88 do you see heating active in the Web or the Console?

[2020-09-25 07:24] MichaelDvP commented on #515
@cyniu88 the last release always publishes `heating_active` but the value was wrong for ww-buffer-systems. Now it's only published if there is a valid value.

@proddy maybe it's quite simple, i see in the ems-handbook:
[code]
I'll log this. The first char is a graphics char, not minus/equal, i don't know which charset.

[2020-09-25 07:28] MichaelDvP commented on #509
Updated the system-info.

[2020-09-25 07:28] #509 closed

[2020-09-25 07:50] proddy commented on #515
@MichaelDvP good spot! I'll trace it too and see what happens when water & heating is on & off.

[2020-09-25 08:09] glitter-ball commented on #515
I’ve decoded ServiceCodeNumber into a Status text and it does correctly report activity in my system:
![6043980A-6AD5-498E-9751-13874A500DD7](https://user-images.githubusercontent.com/57917148/94242650-47f3b380-ff0e-11ea-830f-32e358071810.jpeg)

Brown is CH active (burner on) and cyan is HW active. Was hoping to provide more detail from the Logbook but my derived status code isn’t available - mayb

[2020-09-25 08:18] iladi4466 commented on #296
Hi

I could not upgrade via normal method, I was forced to upgrade via cable method  don’t know why.

But it is all good now. Up & running.

From: Proddy <notifications@github.com>
Sent: Thursday, September 24, 2020 10:57 AM
To: proddy/EMS-ESP <EMS-ESP@noreply.github.com>
Cc: iladi4466 <adrian_iliescu@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [proddy/EMS-ESP] Posibility to incr

[2020-09-25 09:20] glitter-ball commented on #500
Sorry - I should have realised it was in JSON (not something electrical engineers naturally keep up with!) I'll get a viewer...

[2020-09-25 09:24] glitter-ball commented on #517
OK - yep, keep the dog happy.

I do need to get to grips at some point with switching to HA format. Not 100% sure what that entails doing in HA. I seemed to end up hand-crafting a lot of .yaml files to get mine workind and then use the UI to tart it up on screen.

As long as I take a full snapshot before I start, I guess I can always roll back.

Keep up the good work and sense of humour - I'm not

[2020-09-25 09:29] MichaelDvP opened #518 "add circulation pump mode commands for boiler and thermostat"
As discussed on gitter with @inter-faze there are some settings of the ww circulation pump not implemented as command.
I'd like to add commands to boiler for the values that are already fetched:
`wwcircpump` on|off
`wwcircmode` 1..7

and new to thermostat:
fetch value for `wwCircMode_` off|on|auto
command `wwcircmode` off|on|auto

This value and also `wwmode_` is located in type_id 0x37. This mess

[2020-09-25 09:59] cyniu88 commented on #518
in my case the wwcirculation command does not work on ems-esp but on RC300 it works fine.

[wwcirculation_from_RC300.txt](https://github.com/proddy/EMS-ESP/files/5282017/wwcirculation_from_RC300.txt)
[wwcirculation_from_terminal.txt](https://github.com/proddy/EMS-ESP/files/5282018/wwcirculation_from_terminal.txt)

[2020-09-25 10:31] proddy commented on #518
not supported on RC20 `[emsesp] Thermostat(0x17) -> (0x0B), (0x37), data: <empty>`

[2020-09-25 10:43] MichaelDvP commented on #518
@proddy Thanks, as expected, only the boiler commands will work.

@cyniu88  Thanks, also as expected the type-id 0x37 give:
[code]
for RC300 there are some ems+ messages. In RC300 have you set the configuration of circulation pump to off?
It switches to `Warm Water circulation pump available: off` that is the boiler command `001+14:39:50.574 D 22: [emsesp] Received UBAParameterWW`, this is what i'

[2020-09-25 11:31] Sonusss commented on #516
I could go a little further...
However now I'm stuck...
lib/framework/ESP8266React.h:33:21: fatal error: WWWData.h: No such file or directory

which comes from:
#ifdef PROGMEM_WWW
#include <WWWData.h>
#endif

[2020-09-25 11:38] proddy commented on #516
there's a script in the platformio.ini file that runs npm to build that WWWData.h file. Did you uncomment it by chance?

[2020-09-25 11:48] #296 closed

[2020-09-25 13:55] Sonusss commented on #516
nodejs was outdated....

[2020-09-25 13:55] #516 closed

[2020-09-25 19:28] lsw271 commented on #515
I think i've got the same issue.
`Boiler: Junkers GBx72/Trendline/Cerapur/Greenstar Si/27i (DeviceID:0x08 ProductID:123, Version:06.02)
`
mine is Junkers Cerapur
`Thermostat: RC300/RC310/Moduline 3000/CW400/Sense II (DeviceID:0x10, ProductID:158, Version:33.04)
  Clock: 21:25:08 25/09/2020
` and CW400
My tapwater_active doesnt change, always changed heating_active even it was heating hot water

[2020-09-25 19:36] lmdecroos commented on #518
My master thermostat is a RC35 and i have a RC20RF for my second HC
EMS-ESP version 2.0.1

ems-esp:/# read 10 37
009+23:50:01.249 N 6: [emsesp] Thermostat(0x10) -> (0x0B), (0x37), data: FF 00 02 02 00 01 01 00 3C FF
ems-esp:/# read 17 37
009+23:50:24.123 N 7: [emsesp] Thermostat(0x10) -> (0x0B), (0x37), data: FF 00 02 02 00 01 01 00 3C FF
009+23:50:27.625 E 8: [telegram] Last Tx Read operation fai

[2020-09-25 19:48] glitter-ball commented on #518
I have a Sense II

[code]

Extracts from Sense II manual:
The controller has time programs:
– Heating systems: For each heating circuit, 2 time
programs with 6 switching times per day can be set
(exception: for one constant heating circuit there is
only 1 time program).
– Domestic hot water: A time program for DHW heating
and a time program for the DHW circulation pump for
each hot water circuit,

[2020-09-25 20:45] cyniu88 commented on #518
@MichaelDvP  I can collect logs for you, but please describe all the steps I need to take

[2020-09-25 20:57] lsw271 commented on #505
Hello @proddy, I have a problem with setting the thermostat temperature and warm water temperature.
my configuration
`Boiler: Junkers GBx72/Trendline/Cerapur/Greenstar Si/27i (DeviceID:0x08 ProductID:123, Version:06.02)`
mine is Junkers Cerapur
`Thermostat: RC300/RC310/Moduline 3000/CW400/Sense II (DeviceID:0x10, ProductID:158, Version:33.04) Clock: 21:25:08 25/09/2020` and CW400

Yesterday I had

[2020-09-25 22:14] lsw271 commented on #505
i tried also change temperature with instruction in this issue https://github.com/proddy/EMS-ESP/issues/439 but i'havent got any logs in telnet after publish the topic

[2020-09-26 05:39] proddy commented on #505
@lsw271 you're using the setting MQTT Format to `Home Assistant`. This will use HA's MQTT Discovery format when publishing the topics and payloads, which is why the thermostat data looks different. But not to worry, this is the correct way. You can safely delete that thermostat code from `sensors.yaml` file. In HA you'll see a single state called `climate.hc` (check Developer Tools->State) which y

[2020-09-26 07:21] MichaelDvP commented on #518
@cyniu88
The command i'm lookin for is in the picture of @glitter-ball this one:
![circ_cmd](https://user-images.githubusercontent.com/59284019/94332587-ce73c800-ffd6-11ea-8e43-dc42e6532019.png)
and there is a similar command for DHW (off/on/as_hc/own_program).
In terminal type `watch on 10` to get all messages from the thermostat,
than go to your thermostat and change the settings for DHW mode an

[2020-09-26 07:52] #495 closed

[2020-09-26 07:58] proddy commented on #517
the climate card in HA needs the current temperature, the setpoint temperature and mode to render. This data comes in on different telegrams at different times so this could cause the issues. You could leave MQTTExplorer on for a while, select the thermostat_data topic and look at the history pane to see which fields are populated and when.

in MQTT Discovery (MQTT Format=Home Assistant) you shoul

[2020-09-26 08:01] proddy commented on #515
@lsw271 could you do a quick test. Use the EMS-ESP web UI, click on the boiler and see if you see the first parameter which is "Service Code". Note down the value. Then run the hot water for a few seconds and see if the Service Code values change. With mine idle is 0A (305) and =H (201) when hot water tap is running.

[2020-09-26 08:03] alex-sever-h commented on #501
Hi. Thank you for this patch. I just got the hardware a couple of days ago, and started playing with it, trying to emulate a thermostat for my Buderus GB062, and I was impressed almost everything works out of the box.

I tested the commands **heatingactivated** and **heatingtemp** to set the parameters, and I have mixed results:
**heatingtemp** - as far as I've seen, works as expected; when heatin

[2020-09-26 08:14] proddy commented on #501
@alex-sever-h do you see any traffic on 0xE6 or 0xEA ? There seems to be a difference between EMS1.0 and newer EMS+ boilers. @MichaelDvP knows this better than I do.

[2020-09-26 08:33] alex-sever-h commented on #501
Thanks for the fast response. As far as I've seen, this boiler is EMS1.0, I tried EMS+ commands but they did not work. Please correct me if I'm wrong.
Mind you that I've added prints for the heating_activated and heating_temp in the logs below.

Periodically, I see this, so I assume it's EMS1.0:
[code]

Then log of the **heatingactivated** commands is here:
[code]

What is interesting that setting

[2020-09-26 09:51] MichaelDvP commented on #501
The `heatingactivated` command does not work on all boilers. My system with MC10 controller has a mechanical poti to set boiler on and temperature (max is auto). If i try to switch heating off, it is overwritten by the MC10. Also temp works only if in auto position. Here is how it is overwritten:
[code]

[2020-09-26 10:24] alex-sever-h commented on #501
Thanks for looking into it, @MichaelDvP . My boiler does not have any mechanical switch whatsoever, just a few buttons.
To manually set heating, I would have to press the heating button, then press **^** or **v** buttons to select temperature.
If I send the heatingtemp through EMS bus, I just have to press the heating (radiator) button, and I already see the selected temperature.

Here is trying t

[2020-09-26 10:41] glitter-ball commented on #518
OK. My boiler doesn't support a secondary circulation pump (it's only the thermostat that mentions it) although it has connections on the controller marked "unused".

[2020-09-26 10:47] glitter-ball commented on #517
Thanks. I like the idea of getting #288 sorted first. As you say, it all works for now, pretty much.

From my own experiments, I know the thermostat can take up to 30+ seconds to transmit after an ems-esp restart and the boiler gets in there much quicker every time. With it all set to publish on change (as mine is) you can easily get 8-10 boiler telegrams before the first thermostat one. I just me

[2020-09-26 11:00] glitter-ball opened #519 "Create a derived sensor value in HA"
**Question**
Apologies - this is a bit off-topic, more a HA question than an EMS-ESP one. But it might be useful to other people too.

How can I create a new sensor value in HA from two existing values? Specifically, if I want to create a new value...

`differential = flow_temp - return_temp`

... how would I code that in the sensor.yaml file? Existing entries are:

[code]

Thanks!

[2020-09-26 11:24] MichaelDvP commented on #501
@alex-sever-h The boiler seems to ignore the command.
Try terminal with `watch on 16` and change the settings for on/off and temperatur on the boiler.

[2020-09-26 11:27] proddy commented on #517
that's not normal behaviour. As soon as any EMS device is detected it requests it's data and then subsequently every 10 seconds. When I boot my EMS-ESP I see the thermostat almost instantaneously, either via a `show` command in the Console or in the Web dashboard. If your not then we have another bug that needs squishing.

[2020-09-26 11:36] proddy commented on #519
from the top of my head you would do something like

[code]

You can try the formula directly in HA by going to the Developer Tools->Template and copying in the {{ ... }} bit

[2020-09-26 12:11] glitter-ball commented on #517
So... the instance I quote above was not associated with a restart - that was ‘business as usual’.

I wonder whether it’s linked to me setting publish in change rather than the fixed 10 seconds?

[2020-09-26 12:15] alex-sever-h commented on #501
@MichaelDvP  That is what I did previously. It's just that I also had logging enabled, so there is more noise in the messages.

[2020-09-26 13:32] MichaelDvP commented on #501
@alex-sever-h You have logged two parts, one with heating off, one with heating on and the try to change by ems-esp. I am interrested in the middle part where you changed the boiler setting.
You can also set 'watch on 8` to see all from the boiler and change the settings on the boiler.

The ems-esp-command is ignored from your boiler, here you sending successful the command "FF" to the first datab

[2020-09-26 15:07] glitter-ball commented on #519
Thanks - this seems to work in the Developer Tools preview. I want to round to one decimal place, so tried inserting a `round(1)` filter in several places  (with extra brackets as necessary) to achieve this but without luck. Any idea how to crack, that?

[2020-09-26 15:28] glitter-ball commented on #519
The issue is something to do with the subtraction operator. If I just put each reading with the `float() `filter into the template, they both report back values in the form `xx.x`. This was a bit of a suprise as the return_temp has a `round(1)` in it because the Dallas sensor values aren't necessarily neat numbers. Anyway, on their own they're OK.

Putting the subtraction operator in produces ridi

[2020-09-26 15:58] glitter-ball commented on #519
Great - cracked it! Thanks for your help.

![image](https://user-images.githubusercontent.com/57917148/94344718-22070580-0019-11eb-9895-4a8b7da3f007.png)

[2020-09-26 16:06] proddy commented on #519
Fancy pants!

[2020-09-26 16:16] glitter-ball commented on #519
Ha! Yep - more ‘saddo numbers‘ to look at and for the rest of the family to take the p*ss out of!

But... my son is learning Python now at school and getting bored with drawing houses with the turtle, so he might have to play cool and learn some HA stuff too. *8()

[2020-09-26 19:23] glitter-ball commented on #519
For the curious, this is the complete config.yaml block:

[code]

[2020-09-26 19:31] glitter-ball commented on #517
![image](https://user-images.githubusercontent.com/57917148/94348773-f561e680-0036-11eb-8f99-a86ab405399d.png)

Here's an MQTT Explorer screenshot. In the LH half of the plots, MQTT was set to publish on change. In the RH half, all topics were set to publish every 10 seconds. The thermostat plot shows the biggest change. With publish on demand, it was updating every 60 seconds (default thermostat

[2020-09-26 20:21] FireWizard52 commented on #515
Hi,
@proddy,

As I reported earlier #354, I did the test as well.
Currently I'm running, EMS-ESP software version 2.0.1.
Boiler type: Boiler: BK13/BK15/Smartline/GB1x2

Quiescent situation:

Service Code | 0H (203)
Hot tap water | off
Central heating | off

Hot water request:

Service Code | =H (201)
Hot tap water | off
Central heating | active

I have not been able to test with the Central heatin

[2020-09-27 10:27] MichaelDvP commented on #515
I've made some tests for my system.  The ww-system is buffer and charge pump, no ww-priority. The central heating is with mixer and pump in the mixing unit, no pump at the boiler. Boiler is unmodulated an cycles often at moderate outdoor temperatures.
The service-Code-No. is in normal (non error) state always zero, i also can not display it on the MC10.

- central heating: `-H(0)` when burner is s

[2020-09-27 11:12] proddy commented on #515
That logic works for me too. We just need a few more tests on Junkers/W-Bosch and then we can make the switch for everyone.

The heating active was to simulate the flame icon that shows up on the Thermostat when the heating is on. I use the 'tap water active' to detect if the shower is running. Ironically shower detection and recording the duration of the shower was how EMS-ESP was born, back in A

[2020-09-27 11:41] glitter-ball commented on #515
Maybe it’s better to publish raw data points and then provide sample logic for HA to combine them into something meaningful?

Or (tongue slightly in cheek) you could build a configurable logic sub-system for EMS-ESP where you can combine existing points with Boolean operators to generate new ones and publish them. That would be a massive chunk of new code, though, unless there are cunning librarie

[2020-09-27 12:49] Nunak commented on #515
Where I could download this version? I would like to test it on my junkers cerapur modul and CW400.

[2020-09-27 14:02] MichaelDvP commented on #515
@glitter-ball The raw data are published already in `boiler_data`, but, depending on publish intervall, not actual. The `heating_active` and `tap_water_active` are always published on change.  You can also set `boiler_data` in mqtt to publish on change, but this give a lot more traffic.

@Nunak You have to check the `serviceCode` in `boiler_data` in the actual master or dev version. The actual mas

[2020-09-27 16:05] proddy commented on #515
@Nunak grab the dev build from https://github.com/proddy/EMS-ESP/tree/firmware/firmware, load up the web and record the service code changes when the heating is on/off and hot tap water is on/off. That would really help us, thanks

[2020-09-27 16:48] FireWizard52 commented on #515
Hi,
@proddy

I have upgraded to the latest beta, version 2.1.0b0 and did some testing.
As reported before the quiescent situation (no tapwater, no heating) reported 0H(203) and the tapwater active reported =H(201)
Heating active reports -H(200)
Both tap water active and heating active report on topic ems-esp/heating_active = 1.
The topic ems-esp/tapwater_active = 0 and does not change,

This is wh

[2020-09-27 17:30] proddy commented on #515
@FireWizard52 excellent, thanks for testing. I think we're close.

[2020-09-27 18:36] Nunak commented on #515
So I did upgrade and looks like heating is working - see In mqtt and home assistant "active"

Tap water is still not working, watch on when watter was running and stoped:

000+00:13:22.603 N 408: [emsesp] Thermostat(0x10) -> Boiler(0x08), (0x35), data: 11 01
000+00:13:22.657 N 409: [emsesp] Thermostat(0x10) -> Boiler(0x08), (0x35), data: 37 (offset 3)
000+00:13:25.543 N 410: [emsesp] Boiler(0x08)

[2020-09-27 19:03] proddy commented on #515
@Nunak could you try the test again (water on/off, heating on/off) and note down what the Service Codes are from the Web interface `http://ems-esp/ems-esp/devices`, like:

![Capture](https://user-images.githubusercontent.com/1230712/94373288-bd28d980-0104-11eb-9e08-abd689e17afe.PNG)

just to see if they match 100% with our thinking.

[2020-09-27 19:06] Nunak commented on #515
@proddy there is.
![Screenshot 2020-09-27 at 21 05 57](https://user-images.githubusercontent.com/9319841/94373365-51933c00-0105-11eb-83d6-34ee5ab1b7a3.png)

[2020-09-27 20:00] lsw271 commented on #515
I havent got service code in UI. I checked it from HA.
200 = central heating is on
201 = warm water is on
203 = no central heating / no warm water

In the manual (junkers) i've got 17 service codes... I need to write some template sensor in HA to decode this ;)

[2020-09-27 20:36] lsw271 commented on #505
@proddy  Ok, thanks its working with climate.hc1. Sorry :)
But in HA i've got only automatically mode, it that ok?
![hc1](https://user-images.githubusercontent.com/54321607/94374953-485b9c80-0110-11eb-9fcd-307f83c307f8.PNG)

Themperature was changed (i saw this in telnet) but it returns to 0 (zero) after few second but its only in HA, thermostat got my set temperature, maybe because of summer mode

[2020-09-27 21:04] lsw271 commented on #505
few more words about central heating modes in thermostat

(upper level modes)
1. Always summer
2. Summer from X degrees outside
3. Always winter

(lover level modes)
1. Auto (with hours / days timetable)
  - daytemp
  - nighttemp
2. Manual
  - constant temp without using timetable

Now thermostat in HA looks like manual mode with setting constant temperature. It is possible to do thermostat which

[2020-09-27 21:13] proddy commented on #505
@lsw271 best create a new issues specifically for your setup so we can get it all working correctly. Since you have a Junkers Cerapur and a CW400 it's quite interesting to get this fully supported.

I wouldn't worry too much about HA yet because I'm working on updating that. Let's focus on the settings that are shown in the Console.

[2020-09-28 07:06] MichaelDvP commented on #505
@lsw271

Yes, that's because of summermode, in summermode the thermostat sets the actual setpoint to zero, but not the stored one. You can send a temp command, but this temp becomes active after thermostat leaves summermode. In my RC35 it's the same behaviour.

[2020-09-28 07:29] glitter-ball commented on #515
@lsw271 see #281. @proddy helped me knock up some HA .yaml to decide ServiceCodeNumber which works well.

[2020-09-28 07:51] MichaelDvP commented on #515
@Nunak

I can't see that the burner starts.
Here is a warm water request from thermostat `Thermostat(0x10) -> Boiler(0x08), (0x35), data: 11 01`
with temperature 55°C `Thermostat(0x10) -> Boiler(0x08), (0x35), data: 37 (offset 3)`
but burner stays of and boiler is still in normal heating mode (01 at pos 5): `Boiler(0x08) -> (0x00), (0x18), data: 19 01 25 59 00 01 23 00 C0 80 00 80 00 01 26 FF FF F

[2020-09-28 09:47] proddy commented on #515
@MichaelDvP yes, alternative logic could be the old-school way of doing it. But I'm 100% sure there must be some status codes somewhere for HT3 as this is what their thermostats use. I worked on the Home Assistant MQTT Discovery yesterday so expect a big push coming in soon. Best not to add any PRs yet.

[2020-09-28 09:58] MichaelDvP commented on #515
I've tested the byte 5 and it's working good, no need to check the statusCode.
[code]
and in `void Boiler::process_UBAMonitorFast(std::shared_ptr<const Telegram> telegram) {` add
[code]

or condensed methode for check_active:
[code]

[2020-09-28 11:36] Domoberry opened #520 "Temperature offset adjustment for additional sensors"
**Is your feature request related to a problem? Please describe.**
I have added three temperature sensors and noted a relatively large difference in temperature measured while all sensors measure the same temperature. In my case, the relative delta was 1.0 degrees.

**Describe the solution you'd like**
Having the ability to statically adjust the value measured with a positive or negative number wo

[2020-09-28 12:06] proddy commented on #515
thanks, I'll include it my next push

[2020-09-28 14:25] bbqkees commented on #520
It could be a useful enhancement.
Those DS18B20 sensors are often fake and have wild offsets up to 2 degrees.

[2020-09-28 14:43] StrokaPatric commented on #503
hi all,
sorry for reply, since the update to 2.0.1. i´ve cannot start onetime heating by mqtt.
Maybe someone can show me the MQTT new format, i try a lot.
At this time i´ve got three issues by MQTT Publish Errors but i can´t find anything in the logs.

Thank you all.

Greeting

[2020-09-28 15:03] MichaelDvP commented on #503
Here is the [mqtt format](https://emsesp.github.io/docs/#/MQTT?id=receiving-topics), the commands are linked there (API section)

[2020-09-28 15:12] StrokaPatric commented on #503
Thank you for quick Answer,
my Problem is only by onetime heating, maybe someone had the same problem. In 1.9.5 it still work.

[2020-09-28 16:02] proddy commented on #520
yes, good idea. It's been on my wish-list for a while. It would have to be one single value for all sensors though.

@MichaelDvP  ?

[2020-09-28 16:19] proddy commented on #288
Think I got the HA Discovery working now. EMS-ESP will add a new HA device and attach all the device data as entities to it. See https://emsesp.github.io/docs/#/Home-Assistant. If there are issues let me know, it seems to work on my system. Remember to remove all previous .yaml files except any custom automations.

[2020-09-28 16:37] MichaelDvP commented on #520
For a proper adjustment it should have per sensor an offset (at 0 °C) and a slope. I think it's better to do this in the home automation system, where you know what the sensor is for.  And there you can also do a nonlinear calibration. The ds-datasheet shows a nonlinear error over temperature.
But also possible in ems-esp. The values have to match a sensor by sensor id and store values for >10 sen

[2020-09-28 16:49] Domoberry commented on #520
Agree that the offset and accuracy for a DS18B20 are depending on the temperature. My logic was that in a typical use case one would use the sensor around a limited range and that getting  comparable values for starters in that range would be nice. I had in this practical case:
Sensor 1 / 20.0 / 0 (taking this one as '0' is not based on facts)
Sensor 2 / 20.7 / +0.7
Sensor 3 / 19.7 / -0.3
Are thes

[2020-09-28 19:18] TimoFriedri commented on #288
First of all,

thanks, awesome work.

Now my question: Why don't you expose all values? E.g. "System Pressure", which would be really nice to have for leak alarms.

[2020-09-28 20:08] stravinci commented on #288
Nice work.
![image](https://user-images.githubusercontent.com/6818785/94480140-26c4e880-01d6-11eb-8938-6ba583233902.png)
i want to note:
retain - after restart HA, entities has no values
As @TimoFriedri I used more sensors, eg. outdoor temperature sensor

[2020-09-28 20:15] glitter-ball commented on #520
If you were prepared to tolerate doing the corrections in HA, you could presumably impelment this right now with a template definition much like @proddy helped me knock up over this last weekend for flow-return differential calculation? That doesn't help non-HA users and leaves the dodgy values in the EMS-ESP GUI so there's still an argument for doing it there, albeit requiring more work,

Taking

[2020-09-28 20:23] proddy commented on #288
@TimoFriedri @stravinci thanks for the feedback. I only added a subset of the boiler value to equal the ones in displayed in the WebUI but can easily add the rest (it's just one line). I'll also make sure the topics are retained, thanks

[2020-09-28 21:00] lsw271 opened #521 "Add modes (summer / winter switch) from thermostat CW400"
**Is your feature request related to a problem? Please describe.**
In thermostat I've got 3 modes (in thermostat it calls summer / winter switch) 1. always summer, 2. summer from X degrees 3. always winter.

**Describe the solution you'd like**
 I would like to control this settings from telnet > mqtt > HA

**Describe alternatives you've considered**
EMS-ESP sends data to mqtt, commands to change

[2020-09-28 21:28] toblum opened #522 ""Tx Write operation failed" when triggering "wwonetime""
Dear ems-esp team,

I hope you can help me with this issue:

**Question**
I have ems-esp v2, now v2.0.1 working in read mode for some weeks without issues, but now I'm trying to use TX mode. I want to trigger the warm water load by sending {"cmd":"wwonetime","data":"on"} to topic "ems-esp/boiler_cmd" via MQTT. Nothing happens, but I can see the message "Last Tx Write operation failed after 3 retri

[2020-09-28 22:36] lsw271 opened #523 "setting wwtemp by telnet not working (wrong mqtt topic?) CW400, Junkers Cerapur"
**Bug description**
I tried to change wwtemp by telnet, I saw in the console "Setting boiler warm water temperature to 51 C" but temperature returns to previous value. I also saw in mqtt explorer (sending by telnet) topic home/boiler/boiler_wwtemp (see screenshot below) but I think it should be ems-esp/boiler(...)

**Steps to reproduce**
call command by the console "call wwtemp 51"
comfort mode wa

[2020-09-28 23:23] lsw271 commented on #522
Hi, maybe try like that:
{"cmd":"wwonetime" ,"data":1}
1=on
2=off

[2020-09-29 06:12] MichaelDvP commented on #523
@lsw271 `wWSetTemp` and `wWSelTemp`  are both on the boiler, `wWSelTemp` is the setting in UBAParametersWW which can be written, `wWSetTemp` is the setpoint the boiler reported back in UBAMonitorWW-message and can not be written by us.
The log reports, that the value is written and readback, but after the publish there is another UBAParameterWW message not from us. Something sets the value back. C

[2020-09-29 06:21] MichaelDvP commented on #522
Yes there is something wrong, the command is addressed to 0xFF instead of the boiler 0x08. 0xFF is not a valid device, there is no acknowledge, so it's count as tx-fail. The tx-mode setting is ok.

Can you please test with the latest beta, maybe it's fixed already due to the command changes.

[2020-09-29 06:36] MichaelDvP commented on #521
Yes, good catch, it's in telegram 0x2AF, pos6 for the temperature threshold, pos 7 for the mode. This telegram is on Norberts list, but i never know what WDC means. I'll add it to the beta.

@lsw271 OT: Can you also try to catch the telegrams for wWMode and wWCircMode as described in #518

[2020-09-29 07:34] MichaelDvP commented on #520
I don't think so, from the maxim datasheet:
[code]

[2020-09-29 08:21] proddy commented on #288
@stravinci I checked and all topics are already retained. When I restart HA the topics are still there. So you may want to check your system to double check.

[2020-09-29 08:23] proddy commented on #522
Also in console do a `show devices`

[2020-09-29 09:10] Domoberry commented on #520
Application note 208 from Maxim [https://www.maximintegrated.com/en/design/technical-documents/app-notes/2/208.html](url) talks about such compensation, using indeed a 2nd order approach based on an offset and a correction component based on the temperature at hand. Yet, looks like overkill to me, assuming the typical limited temperature range in which we use these sensors, just an average offset

[2020-09-29 09:41] FireWizard52 commented on #515
@proddy

Hi,

Yesterday evening I have installed this new beta as well, v2.1.0b1 and this morning I have been able to do some more testing.

Results:

Currently I'm running, EMS-ESP software version 2.1.0b1.
Boiler type: Boiler: BK13/BK15/Smartline/GB1x2

Quiescent situation:

Service Code | 0H (203)
Hot tap water | off
Central heating | off

Hot tapwater request:

Service Code | =H (201)
Hot tap

[2020-09-29 10:04] proddy commented on #515
cool, thanks @FireWizard52 for testing this out. Kudos also to @MichaelDvP for figuring out the correct way and programming it.

The "on"/"off" in `tapwater_actived` is the new change to handle the way booleans are rendered. Default is on/off but can be changed to true/false or 1/0 via the Settings page in the Web.

I'll look into why the web isn't updating the hot tap water and central heating.

[2020-09-29 10:37] MichaelDvP commented on #515
@FireWizard52

Service Code | -H (201)
Hot tap water | off
Central heating | off

is this a typo? central heating should be on.

@proddy
now it's setting only shown on mqtt, for web/telnet the variables have to be set. I see this later and edited my post.
`heating_active_ = ((boilerState_ & 0x09) == 0x09);` etc.
i can add this when adding the wwcircpump/wwcircmode commands.

[2020-09-29 10:43] FireWizard52 commented on #515
@MichaelDvP

No, it is not a typo. Indeed, central heating should be on.
It was "on" in the MQTT published message, but not in the WebUI

[2020-09-29 10:56] proddy commented on #515
already fixed it, I'll do a push in a while. distracted with work stuff ;)

[2020-09-29 11:03] MichaelDvP commented on #515
Should i wait with a push or do a pr?
I'd like to update some boiler values, thermostat RC300 summermode and analog enable setting.

[2020-09-29 11:32] proddy commented on #515
ok, done with my changes. It looks ok but I did rush it so watch out for errors.

[2020-09-29 11:32] proddy commented on #288
@TimoFriedri added System Pressure

[2020-09-29 11:40] stravinci commented on #288
@proddy sorry for the confusion. I change FW at EMS-ESP, then I saw device and new entities from EMS-ESP in HA, so I remove all sensors from my configuration.yaml file and restart HA, after that all sensors was unavailable. But today I test it once again and all it is ok, so it must be some dependency with old entities (probably names).

[2020-09-29 11:41] proddy commented on #288
no worries. I had the same thing. I still have old states and entities that I can't seem to get rid off in HA, from previous version of EMS-ESP when I added them manually.

[2020-09-29 12:39] mglatz commented on #523
I also have Junkers (Cerapur comfort in my case) and my findings so far are
`wwSelTemp` is read only and reads the temerature that is set on boiler with the adjustment wheel
`wwSetTemp` shows the same value (in my case, the temp is set to 50). I can change `wwSetTemp `with payload `{"cmd":"wwtemp" ,"data":40}`, but the value (data) must be lower than `wwSelTemp `is. So I can set 40, but I cant set

[2020-09-29 13:05] mglatz opened #524 "thermostat emulation"
How difficult would it be to have EMS-ESP to emulate real thermostat?
Why: I dont have any thermostat at all. I have a smart home where are radiator valves are electronic and controlled independently based on current temperature in each room. So I have one circuit and boiler will only heat the heating water if at least one of the vales is open. But it seems that without a thermostat, very few "thi

[2020-09-29 13:28] lsw271 commented on #523
@MichaelDvP
@mglatz

ok, I forgot i've got another temperature for warm water on CW400, so it will be in my setup `wWSelTemp`
i've got two options in CW400
1. Warm Water temperature
2. lower temperature at night to reduce costs of gas (i'dont know how to tell it in english)

it is for the hot water timetable (hours/ days) which i've got in CW400

I will check it one more time tonight

[2020-09-29 13:29] MichaelDvP commented on #515
ok, i've added my changes too.

[2020-09-29 13:32] MichaelDvP commented on #521
@lsw271 i've added summermode and summertemp to the dev build, Please check if it works as expected.

[2020-09-29 13:42] deqw opened #525 "Command syntax / API documentation"
Since my commands to the thermostat are not working (v 2.0.1) I like to have a confirmation I'm using the correct syntax:

the topic I use: `ems-esp/thermostat_cmd`
the payload:

[code]

When I check thermostat_data after publishing this with MQTT Explorer the mode setting remains "off". What am I missing here? Tx mode is set to 1.

In the API documentation some text is missing at the end of this

[2020-09-29 14:36] proddy commented on #525
The API was changed in 2.1 and the doc updated to reflect it. I haven't had time to merge 2.1 back into the mainline. So grab 2.1 and the MQTT command syntax is topic `ems-esp/thermostat` and the payload as you described. To check this you can also first try this in the Console using the `call` command.

[2020-09-29 15:07] proddy commented on #524
quick answer: difficult! I wanted originally to build a smart thermostat but quickly realized that commercial thermostats (even the cheap ones) are quite clever. The know the heating curves of the boiler and adapt to ambient room temperatures. Trying to simulate this is quite complex. In your case it could be possible by using some home automation software to turn on and off the boiler.

[2020-09-29 15:14] deqw commented on #525
Thanks. Compliments for the new software and GUI, looking good.

I downloaded the EMS-ESP-2_1_0b2-esp8266 binary and tried to upload the firmware, however to no avail. Tried Safari, Chrome and Firefox, all latest versions on macOS. In all three browsers the bin file can be dragged into the drop file area, after that nothing happens, no message, nothing. Only in Chrome the bin can be selected for u

[2020-09-29 15:16] proddy opened #526 "Update Domoticz plugin for EMS-ESP v2.1"
The previous Domoticz plugin for EMS-ESP v1.9.5 is no longer compatible with all the changes in v2.1.

@Gert05 has been working on new version. Would you mind sharing it so I can include the link in the EMS-ESP Documentation. And we can keep this GitHub issue open to collect feedback.

thanks

[2020-09-29 15:17] proddy commented on #525
that's strange. I'll test myself tomorrow. Just to be sure, you selected the ESP8266 build and not the ESP32? Also not the compressed .gz.bin file?

[2020-09-29 15:24] deqw commented on #525
I took EMS-ESP-2_1_0b2-esp8266.bin that was compiled about an hour ago.

[2020-09-29 16:47] florin-laurentiu opened #527 "new unit with firmware V2.0.1b4 is not working"
dear ALL,
 just receive a new unit with firmware V 2.0.1b4 which is not running.
it is mounted in  a Buderus GB162, 35kW with RC 35 installed as also solar module MM10 .
1. first try is to connect new interface with supplied cable jack  to the service port in front of Buderus and is appear on RC 35  display: CALL SERVICE and Buderus unit not working ! Power down and restart with jack cable out and

[2020-09-29 17:16] bbqkees commented on #527
On some boilers the jack cable does not fit perfectly because the hole is too tight. So try to unplug it and reinsert it firmly.
Indeed I shipped some Gateways in the past two weeks with 2.0.1b4, which appears to have the issue that it did not store the values properly.
If you think you bricked the device please try out the NodeMCU method to flash the firmware: https://bbqkees-electronics.nl/wiki/

[2020-09-29 17:19] bbqkees commented on #493
I already have a fully working plugin for Domoticz.
https://github.com/bbqkees/ems-esp-domoticz-plugin
I only need to change the MQTT topics for the new 2.0.1 API firmware which I will do when I'm back from my holiday.

[2020-09-29 17:24] florin-laurentiu commented on #527
hello,
received your answer.
check 2 time the jack cable with connector as also how is fit inside hole - everything is OK , no mistake.
i will try the link that you post on the answer; do you think that i can do this action properly as i don t have any previous experience with this kind of hardware?

thank you!

[2020-09-29 18:27] florin-laurentiu commented on #527
Hello,

received your answer.
proceed as in the link that you send;
unfortunately, it not possible to put/download inside WEMOS the .bin
package.
as soon as i try to flash with NodeMCU, flashing is not possible as the
WEMOS is apparently broken .

laurentiu

On Tue, 29 Sep 2020 at 20:16, Kees <notifications@github.com> wrote:

[2020-09-29 19:57] FireWizard52 commented on #515
Updated from 2.1.0b1 to 2.1.0b2

System continued to work without any issues. Tap water active is still okay.
However the WebUI needs some extra attention, as this has been changed as well.

The two last lines only show (in my case) 50% and 1.5bar

![Screenshot_EMS-ESP_WebUI_2 1 0b2](https://user-images.githubusercontent.com/46283323/94608652-fe082600-029d-11eb-9d1f-c2ca6871070b.png)

This is prob

[2020-09-29 20:08] FireWizard52 commented on #525
Upgraded to 2.1.0b2 using Waterfox (Firefox fork) under Linux (PCLinuxOS). I did not use drag/drop, but I selected the correct file.
It uploaded directly without any issues.

[2020-09-29 20:19] lsw271 commented on #518
@MichaelDvP
I havent got circulation pump in my setup but I checked telegrams.

I can't read by command `read 10 37`
![read](https://user-images.githubusercontent.com/54321607/94610579-cbabf800-02a0-11eb-9b32-e38e955c58f5.PNG)

I tried to check by `watch on `

turn on circulation pump on thermostat and after few seconds turn off
![wwcirc](https://user-images.githubusercontent.com/54321607/94610659

[2020-09-29 20:27] lsw271 commented on #521
@MichaelDvP  could you tell me how I can download dev version? i need to go to dev branch and then what? where i can find the .bin file to upload in EMS-ESP UI?

[2020-09-29 20:31] lsw271 commented on #521
I found this :) https://github.com/proddy/EMS-ESP/blob/firmware/firmware/EMS-ESP-2_1_0b2-esp8266.bin

[2020-09-29 20:40] proddy commented on #515
@FireWizard52 thanks again for testing. I think I know the problem (Michael probably does too). Not enough memory reserved for the json buffer. We'll fix it.

[2020-09-29 20:46] mglatz commented on #524
interesting. I'd expected them to be quite dumb, and thought that they only measure temperature and memorize the week plan that one can set up.
I'm planning to integrate ems-esp more deeply in my home automation, so far I have not really been very lucky to understand how to control the boiler with ems-esp. I'll switch on the heating in a week or so and then I'll experiment with the settings some m

[2020-09-29 20:48] proddy commented on #527
@florin-laurentiu just remove the Wemos from the gateway, use a USB cable to laptop/PC and follow the guidelines to upload the latest firmware manually. Then test without attached to your Buderus, using the Wifi and Console (see Documentation).  BBQKees physically tests all gateways with EMS-ESP before shipping so I'm 100% it works plus we have other users with the same hardware (GB162) so presume

[2020-09-29 20:53] proddy commented on #524
known issue. The boiler resets the values. Michael has been battling with this for the last weeks.

Thermostats are clever little things. Google for pictures of the circuit boards and you'll see there's a lot going on. @bbqkees knows this area better than I do.

[2020-09-29 21:39] toblum commented on #522
Hi guys,

thank you for your quick resposnse.

"show devices" returns:
[code]

I then updated using "EMS-ESP-2_1_0b2-esp8266.bin".

"show devices" returns now (note the additional 0xEA):
[code]

I tried again MQTT: {"cmd":"wwonetime","data":"on"}, but now to ems-esp/boiler
And it seems that it works now as expected. Warm water heats up. Also setting of temperatures is working. That also didn't wor

[2020-09-29 21:39] #522 closed

[2020-09-29 22:50] lsw271 commented on #521
@MichaelDvP I am after some testing
Change comforttemp: from telnet and thermostat OK
Change ecotemp: from telnet and thermostat OK
change manualtemp: from telnet and thermostat OK
change temp: from telnet OK, thermostat i think it will be OK but i dont see it in the mqtt (see hc1 below)? it will be added?

![thermostat_temp](https://user-images.githubusercontent.com/54321607/94623968-ba211b00-02b

[2020-09-29 23:30] lsw271 commented on #523
@MichaelDvP @mglatz
I am after some testing

Values changed right, maybe dev version 2.1.0b2 fixed it

my changes by "call boiler wwtemp X"
49 > 47 --telnet
47 > 43 --telnet
43 > 45 --thermostat
45 > 44 --thermostat

and telegrams
![call](https://user-images.githubusercontent.com/54321607/94625542-408b2c00-02b9-11eb-9ae8-48845ffb5439.PNG)

In mqtt explorer I saw right values, **but it was wrong in

[2020-09-30 06:09] bbqkees commented on #526
The Domoticz plugin is still functional for the most part except for the thermostat topics.
https://github.com/bbqkees/ems-esp-domoticz-plugin.
We should not create two separate plugins.

[2020-09-30 06:19] Nunak commented on #515
Updated also from 2.1.0b1 to 2.1.0b2 and looks that I am able to see tap water and also heating. Thanks!

![Uploading Screenshot 2020-09-30 at 08.18.12.png…]()

[2020-09-30 07:48] bbqkees commented on #527
@florin-laurentiu did you select the correct COM port?
Are you using Windows 10?

Its unlikely the Wemos is broken.
Do you get an error when trying to flash?

[2020-09-30 07:54] bbqkees commented on #525
I had someone else yesterday that could not update from 2.0.1 via the web interface. Only via OTA.

[2020-09-30 07:58] MichaelDvP commented on #521
I've fixed summertemp factor and summermode setting should be shown now on console an mqtt.
What do you mean with "telnet goes broken"?

The modetype reports not the setting, but the current state of the thermostat. If summermode is set to x degree and temperature is higher, the modetype changes to summer, (i.e. heating is off).
Mode can be manual/auto and modetype in auto-mode gives comfort/eco f

[2020-09-30 08:02] bbqkees commented on #524
Technically EMS-ESP can send the correct commands to the boiler to turn on the heating.
But there is an algorithm in the EMS thermostats that will control the burner very finely. So its not just on/off but depending on a heating curve, the setpoint and the current room temperature.
If for instance the room temperature is near the setpoint, the burner will not have to work 100% but will be modulate

[2020-09-30 08:35] lsw271 commented on #521
I understand that modetype inform us about current mode but it will be good to see which mode we setted up. In that case another entity would be helpful. Modetype will be to inform about actual mode, setModetype would be for setting / changing.

"telnet goes broken" means the session in putty went closed with error, i dont remmember error message but putty session went inactive (I can check error

[2020-09-30 09:03] proddy commented on #521
@lsw271 the telnet session will automatically close after 2mins of in-activity (timeout)

[2020-09-30 09:06] proddy commented on #515
Just did some testing on Win with chrome, edge, firefox upgrading 2.0.1 to 2.1.0 via the Web and it works.

On OSX the select file & drag-drop is not working because I think OSX's security is blocking it. Need to look into why.

[2020-09-30 09:06] mglatz commented on #524
yeah, I don't expect you guys to have all of it prepared at once for us, but you could create a wiki where we could gradually fill out our findings about various devices for future reference and others to try.

[2020-09-30 09:21] lsw271 commented on #521
Ok, but the session became inactive after sending the command. I will check it tonight and let you know what this message is

[2020-09-30 09:29] mglatz opened #528 "can't set wwtemp in V2.1.0b2 with MQTT"
**Bug description**
sending `[hostname]/boiler_cmd {"cmd":"wwtemp" ,"data":40}` will correctly update `wWSetTemp` in v 2.01 but does nothing in V2.0.1b4

**Steps to reproduce**
send the MQTT message in 2.01 (works); update to V2.1.0b2 (does not work); downgrade to 2.01 (works again)

**Device information**
Junkers Cerapur Comfort identified in 2.1.0.b2 as Condens 2500/Logamax/Logomatic/Cerapur Top

[2020-09-30 10:07] proddy commented on #528
does it work in the Telnet console? See https://emsesp.github.io/docs/#/Troubleshooting

[2020-09-30 10:10] proddy commented on #525
Works fine on all browsers using Windows. I tested 2.0.1->2.1.0. But there is a problem with MacOSX because its blocking the file access. Probably a security thing. Need to check.

[2020-09-30 10:10] #515 closed

[2020-09-30 10:51] Gert05 commented on #526
Attached the updated plugin.py.

It provides a basic interface in Domoticz: read room temperature & system pressure, change thermostat temperature.

Plugin.py goes into a “nefit” directory in /home/pi/domoticz/plugins (on a raspberry pi).

It also needs an mqtt.py; this is unchanged from the previous version.

Tested on Domoticz 2020.2 (12125) & EMS-ESP v2.0.1b4.

Van: Proddy <notifications@github

[2020-09-30 10:57] proddy commented on #526
missing attachment !

[2020-09-30 10:59] Gert05 commented on #526
Noticed that. Struggling with GitHub…

Van: Proddy <notifications@github.com>
Verzonden: woensdag 30 september 2020 12:58
Aan: proddy/EMS-ESP <EMS-ESP@noreply.github.com>
CC: Gert05 <gert.boer@gmx.net>; Mention <mention@noreply.github.com>
Onderwerp: Re: [proddy/EMS-ESP] Update Domoticz plugin for EMS-ESP v2.1 (#526)

missing attachment !

—
You are receiving this because you were mentioned.
Reply

[2020-09-30 11:18] proddy commented on #526
Could you include a small README on how to install/use. Then I'll also add it to the dev branch and include a link in the Documentation. Also make sure it works with 2.1 where the topic names have changed (e.g. from thermostat_cmd to thermostat).

[2020-09-30 12:34] mglatz commented on #528
telnet command works
[code]

but pushing the above message via mqtt will show in log
`No MQTT handler found for topic kotel/boiler_cmd and payload {"cmd":"wwtemp" ,"data":40}`

[2020-09-30 12:53] proddy commented on #528
the topic's have been renamed. It's now `boiler` and not `boiler_cmd` in 2.1.

See https://github.com/proddy/EMS-ESP/blob/dev/CHANGELOG.md#ems-esp-changelog
and https://emsesp.github.io/docs/#/MQTT

[2020-09-30 12:53] #528 closed

[2020-09-30 12:54] proddy commented on #525
fixed the upload for non-Windows

[2020-09-30 12:54] #525 closed

[2020-09-30 12:55] proddy commented on #526
thanks!

[2020-09-30 12:55] #526 closed

[2020-09-30 12:58] proddy commented on #517
@glitter-ball , a bit lost now. Is it better or is something not working how it should?

[2020-09-30 12:58] proddy commented on #519
I've added to the doc. thanks

[2020-09-30 12:58] #519 closed

[2020-09-30 13:06] proddy commented on #503
@StrokaPatric update to 2.1, then try from the console. Use https://emsesp.github.io/docs/#/Troubleshooting to help with enabling the logs.

[2020-09-30 13:08] proddy commented on #513
I still can't reproduce this error (GUI upload on Win10). Anyone else seeing the same behaviour?

[2020-09-30 13:11] proddy commented on #288
@TimoFriedri made a point that it would be better to have the boiler and thermostat as separate HA Devices as they may be in different areas. Also request is to add all the boiler parameters. I was going to make it flexible where a user can choose via the WebUI but probably easier to blast them all out. I will need to modify the MQTT library to increase the queue size, which will get big.

[2020-09-30 13:57] glitter-ball commented on #517
Hi, I think some of this resolved with the work on #288 and a move to HA MQTT layout.

The only other issue is the trace above, which I'm trying to get my head around. With MQTT set to publish on change for the thermostat, I get thermostat updates once a minute (driven by the stat itself?) With MQTT set to publish every 10 seconds, it publishes every 10 seconds. This is probably doing 'what it say

[2020-09-30 14:04] glitter-ball commented on #527
You'll also need a Windows 10 driver for the EMS-ESP's serial port. I had all sorts of fun trying to find one on the web to download, but got there in the end. It would be great if the wiki could include that info or a link.

Wonder whether any of the original issues are due to bus mode setting? It took me a while to realise mine was EMS+ and therefore needed to be on Mode 3.

[2020-09-30 15:01] proddy commented on #517
(1) yes, the thermostat is sending out the data itself after every 60 seconds
(2) yes, it's the same message every 10 seconds. which I admit sounds a bit noddy.

Thinking about this perhaps the normal defacto behaviour is to fetch fresh data every n seconds and then always send when something has changed.

[2020-09-30 15:04] proddy commented on #527
Think @bbqkees needs to add the driver link to his wiki as it depends on which serial/usb chip is in the Wemos he installs. They do differ per batch. Most people coming to this GitHub page are usually technically apt and don't mind tinkering & building firmware. Afterall it is free open-source code, and not a commercial support site :-)

[2020-09-30 15:13] bbqkees commented on #527
It could be years ago I installed a driver for such a board. Did not think
of it again so indeed it could be new users stumble upon this issue.

All Lolin ESP8266 D1 boards use the CH340 chip and most clones do as well.
The ESP32 boards usually have a SiLabs chip but this can vary a lot.

On Wed, 30 Sep 2020, 17:05 Proddy, <notifications@github.com> wrote:

[2020-09-30 15:23] proddy commented on #527
right, and the driver is on their website: https://docs.wemos.cc/en/latest/ch340_driver.html

[2020-09-30 16:02] glitter-ball commented on #527
I think I found it by getting the hardware ID out of Windows 10 USB properties and then Googling it. I ended up on a strange .cn website but the driver worked OK.

[2020-09-30 16:06] glitter-ball commented on #513
Maybe I should wipe the device <gulp> and see if it still happens? Very odd...

[2020-09-30 16:25] StrokaPatric commented on #503
You mean 2.0.1 ?

[2020-09-30 16:49] florin-laurentiu commented on #527
come back in picture with some news, but have in mind same idea:  when i buy something from a shop, i consider that i can use this good as is it; in my case, to buy an interface with a version of software that is not official and more of that is not work properly, this is a same for me as person, that i was buying in this condition .
more or less, even the vendor can tell me if not in advance, in

[2020-09-30 17:38] #527 closed

[2020-09-30 17:55] proddy commented on #503
no the latest dev build 2.1. You can find it https://github.com/proddy/EMS-ESP/tree/firmware
this is the latest version we've been developing and kept in sync with the Documentation. I'll need to update the README on this GitHub rep so its more clear to everyone that there are in fact two versions.

[2020-09-30 18:30] proddy commented on #513
lets just wait a while to see if anyone else has the issue. There are so many factors involved (firewalls, browser plugins, wifi strength). The web upload basically uses the same logic as the espota.py so if that is working I would expect the web upload to work too.

[2020-09-30 19:00] glitter-ball commented on #513
OK. One option would be to wireshark the session and see what traffic’s actually passing between browser and device. That would narrow things down a bit.

[2020-09-30 19:25] LineF commented on #521
I have the same problem (using 2.1.0b2).
ESP seems to crash. Uptime gets resetted to 0.

[2020-09-30 19:36] proddy commented on #521
@LineF that's not good. Can you retrace the steps that cause the crash? Is it idle or during an operation?

[2020-09-30 19:46] LineF commented on #521
I just tried latest version (commit 1043052) but this one is completely broken.
Crashes every view seconds -trying ota update, but I think I have to flash by usb...

With commit 4c3042eb I only had to give the command "call thermostat summermode 0" (or any other text instead of the "0") and this immediately crashed the software...

[2020-09-30 20:10] proddy commented on #521
ok, should be easy to find the bug

[2020-09-30 21:05] lsw271 commented on #521
ok, so I will waiting for fix since update;)

[2020-10-01 05:40] proddy commented on #521
@MichaelDvP I'm unable to track down the root cause of the problem. I don't have an RC300 and running the standalone test simulation seems to show normal behavior (`make run; test km; call thermostat summermode 0`). Can you take a look?

[2020-10-01 05:51] MichaelDvP commented on #521
Cause was the new telegrams were not proper checked for hc-number when reading from ems.
I also have no RC300 for testing, but i think it's fixed now.

[2020-10-01 08:24] MichaelDvP commented on #523
Let's see:
First picture:
N2 Boiler confirms setting selTemp to 0x2F (47 °C),
but in N3 Controller rewrites to 0x38 (56°C).
It's like something in hardware is set to 56°C, like my MC10 if the poti isn't set to auto (=60°C).

Second picture:
Thermostat send setTemp to boiler in UBAFlags (N1) and publishes the temp in 0x31B (N2), this is a undocumented message type.
Boiler confirms setTemp in messag

[2020-10-01 09:48] mglatz commented on #523
I dont have a thermostat at all but as mentioned earlier, boiler would overwrite `wwSetTemp` I sent in about 4 minutes time. I configured my home automation to send the desired `wwSetTemp` value every 3 minutes. This setup seems to work and boiler will heat the water to `wwSetTemp` temperature.

[2020-10-01 10:05] TimoFriedri commented on #288
It seems this is still open for discussion/improvement, so I'd like to give my input
My suggestion would be as follows:

1 device in HA for each physical device in the central heating setup + ems-esp itself.
ATM (beta3) there is ems-esp and ems-esp_boiler.
(in case of my setup in the basement)
--> keep ems-esp device (I am ok with single sensor for status and some values as attributes here)
--> ke

[2020-10-01 10:05] MichaelDvP commented on #523
@mglatz Is it [this boiler](https://www.manualslib.de/manual/247776/Junkers-Cerapur-Comfort.html?page=32#manual)? Try to set the rotary control to max. If Bosch uses the same logic as in MC10, than only in this position a ems-control is possible.

[2020-10-01 10:45] proddy commented on #288
thanks for the feedback. I do want to get this right so appreciate the comments.

* I'm working on adding the remaining sensors. I'm thinking of a clever way to do this as not to duplicate code as there is a lot of interpretation happing depending on the value to translate into text. E.g.
[code]

* Having the Controller own values and report them in the console, web and HA is interesting. I had al

[2020-10-01 11:11] mglatz commented on #523
probably, the panel looks the same. Thanks for the tip, I'll try it. I would anyway but first I wanted to test for some time that ems-esp can reliably set and maintain lower temperature than `wwSelTemp` else my budget would not appreciate it :).

[2020-10-01 11:37] TimoFriedri commented on #288
Maybe then generic device names are the way to go.

controller/boiler
I have no insight which devices actually sends these values on ems protocol side.
I am just looking at that system from an engineers perspective and there I see the physical "real" values which are just measured like "Current ... temp" or "system pressure". They clearly belong to the boiler and have physical sensor counterparts.

[2020-10-01 15:48] LineF commented on #521
commit 545ff3 seems to be working now. No reboots any more.
Summermode and summertemp are now shown with the "show" command.
BTW: V2 is a very good piece of work!
Thanks!
Martin

[2020-10-01 16:48] MichaelDvP commented on #288
@proddy:  It's a difficult question. To split between devices boiler (id0x08) and (controller (id0x09) is useless, the controller has very little to say on the bus. Also these are only names for the device-ids, not physical devices. In my case i have as physical devices:
GB125: mainly a big block of iron with some flanges and water.
BE1.3 : oil burner with Fan, oilpump, nozzle, etc.
BC10: mainly s

[2020-10-01 17:21] bbqkees commented on #288
Just don't over complicate things.

People will understand a boiler device and a thermostat device and a solar system because that's a box on their wall.
Specifying it into technical stuff like BC10 base controller and 0x09 boiler controller etc will confuse a lot of people.

If the boiler parameters don't fit in one string splitting them up in type of parameters like @MichaelDvP suggests would se

[2020-10-01 19:48] mglatz commented on #523
@MichaelDvP I don't think it works as you described.
Tested with the heating wheel (lefto one): switched to max: `heatingTemp` and `selFlowTemp` went to 88. I then called `/api?device=boiler&cmd=flowtemp&data=39` which set `selFlowTemp` to 39, but after 4 minutes boiler set it automatically back to 88

[2020-10-01 20:27] lsw271 commented on #288
@proddy In HA it looks awesome! maybe later I will found some issue (I haven't tested yet it from HA) but first impression is great. GREAT JOB! THANKS!

[2020-10-01 21:13] proddy commented on #288
thanks @lsw271 . It's comments like yours that keep this project going. much appreciated!

[2020-10-01 21:18] lsw271 commented on #521
@MichaelDvP great job! big progress! :)
Telnet session its ok now. But I think I found somethiing to fix (sorry :)). As usual below some screenshots ;)

1. It is normal that summermode once is in hc1, another time (summermode: off) outside the hc1?
![summer_mode_in](https://user-images.githubusercontent.com/54321607/94860345-39d5f380-0436-11eb-9659-07513a35c9e1.PNG)
![summer_mode_out](https://user

[2020-10-01 22:08] lsw271 commented on #518
Ok, I found wwmode in thermostat.

Setting to OFF
![wwmode_off](https://user-images.githubusercontent.com/54321607/94867768-26c92080-0442-11eb-9fb2-ed9e91e098fc.PNG)
![wwmode_settemp15](https://user-images.githubusercontent.com/54321607/94868249-1a919300-0443-11eb-907e-3e9f3ce86905.PNG)

setting to lower
![wwmode_lower](https://user-images.githubusercontent.com/54321607/94867900-63951780-0442-11eb

[2020-10-01 22:41] lsw271 commented on #523
@MichaelDvP

Ok, setted it to 60°C by rotary control on the boiler

I think it will be send to the boiler when lower temp starts as set in schedule.

I tried, temperature back to previous after few seconds, i done this after setting temperature on boiler to max

Yes! it's working! :)

I found this, tested and added a comment ;)

[2020-10-02 07:14] glitter-ball commented on #518
@lsw271 - thanks for doing this. I have a Sense II which looks like a CW400 so I have these same settings for hot water.

[2020-10-02 07:22] MichaelDvP commented on #521
Fixed, but the second picture shows `modetype: summer` and `summermode: off`.  Was this a intermediate display, short after changing the summermode, or a stable display? `summermode` is a setting to the thermostat, `modetype` shows the active status of the thermostat, When changing  `summertemp` it can take some 10 seconds until `modetype` also changes, but than the modes should be consistent.

Fo

[2020-10-02 07:43] MichaelDvP commented on #518
@lsw271: perfect catch again. The mode in thermostat is set in the undocumented messagetype 0x02F5 (offset 2) with `off/on/auto/own` =`1/2/3/4`. The new temperature is send to the boiler in known flags-messsage 0x35 (offset 3).

I'll add this to the thermostat, but command-numbering for ems-esp will to be consistent with other thermostats and on/off commands (bool rendering): `0/1/2/3` or `off/on/

[2020-10-02 10:06] StrokaPatric commented on #503
Okay, i've updated to build 2.1. , now i get more information from the log.
But i got an new Problem and it show's like it is comming from the Smarthome software (xSolution). Is there some experience with the payload like {"cmd" : <wwonetime> , "data":<on>}? i can see in the log an MQTT error: payload cmd, error InvalidInput. I have tryed the Informations from the Documentation, but i disregard an

[2020-10-02 13:21] mglatz opened #531 "incomplete dashboard values"
**Question**
Why the dashboard in web UI does not show all the available values we can see in console with `show`. I see 46d different params for boiler in console, but dashboard only displays 11 of them.

**Device information**
Junkers Carapur, ems-esp v2.1.0b2

[2020-10-02 15:22] proddy commented on #531
memory!
I can change one line in the code and all 62 will be shown, but I'm afraid it'll run out of available memory. I need to see if I can chunk into sections and re-build in the webUI.

[2020-10-02 18:31] mglatz commented on #531
I see :(

[2020-10-02 19:49] lsw271 commented on #518
@MichaelDvP
I've got five modes
1. Off
2. Lower
3. High
4. Like hc1 schedule [own?]
5. Own schedule [own?]
four and five its the same?

I tried to change modes on thermostat but in telnet was only one telegram.
ems-esp:/# read 10 2F5
000+08:30:50.384 N 1: [emsesp] Thermostat(0x10) -> (0x0B), (0x2F5), data: 01 FF 04 00 00 00 08 01 00 08 02 00 00 00 00 00 00 00 00 00

[2020-10-02 20:51] lsw271 commented on #521
Yes, you were right it was short after changing.

First: I've got summermode set to auto(2), modetype summer. I am changing ecotemp and comforttemp and everything its ok.
Next: I've got summermode set to on (1), modetype summer. I am changing ecotemp and comforttemp and... everything its ok **now** ;)

Look at the screenshot, I done the same, now the seltemp doesnt change :) did you changed someth

[2020-10-02 21:27] lsw271 commented on #521
@proddy in HA autodiscovery we will can change those values? Or I need to do some switches, thermostats on my own?

Summary report ;)
I think we've got main useful configuration to set heating circuit temperature on CW400.
We've got:
1. Set manualtemp to working with heat mode. In mine thermostat (CW400) its called just "manual"
2. Set ecotemp / comforttemp to working with mode auto. In mine therm

[2020-10-03 07:01] proddy commented on #521
The HA native climate component only understands the 3 modes, heat, off and auto. So can't add them. What you'll need to do is build the trigger yourself to send the MQTT command to EMS-ESP. It's not too difficult though. Create a new input sensor and attach an automation trigger to it. in pseudo code, from the top of my head, something like

input_select:
[code]

automation:
[code]

[2020-10-03 07:04] proddy commented on #288
quick update on this. I've hit a bit of a road-block when adding the additional sensors to publish to MQTT for HA to pick up. It's related to memory, more specifically the fragmentation (which climbs to 60% and then crashes the ESP8266) so I'm now refactoring some of the MQTT library. It'll take a while longer to get this right I'm afraid.

[2020-10-03 12:38] mupsje commented on #519
Cool,
Delta T........

Just what I was missing

[2020-10-03 12:49] MichaelDvP commented on #518
Good, with "0=off" it's a lot easier. 4 and 5 can be the same program, but also can be different if you choose a schedule for heating and a different one for water.
In this telegram are a lot of zeros, I think we stay with the mode on pos 2 and analyse the other parameters on demand.
If you want to change the mode you can test with `send telegram "0B 10 FF 02 01 F5 01"` to set to low,  `send teleg

[2020-10-03 12:55] proddy commented on #531
I'll work on this next.

[2020-10-03 13:01] proddy commented on #518
@MichaelDvP - thanks. working on another big chance that's going to introduce a lot more bugs I think. I'll merge your changes in manually and upload shortly.

[2020-10-03 13:05] MichaelDvP commented on #521
It would be interresting to see what telegram is used for the scheduls on ems+. For ems it is documented, but for ems+ i also did not find it in Norberts bible. It you can catch some of these telegrams i'll have a look.
But i dont think it will be added to ems-esp. It's a lot of data and the goal of smarthome is to react dynamically to events like coming home. A schedule program is good for 9to5 w

[2020-10-03 14:35] MichaelDvP commented on #531
@mglatz you can use [http://ems-esp.local/api?device=boiler&cmd=info](http://ems-esp.local/api?device=boiler&cmd=info) to see all boiler values.

[2020-10-03 15:04] glitter-ball commented on #519
Yep. Had been on my to-do list for a while *8) Loads of fun...
![image](https://user-images.githubusercontent.com/57917148/94994817-1c1da100-0592-11eb-9c77-2afa8db21d49.png)

[2020-10-03 16:58] mglatz commented on #531
I know. I was curious why the dashboard lacks those values.
reading json is not that great (although is probably imporoved in latest dev, not tested it yet) and the shortcuts are rather diffucult to understand (Current flow temperature is better than curFlowTemp).
In the meantime, you could maybe add a link to dashboard that would open up the json api

[2020-10-03 17:22] proddy commented on #531
@mglatz not sure what you're suggesting. Do you have a use case or scenario on how you want to work with the data from EMS-ESP. Most of us use MQTT or Domoticz to record and create actions on the data. The tiny web interface was really built to configure EMS-ESP, not to replace Gafana/Home Assistant/Domoticz etc. But happy to make improvements and understand how people plan to use the software

[2020-10-03 17:33] mglatz commented on #531
usually I'd read the values I'm interested in with home automation but I dont pull all the values the boiler offers. Time to time I want to view some "unusual" ones. Of course, they are visible in mqtt or api as suggested by @MichaelDvP but none of them are very user friendly. Since the ems-esp ui is nice, it would also be nice to have all the values.
And since there is currently no way to see all

[2020-10-03 18:53] proddy commented on #531
ok, I see. I'm working on adding all the values to the web. I could make a new command which will expose the json with human-readable names as you suggested.

[2020-10-03 22:16] lsw271 commented on #521
Thanks @proddy
I have done something like this, maybe someone will want to use it ;)

of course firt we need to add helpers
[code]

[2020-10-03 22:40] lsw271 commented on #518
Ok, everything works fine. I tried also `send telegram "0B 10 FF 02 01 F5 00"` (off) and  `send telegram "0B 10 FF 02 01 F5 03"`(own - fith on my list)

![wwmode_ok](https://user-images.githubusercontent.com/54321607/95002957-f74d1c00-05d9-11eb-8769-c305b0d50ed5.PNG)

@MichaelDvP  could you also add command for off and own ?

[2020-10-03 22:49] digdagdigedag opened #533 "EMS-ESP does not keep settings when rebooting"
Whenever I reboot my new EMS-ESP (v2.0.1b4) , all settings for Wifi, NTP and MQTT are lost !!!
Is there any special setting needed to ensure that settings are kept ?
Thank you for your support

EMS : Buderus Plus GB 152-24

[2020-10-03 22:55] digdagdigedag opened #534 "yaml missing"
*Before creating a new issue please check that you have:*

* *searched the existing [issues](https://github.com/proddy/EMS-ESP/issues) (both open and closed)*
* *searched the [wiki help pages](https://bbqkees-electronics.nl/wiki/gateway/troubleshooting.html)*

*Completing this template will help developers and contributors help you. Try to be as specific and extensive as possible. If the informati

[2020-10-03 22:56] #534 closed

[2020-10-03 22:56] digdagdigedag commented on #534
sorry, I created this issue accidentally

[2020-10-04 07:04] proddy commented on #531
@mglatz I also noticed in your screenshot above that your service code string is empty and the code is 0. Has this always been the case? We're using the value of the code to determine if the heating and hot water is on/off.

[2020-10-04 07:11] proddy commented on #533
you're the 2nd person now to report this with 2.0.1b4, assuming its an ESP8266. Unfortunately, I'm not sure what is causing it. I would suggest taking the latest dev build from https://github.com/proddy/EMS-ESP/tree/firmware/firmware and using that. If it still happens then we'll need to wipe the ESP chip and reflash it. https://emsesp.github.io/docs/#/Troubleshooting

[2020-10-04 07:26] MichaelDvP commented on #533
@proddy: You have fixed it long time ago in #492 (unformated littlefs).
@digdagdigedag: update to an actual version (release or beta) and it is fixed.

[2020-10-04 07:38] #533 closed

[2020-10-04 08:36] mglatz commented on #531
Yes. I was thinking of manually crating some error (such as gas cutoff) to see how these two behaves but did not go that way yet. Nevertheless I would expect they should be empty/0 under normal circumstances, shouldn't they?
in MQTT:
heating_active always shows 1 even though I don't heat yet.
wWactivated always shows 1
wwActive always shows 0

[2020-10-04 08:46] proddy commented on #531
are you on the latest 2.1 dev build?

[2020-10-04 08:57] mglatz commented on #531
v2.1.0b2

[2020-10-05 09:01] majdzik84 opened #536 "HA error - 2.1.0b4"
Proddy, thank you for your work. I ran into errors with autodiscovery in HA.

I migrated from ver.1.9.5 to the newest 2.1.0b4 and I'm getting errors in the logs.
I can see that the detected thermostat does not show me manual modes (in 1.9.5 I had day / night - I have the RC35 driver).
![Zrzut ekranu 2020-10-05 104306](https://user-images.githubusercontent.com/31352476/95058295-9c114b80-06f7-11eb-9

[2020-10-05 09:08] mglatz commented on #524
shall we close this?

[2020-10-05 09:35] bbqkees commented on #524
Yes this can be closed I guess.

Also keep in mind that EMS-ESP is not meant to substitute a critical component like an EMS thermostat.
Its intended to augment an EMS system.
Its open source, everything is reverse engineered so it might brick up at some point and you don't want that to happen to a thermostat emulator if its -10 degrees Celsius outside and you are on a holiday for two weeks.

[2020-10-05 10:28] proddy commented on #536
You don't see an HA device called 'EMS-ESP Thermostat' ? Can you send me the MQTT payload for topics `thermostat_data` and `homeassistant/climate/ems-esp/*`

[2020-10-05 10:34] majdzik84 commented on #536
I see the thermostat as well, but only in the auto mode, the photo is not stuck.
![image](https://user-images.githubusercontent.com/31352476/95069510-139aa700-0707-11eb-989c-081b7e712534.png)

[2020-10-05 19:27] zanerv opened #537 "Junkers FR120 thermostat"
Hi

**Is your feature request related to a problem? Please describe.**
I can't set temperature setpoint to Junkers FR120 thermostat

**Describe the solution you'd like**
I'll like to be able to set the thermostat temperature from the ems-esp gateway but in compatibility list it's marked as read only
I tried to set the temp/mode from homeassistant and that didn't work

**Additional context**
![imag

[2020-10-05 20:00] proddy commented on #537
The FR120 should support sending write commands. See https://emsesp.github.io/docs/#/Supported-EMS-Devices

Try out https://emsesp.github.io/docs/#/Troubleshooting?id=some-commands-via-mqtt-are-not-working and send the console output so we can trace what is happening.

[2020-10-06 06:32] zanerv commented on #537
thanks for looking into this, here is the log
[code]
not sure if it matters but I have the gateway connected to the thermostat terminals and I tried setting Tx Mode: 3

[2020-10-06 07:40] proddy commented on #537
from the logs I see the command is not being executed. I tested in the standalone version and it works there, so not sure why on your system. Can you do a `show` from the root of the Console to list the thermostat details. This is what `call thermostat temp 18` should look like in the console (notice the yellow line):

![Capture](https://user-images.githubusercontent.com/1230712/95172608-d9d5a900-

[2020-10-06 07:40] zanerv commented on #537
updated to version 2.1.0b4
[code]

[2020-10-06 09:57] proddy commented on #537
did it work?

[2020-10-06 18:11] jtonk commented on #536
I'm getting the same issue. the HA autodiscovery has the wrong modes. When I manually update the MQTT message from `"modes": ["night","day","auto"]` to `"modes": ["off","heat","auto"]` it works again, however it's not persistent on a reboot.

[2020-10-06 18:18] jtonk commented on #536
In the Thermostat.cpp I see this code line 574:
`    if (flags == EMSdevice::EMS_DEVICE_FLAG_RC20_2) {
        modes.add("night");
        modes.add("day");`

I have the RC20 thermostat, maybe it is a simple as changing it to `off` and `heat` but I can't compile and test.

[2020-10-06 18:50] proddy commented on #531
added all the values in 2.1.0b5. If you're seeing empty/0 for some of the values please log a new bug.

[2020-10-06 18:50] #531 closed

[2020-10-06 18:55] proddy commented on #354
this should be fixed > 2.1.0b4

[2020-10-06 18:55] #354 closed

[2020-10-06 18:57] proddy commented on #503
original issue has be solved. @StrokaPatric if this is not working for you can you open a new GitHub issue

[2020-10-06 18:57] #503 closed

[2020-10-06 18:57] #514 closed

[2020-10-06 18:59] proddy commented on #521
I'll add those examples to the MQTT section of the documentation. Closing this.

[2020-10-06 19:12] proddy commented on #536
@jtonk thanks for hunting that bug down. I pushed a fix.

[2020-10-06 19:37] zanerv commented on #537
no, it didn't
[code]

[2020-10-06 19:54] proddy commented on #537
strange. I see the command being sent `8B 10 FF 0F 00 65 1E 10` which looks correct. Also a few Tx errors. What does `show ems` say?

[2020-10-06 20:02] zanerv commented on #537
I notices so far is that if I set Tx mode to 3 I get an tx write error and for 1&2 i get Last Tx write successful but the thermostat setpoint remains the same
[code]

[2020-10-06 20:22] jtonk commented on #536
tnx, it's working again!

[2020-10-06 20:30] proddy commented on #536
@majdzik84 can you test again?

[2020-10-06 21:06] lsw271 commented on #521
@MichaelDvP @proddy i've got now 2.1.0b5 and when i'm trying to change summermode i've got another values than in version 2.1.0b3

summermode in b3(**bold** mqtt explorer) b3 was a good configuration
0 = summermode **off** = always winter
    1 = summermode  **on** = always summer
    2 = summermode  **auto** = summer from X degrees

summermode in b5(**bold** mqtt explorer)
0 = summermode **off**

[2020-10-06 21:32] majdzik84 commented on #536
I confirm, it is much better :) Thank you
![image](https://user-images.githubusercontent.com/31352476/95262320-3377bb00-082c-11eb-98a1-94a512678929.png)

[2020-10-06 21:44] lsw271 commented on #523
@MichaelDvP thanks for adding wwmode / wwtemp / wwtemplow.
Values setting in putty are correct in thermostat but I didn't saw wwtemp and wwtemplow in mqtt explorer and putty, only wwmode. Could you add this?
![wwtemp_add](https://user-images.githubusercontent.com/54321607/95262559-a7b25e80-082c-11eb-8181-7da10e548f8b.PNG)

[2020-10-07 06:38] #536 closed

[2020-10-07 06:41] proddy commented on #523
@MichaelDvP I'll add this. I'm planning to make some changes to the thermostat to show all the data in the web UI too, like I did with the Boiler.

[2020-10-07 07:18] mglatz commented on #531
thank you!

[2020-10-07 10:00] zanerv commented on #537
also when switching modes from thermostat I get
`000+00:06:12.292 D 81: [emsesp] No telegram type handler found for ID 0x179 (src 0x10)`

[2020-10-07 11:21] proddy commented on #537
@zanerv bingo. That pointed me to the problem. The FR120 was configured to behave like the newer junkers FW* models and not the FR's which use different telegram types. I've made the change and it'll go into the next push today, 2.1.0b6

[2020-10-07 15:05] MichaelDvP commented on #521
Sure, i'm waiting until proddy makes his larger change and than fix it. The last time we are making changes to the same file, the automatic merge kicks the wwtemp/wwtemplow, better to do it one by one.
Would you mind if i call the settings `summer`, `auto`, `winter`?  Most setting on ems are 0/1/2 for off/on/auto, only this summermode counts on/auto/off. If we use on/off for 0/2 i'm afraid it will

[2020-10-07 15:39] lsw271 commented on #521
Summer / auto / winter will be ok

[2020-10-07 16:55] proddy commented on #523
@lsw271 do you mean the commands? not sure what's missing

[2020-10-07 17:02] MichaelDvP commented on #523
I know, I can add it with summermode correction after you finished your changes.
It's in `export_values_main(`:
[code]

[2020-10-07 17:18] proddy commented on #523
ah, ok.

[2020-10-07 19:39] proddy commented on #513
closing this to prepare for 2.1. Will re-open if others have the same issue.

[2020-10-07 19:39] #513 closed

[2020-10-07 19:41] #505 closed

[2020-10-07 19:44] proddy commented on #288
ok, think most of this is now done. I cleaned up the code a little to sync the console `show` with the json packages sent to the Web and Home Assistant. I also made sure the C++ variable and member naming matched the MQTT id's we're using to keep things tidy and consistent, so you may find some names change 'e.g. wwrecharge to wwrecharging'. I also had to tweak the asynctcp and mqtt libraries to a

[2020-10-07 20:07] zanerv commented on #537
updated to the latest firmware(v2.1.0b6) and I still get
[code]

[2020-10-07 21:02] proddy commented on #537
`show devices` gives you? Hopefully you should see 0x179 shown in the line

[code]

[2020-10-07 21:17] zanerv commented on #537
@proddy here is what I got
[code]

[2020-10-08 07:35] proddy commented on #537
Found the bug. Working on a fix.

[2020-10-08 09:13] moustic999 opened #539 "Make EMS-ESP work as a real thermostat"
It would be great to have The possibility for EMS-ESP to act as a real thermostat within the Heating system.

Today the EMS-ESP is detected as a Service Key.

That would allow to build similar feature than a  TADO thermostat ourself.

In order to achieve this, we should change from service key Id to thermostat Id and probably have some message exchange on the bus to validate this thermostat.

[2020-10-08 09:15] proddy commented on #539
This gets discussed a lot ! It's a duplicate of https://github.com/proddy/EMS-ESP/issues/524

Feel free to re-open and comment.

Closing.

[2020-10-08 09:15] #539 closed

[2020-10-08 10:51] zanerv commented on #537
Nice! you're on to something, I got the new firmware and now I get
[code]
[code]

[2020-10-08 11:10] MichaelDvP opened #540 "Question to all users: Change sensor mqtt format?"
The dallas sensors can be published in two different formats (nested/single), and i see disadvantages in both formats.
Nested (and HA):
[code]
The sensors are numbered to sensor1, sensor2, ..., but if a sensor fails or is temporary disturbed the numbering changes. Reading only sensor3.temp  will give the value of sensor4 every time sensor1, 2, or 3 fails a readout. To make sure the right sensor is

[2020-10-08 11:10] proddy commented on #537
argggh!

[2020-10-08 11:19] MichaelDvP commented on #523
@lsw271
Please check if it is now working as expected, also for summermode.

[2020-10-08 12:21] czykwin opened #541 "Connection issue - Tx errors"
@bbqkees I've just connected brand new gateway for the first time and it's not working.
No EMS devices found. 129 (Rx) Incomplete telegrams and growing (0 others).
Connected by service jack to the Buderus GB072 (with Logamatic webKM200 and Logamatic RC300).
I've no idea what is wrong, please help.

[2020-10-08 12:25] czykwin commented on #541
v2.0.1
![image](https://user-images.githubusercontent.com/72528759/95458010-eb62b080-0971-11eb-9b61-23869a7b205b.png)
![image](https://user-images.githubusercontent.com/72528759/95458058-fcabbd00-0971-11eb-9fe9-e33035f089dd.png)

[2020-10-08 12:30] bbqkees commented on #541
Hi,
Can you open the Gateway, remove the white plastic side of the jack connector and reinsert the plug?
Some of the cables I got recently have a very slightly thicker plug and do not fit properly in the recessed hole in front of the jack causing the plug to misalign and not make proper contact.

[2020-10-08 13:00] bbqkees commented on #540
The alias 'sensor<id>' works much nicer than the long ID. Nobody can remember the difference between 28-EA41-9497-0E03-5F and 28-233D-9497-0C03-8B.
Also it's easier in MQTT if you know you can expect (in a single topic) sensor1, sensor 2 than f.i. '28-EA41-9497-0E03-5F'.
If its in a single topic you also don't need to take time differences into account.

If a specific sensor is giving an alias sen

[2020-10-08 13:10] czykwin commented on #541
The housing was not twisted at all, I enlarged the jack hole and now it's ok :)

[2020-10-08 13:10] #541 closed

[2020-10-08 13:48] MichaelDvP commented on #540
But sensor1,.. is not an alias, it's a count how the sensors answer to 1wire.
To show the problem: here is my configuration (left), i disconnect sensor2 (middle), and attach a different sensor instead (right):
![sensors](https://user-images.githubusercontent.com/59284019/95465924-063a2280-097c-11eb-8f10-fd8428660739.png)

And i suggest only to change the single format, not the nested format with s

[2020-10-08 13:53] bbqkees commented on #540
I get the problem but I thought it was an alias all along.

[2020-10-08 14:25] zanerv commented on #537
bring out the the champagne, it's working!
I can set the temperature and the mode to auto/manual as for 'off' I haven't figured out what it does or if it's working (tested from homeassistant/telnet)
@proddy if you want to test something else let me know otherwise I'll close this
Thank you!

[2020-10-08 19:07] proddy commented on #537
great! You helped find and fix a bug so thanks

[2020-10-08 19:07] #537 closed

[2020-10-09 07:24] stravinci commented on #288
Hi,
yesterday I restart ma HA instance. After that all entities was offline/unavailable. I'm not sure where is problem (last time I ask you about retain), but after reboot EMS-ESP all entities start working.
Maybe one more question. Do you subscribe MQTT birth messages:
https://www.home-assistant.io/docs/mqtt/birth_will/

[2020-10-09 10:58] proddy commented on #288
yes, in the `status` topic. See https://emsesp.github.io/docs/#/MQTT

[2020-10-09 11:07] proddy opened #542 "remove MQTT individual topics heating_active and tapwater_active, as they're included in boiler_data"
Originally I used individual MQTT topics for signaling whether the heating and/or hot water was on or off. This was to allow Boolean sensors in Home Assistant. Now with the latest HA MQTT Discovery implemented this data is already captured in the `boiler_data` topic and picked up as a separate entity.

Ok to remove it? Anyone using it?

@MichaelDvP @bbqkees

[2020-10-09 11:08] proddy opened #543 "Remove MQTT topics heating_active and tapwater_active"
Originally I used individual MQTT topics for signaling whether the heating and/or hot water was on or off. This was to allow Boolean sensors in Home Assistant. Now with the latest HA MQTT Discovery implemented this data is already captured in the `boiler_data` topic and picked up as a separate entity.

Ok to remove it? Anyone using it?

@MichaelDvP @bbqkees

[2020-10-09 11:09] stravinci commented on #288
Yea, but this is EMS-ESP status. As I understand that birth_message send by HA will give you information that you can send intro of your entities like at every boot.
I have about 500 entities and all entities always come back after restart HA, I don't know why here is problem that is I'm asking you. But maybe it is only my setup issue.

[2020-10-09 11:09] bbqkees commented on #542
On one hand it does not make sense to have them in two places.
On the other hand its not a direct boiler parameter but one EMS-ESP makes.

I had one guy who only wanted a Gateway so he could trigger on heating_active to switch on his floor heating circulation pump.
But it's only 3 additional lines of code to look into boiler_data instead. But also for just looking at heating_active you don't need

[2020-10-09 11:25] proddy commented on #288
I think its a problem with your setup. My HA gets updated and restarted most nights and EMS-ESP keeps on working. Best if you create a new github issue and we troubleshoot together.

[2020-10-09 11:25] #288 closed

[2020-10-09 11:55] proddy commented on #523
@lsw271 if this works I'll move the 2.1.0b out of dev into the next official stable release, so let us know if this now works soon please !

[2020-10-09 11:56] #511 closed

[2020-10-09 11:56] #349 closed

[2020-10-09 11:56] #520 closed

[2020-10-09 11:57] proddy commented on #521
@lsw271 any chance to check this?

[2020-10-09 11:58] proddy commented on #498
looking into whether we can create github actions to build releases on tag commits and also nightly builds. Adding binary artifacts to the 'firmware' branch is not optimal.

[2020-10-09 11:58] lsw271 commented on #523
Sorry for my late, i will give you response tonight

[2020-10-09 12:19] MichaelDvP commented on #542
The difference is: the individual topics are always publish on change, the large boiler_data mostly scheduled. Setting boiler to publish on change gives a lot of messages.
I'm not using it, but there are some discussions last time showing that others using it. Better do not remove.

@bbqkees

No, it's now a boiler parameter, we've found that the boiler publishes these states directly as bits in me

[2020-10-09 12:21] lsw271 commented on #521
Tonight ;)

[2020-10-09 14:31] majdzik84 opened #544 "MQTT - One time water does not work properly 2.1.0b6"
version 2.1.0b6
I get an error after sending the payload in telnet. (https://emsesp.github.io/docs/#/Home-Assistant?id=activating-one-time-hot-water-charging-dhw-once)

![image](https://user-images.githubusercontent.com/31352476/95595563-947dd980-0a4c-11eb-9b61-1a8378187d23.png)

[2020-10-09 14:41] MichaelDvP commented on #544
Try with quotationmarks around wwonetime: `{"cmd":"wwonetime","data":1}`

[2020-10-09 15:37] proddy commented on #544
I changed this in the doc too to mention commands must be enclosed in quotes.

[2020-10-09 16:09] bbqkees commented on #542
So all the reasons to keep it in then.

[2020-10-09 16:10] bbqkees commented on #543
This is a duplicate of #542

[2020-10-09 16:33] Bartekn86 opened #545 "measure temperature after update fw to v2.1.0b6 to not work"
Hi,
after update fw to b6 temperature measuring ftom boiler do not want to refresh. showing static temperature gb072v2 (domoticz)
Warm water storage temperature in ems-esp websit shows ok
Please help,
thank you

[2020-10-09 16:40] proddy commented on #543
i had gity-hub glitches. removing.

[2020-10-09 16:40] #543 closed

[2020-10-09 16:40] proddy commented on #542
ok, they stay! thanks.

[2020-10-09 16:40] #542 closed

[2020-10-09 16:42] proddy commented on #545
from which version did you upgrade from? Which version of the domoticz plugin are you using? Do you see the values changing in the console, web and MQTT? Please be more specific so we can help

[2020-10-09 16:45] Bartekn86 commented on #545
upodated from b3  domoticz plugin latest dev-2, value changing in web, (dont know how to check console or mqtt).

[2020-10-09 17:24] MichaelDvP commented on #545
Ah, seems the same rename problem i get a few days ago in my scripts: `wWCurTmp` is now corrected to `wWCurTemp`.
@bbqkees: can you adapt this in [your plugin](https://github.com/bbqkees/ems-esp-domoticz-plugin/blob/master/plugin.py)

[2020-10-09 17:26] Bartekn86 commented on #545
MichaelDvP thank you for your time and help :-)

[2020-10-09 18:05] bbqkees commented on #545
@MichaelDvP Yes I got a few comments on that one already. Had it changed locally for the next update but I'll change it right away in the repository.

[2020-10-09 18:15] #545 closed

[2020-10-09 21:28] lsw271 commented on #521
@proddy @MichaelDvP thanks :) now its great

we've got:
0 = summer
1 = auto
2 = winter

[2020-10-09 21:28] #521 closed

[2020-10-09 21:56] lsw271 commented on #523
@MichaelDvP @proddy commands are correct but in mqtt explorer I saw wwmode / wwtemp /wwtemplow only after called command, I think it should always be in payload, not only after changes

after sending wwtemp
![mqtt payload after send command](https://user-images.githubusercontent.com/54321607/95634696-bf871e00-0a8a-11eb-8075-0f728025b868.PNG)
![HA](https://user-images.githubusercontent.com/54321607

[2020-10-09 22:31] lsw271 opened #546 "how to change boilhystoff? (Junkers Cerapur / CW400)"
**Question**
How can I change boilhystoff? In my boiler I have only one hysteresis in mqtt payload its a boilHystOn - when i changed values in boiler this sensor had changed. In mqtt explorer in boilHystOff I've got 6 degress, but from where it is? :) My boiler really work with boilHystOff (i've got template sensor in HA which shows me that) but I don't know where I can change this :)
I tried to c

[2020-10-10 07:07] MichaelDvP commented on #523
These telegrams are only broadcasted by the thermostat on change, to get the values we have to fetch them. Should work now.

[2020-10-10 07:15] MichaelDvP commented on #546
I think the boiler or the thermostat sets the values back: After the change you receive two `UBAParameters` messages, (last picture D5, D7) before validating by ems-esp (D10, D12). You can use `watch on 16` to see what device overwrites your setting.
I expext D5 is the acknowledge from the boiler to your change and D7 is the setback.

[2020-10-10 13:14] frankhommers opened #547 "outdoorTemp not reported anymore in 2.0.1"
I don't see outdoorTemp anywhere anymore in MQTT since v2.0.

Through syslog I see that EMS-ESP receives it:
[code]

But that doesn't end up in a MQTT message anywhere.

![image](https://user-images.githubusercontent.com/7355878/95655938-1df3e100-0b0b-11eb-94e9-aa837e9f2485.png)

![image](https://user-images.githubusercontent.com/7355878/95655943-306e1a80-0b0b-11eb-96ca-ddb7487b10bb.png)

[2020-10-10 13:20] proddy commented on #547
Can you try 2.1. Now all values are both in web and MQTT

[2020-10-10 16:47] papaloewe commented on #465
I am sorry for late answer.
Yes, it works now for me.
Many thanks.

[2020-10-10 17:17] hetii opened #548 "Support for Bosch Condens GC2300W."
Hello dear. I'm owner of Bosch Condens GC2300W.

Is this model supported by ems-esp?
What kind of functionality I can have when connecting it to ems-esp?

Best Regards.

[2020-10-10 17:24] frankhommers commented on #547
Do you mean 2.0.1? This is what I was using... Or else: When can I get the 2.1 binary? :-P

[2020-10-10 18:57] majdzik84 opened #549 "HA - incorrect value of the sensor.nofrost_temperature"
**In home assistant, sensor.nofrost_temperature is entered as half the correct value**

![Zrzut ekranu 2020-10-10 205104](https://user-images.githubusercontent.com/31352476/95662888-7b535680-0b3a-11eb-8c6b-43f1099f6d84.png)

**Let me write on the same topic. I hope that this is not a problem.**

I also noticed that the HA detected the EMS-ESP Mixing entities, however the status is unknown

![image

[2020-10-10 19:46] majdzik84 opened #550 "Design temperature value for HC2 is incorrect"
EMS-ESP version 2.1.0b6

I noticed that the value for HC2 Design temperature for HC2 is incorrect.
The temperature does not change with thermostat control (RC35).

![aa](https://user-images.githubusercontent.com/31352476/95663708-b311cc80-0b41-11eb-9902-754709b2b2e0.png)
![aaab](https://user-images.githubusercontent.com/31352476/95663738-e81e1f00-0b41-11eb-8e48-a4af48adca64.jpg)

With HC1, this is

[2020-10-10 20:17] proddy commented on #550
@MichaelDvP any idea to why this is happening?

[2020-10-10 20:19] proddy commented on #547
It's in https://github.com/proddy/EMS-ESP/tree/firmware

I'm planning to release 2.1 soon, also with the update documentation

[2020-10-10 21:23] proddy commented on #549
thanks for reporting, we'll look into it.

[2020-10-10 21:24] lsw271 commented on #523
yes, its working, thanks!

[2020-10-10 21:24] #523 closed

[2020-10-10 21:38] lsw271 commented on #546
@MichaelDvP  I hope you will find something there :)
![watch_on_16](https://user-images.githubusercontent.com/54321607/95665535-97aebd80-0b51-11eb-8a6c-2ec61c8d0574.PNG)

[2020-10-11 07:31] #547 closed

[2020-10-11 07:38] proddy commented on #549
@MichaelDvP the code assumes the `nofrosttemp` value is *2, except in the RC35 it takes *1.

https://github.com/proddy/EMS-ESP/blob/ab3e4731a4a2a2a2eb98640fff98f0f0e23360b5/src/devices/thermostat.cpp#L1232

[2020-10-11 07:48] proddy commented on #549
@majdzik84 for the mixing entities can you send what the MQTT payloads look like (use MQTTExplorer). In our tests it works. Also in HA the mixing values are sent to a separate homeassistant device so check the values there too (HA->Configuration->Devices->EMS-ESP Mixing)

[2020-10-11 08:53] majdzik84 commented on #549
@proddy I am uploading screenshots. I see values ​​in mqtt explorer but not in HA. I tried to remove the device and the topic was still in the same form.

![image](https://user-images.githubusercontent.com/31352476/95674306-957b4c00-0baf-11eb-9114-c4b9afd50587.png)

![image](https://user-images.githubusercontent.com/31352476/95674269-53520a80-0baf-11eb-8d3d-e22d01205577.png)

[2020-10-11 09:07] proddy commented on #549
thanks. I think I know where the problem is now.

[2020-10-11 09:15] MichaelDvP commented on #549
Right, Junkers is *2, RC35 is *1, settings are all ok, we need only change `export_values_hc` to:
[code]

The mixing is due to publish topic. The values are published as `mixing_data2`, but the HA-config sets `mixing_data`  in stat_t:
[code]
But change the register_HA is a lot of work, maybe it's easier to make a nested mixing_data with combined devices as in api-info.

BTW: But mixing is the only

[2020-10-11 09:22] MichaelDvP commented on #550
I'm not sure. I have also hc2 and it works, I suspect that the difference is the heating type, i use radiators and this low temperature seems to be floor heating. The RC35 has two fields for desigtemp, possible that the second is for floorheating.
@majdzik84 Can you go to terminal and check:
`read 10 47` and `send telegram "0B 90 47 1B 20"` (i will add offset_optional to read command next time).

[2020-10-11 09:28] MichaelDvP commented on #546
Sorry, looks like `boilhystoff` is not writable for your boiler (byte 4 is always 06). With my boiler it works.
But `boilhyston` works on your boiler, byte 5 changes from F8 (-8) to F7 (-9).

[2020-10-11 11:08] majdzik84 commented on #550
@MichaelDvP  For me HC1 is radiators, HC2 floor heating.
[code]

[2020-10-11 11:30] proddy commented on #549
Nested is going to hard too because each unit is a separate device (instance class in EMS-ESP). Which makes me think there could be multiple mixings devices in HA. I need to think about this.

good point. Forgot about that. I'll make a change.

[2020-10-11 11:49] MichaelDvP commented on #549
I think it's easy, since it is in for api-info. The json for nested mixers has to be declared and published in emsesp- publish_device_values and call export_values to fill the nests. For single format call publish_values() for each device instead.

[2020-10-11 12:23] proddy commented on #549
yes, that would work.  If the format is nested moved the publishing out of mixing.cpp to emsesp.cpp. You'll need to do some clever logic in process_telegram() to keep it clean.

[2020-10-11 12:42] MichaelDvP commented on #550
That fits: Pos 17 is 0x4B (75°C) and pos 36 is 0x25 (37°C). We have to pick up pos 36 if floor heating. I'll make a change.

[2020-10-11 13:48] proddy commented on #440
re-opening. For Mixing units it would make sense to group all the data into a single MQTT topic, which means handling this outside the device classes (like mixing.cpp).

[2020-10-11 13:51] MichaelDvP commented on #549
I've pushed a first test my repo, compiles but not all tested yet. Take a look.

[2020-10-11 14:36] proddy commented on #549
@MichaelDvP looks good. I tested and works fine as well. I would have implemented it the same way. The `JsonObject dummy` is not pretty but I couldn't find a nicer way either. So good to go.

[2020-10-11 15:02] proddy commented on #549
now in 2.1.0b7. Thanks again Michael.

[2020-10-11 15:12] proddy commented on #549
@MichaelDvP just did another test and I'm not seeing the nested values. But I'm using the standalone version to test (no ESP8266) so I could be my setup. One thing to note is that we need to make sure each Mixing device is independently created in Home Assistant. Now they will be overwritten as they are both have the same unique_ids (mixing).

[2020-10-11 15:30] majdzik84 commented on #549
EMS-ESP-2_1_0b7

![image](https://user-images.githubusercontent.com/31352476/95682740-43561d00-0be7-11eb-953a-c101ce9c3b1b.png)
![image](https://user-images.githubusercontent.com/31352476/95682761-67b1f980-0be7-11eb-82bc-6bf849f34b82.png)

[2020-10-11 15:35] proddy commented on #549
@majdzik84 in MQTTExplorer can you show the value of the topics homeassistant/sensor/ems-esp/mixing*

[2020-10-11 15:40] majdzik84 commented on #550
2.1.0b7 - Design temperature missing

![image](https://user-images.githubusercontent.com/31352476/95682956-954b7280-0be8-11eb-92d8-ce98a9beba3d.png)

[2020-10-11 15:53] majdzik84 commented on #549
![image](https://user-images.githubusercontent.com/31352476/95683287-92518180-0bea-11eb-8394-b4cbae3dfdad.png)

![image](https://user-images.githubusercontent.com/31352476/95683293-9a112600-0bea-11eb-8a43-7e2ed49e016d.png)

![image](https://user-images.githubusercontent.com/31352476/95683296-a09f9d80-0bea-11eb-96a0-d76fd69df801.png)

[2020-10-11 16:03] aHVzY2g commented on #359
@proddy
I finally have a "Premium II Gateway" and everything seems to show up if connect over the ServiceJack.
![grafik](https://user-images.githubusercontent.com/25596663/95683437-769aab00-0beb-11eb-9306-d128c9862e9d.png)

But now I am a bit confused as I would like to rewire the gateway over the EMS-BUS. The Information I found contradicts each other.

1. Right now the SeriveJack is used by a MB

[2020-10-11 16:14] MichaelDvP commented on #549
I've made some changes and pushed to my repo, but i'm not very familiar with HA. Does this look right?
![mqtt_ha_mixing](https://user-images.githubusercontent.com/59284019/95683459-a6e24980-0beb-11eb-8ae9-04e9e08fa9a0.png)

[2020-10-11 16:17] proddy commented on #549
yes. the val_tpl needs to match the nested format in mixing_data. Before mixing_data was using hc1 and the HA config topics were using wwc2

[2020-10-11 16:20] MichaelDvP commented on #550
Oh, the problem of high offsets, as workaround try from terminal `read 10 47 1B` or change the value, than it will appear.

[2020-10-11 16:45] majdzik84 commented on #550
MichaelDvP  changing the value helped. now I can see and change. Thank you very much.

[2020-10-11 16:54] proddy commented on #359
wow, 8 devices. A super user! I was worried EMS-ESP would crash and burn with more than 5 devices due to the memory limitations. I would wire the gateway up in parallel, but I'm just guessing here. @MichaelDvP and @bbqkees are better knowledged in this area than me.

[2020-10-11 17:20] bbqkees commented on #359
Have a look at: https://bbqkees-electronics.nl/wiki/gateway/connecting-to-the-boiler.html
I've made a description on what terminals should work.

1: The service jack has 3 pins: 8V power and the two EMS bus pins.
In theory you could split it but you might shortcircuit the devices you connect to it.
The service jack is not designed for multiple devices at the same time, the bus itself is.

2: It's

[2020-10-11 20:48] aHVzY2g commented on #359
Thanks guys, connecting it to the MM100 did the trick. @proddy PowerUser we will see so far I did nothing advanced, except for having so many devices :D.

[2020-10-11 21:00] lsw271 commented on #546
It's too bad. I really need to change this parameter :/

[2020-10-11 21:00] #546 closed

[2020-10-11 21:07] proddy commented on #359
Actually you could do us one favor and help build out our device library. Can you map your devices to what EMS-ESP is showing you? So I think from your setup it looks like

Thermostat CW400 = device id 0x10, product id 158, confirmed ok
Boiler GC9000iW = device id 0x08, product id 208, confirmed ok
MM100 = device id 0x21, product id 160, confirmed ok

MM200 = device id 0x20 or 0x28? product id 161

[2020-10-12 07:29] MichaelDvP commented on #359
@proddy  The mixers are ok, the last picture shows the configuration of MM200 (top) and MM100 (below). MM200 switches shows left 9 (id 0x28) and right 1 (id 0x20), MM100 switch is 2 (id 0x21).

But solar module at 0x2A will make problems.  According to Norberts bible id 0x28 .. 0x2F are warm water circuits. MM can only control wwc1 0x28 and wwc2 0x29, seems the  others are covered by solar moduls.

[2020-10-12 07:46] majdzik84 commented on #550
@MichaelDvP design temperature disappears after each device restart and appears only when I change it. Can you help it?

[2020-10-12 08:20] aHVzY2g commented on #359
@MichaelDvP here you go:
[code]

@proddy did @MichaelDvP already answer your question regarding the identification of some devices?

[2020-10-12 08:28] majdzik84 opened #553 "HA - binary_sensor.heating_active not working"
I'd like to report that binary_sensor.heating_active  unfortunately it does not change the state in HA. Always shows off
![Zrzut ekranu 2020-10-12 102111](https://user-images.githubusercontent.com/31352476/95723170-210ae080-0c75-11eb-9130-79cd835fa582.png)

![image](https://user-images.githubusercontent.com/31352476/95723468-7941e280-0c75-11eb-937d-62c5ef9681f4.png)

[2020-10-12 08:48] proddy commented on #553
I noticed that too and fixed it during the weekend. At least I think I did. Are you on the latest dev build, b7?

[2020-10-12 08:52] proddy commented on #359
@aHVzY2g thanks for testing this out, yes, all looks good. Nice work by Michael. What's left for us is to modify the code as Michael suggested so the solar and mixing circuits don't get mixed up (no pun intended). I'm out all week so @MichaelDvP can you make the change?

[2020-10-12 08:55] majdzik84 commented on #553
Yes, I have the latest version 2.1.0b7

[2020-10-12 08:59] aHVzY2g commented on #359
Is there a more advanced MQTT example? I had a look at https://github.com/proddy/EMS-ESP/blob/main/doc/MQTT.md but trying to set a holiday or mode didn't seem to work. Here are some messages I tried to send.

topic = ems-esp/thermostat_cmd

`{"cmd":mode ,"data":auto, "id":0x10}`
`{"cmd":"mode" ,"data":"night", "id":"hc1"}`
`{"cmd":holiday ,"data":17.11.2020-25.11.2020, "id":0x10}`

[2020-10-12 09:34] giovanne123 opened #554 "Question: additional error messages?"
Does EMS-ESP also fetch telegrams with additional error messages, e.g. UBAErrorMessages1, RCErrorMessages: https://emswiki.thefischer.net/doku.php?id=wiki:ems:telegramme#uebersicht

I ask because currently my MixingModul MM10 does make some trouble (the relay is clicking, maybe elko end of life https://www.heizungsforum.de/threads/mischermodul-mm10-reparatur.9061/page-2 ;-)

**But the main questio

[2020-10-12 09:43] MichaelDvP commented on #359
@aHVzY2g look [here in the wiki](https://emsesp.github.io/docs/#/MQTT?id=receiving-topics)
`{"cmd":"mode", "data":"auto", "hc":1}` or use "id" instead of "hc". The CW400 has only mode "auto"/"manual" iirc.

Also check from terminal `show commands`, for your controller the `holiday` command is not implemented yet (it's only RC35).

Can you also give me the mqtt output in `mixing_data` if you are in

[2020-10-12 11:52] aHVzY2g commented on #359
mixing_data1:
`{"type":"hc","flowTemp":37.3,"flowSetTemp":37,"pumpStatus":"on","valveStatus":85}`
mixing_data2:
`{"type":"hc","flowTemp":39.6,"flowSetTemp":40,"pumpStatus":"off","valveStatus":96}`
mixing_data9:
`{"type":"wwc","wwTemp":63.6,"pumpStatus":"off","tempStatus":0}`

watch on 2A (3min):
[code]

hydraulic scheme:
<img width="953" alt="Bildschirmfoto 2020-10-12 um 13 49 54" src="https://use

[2020-10-12 14:55] MichaelDvP commented on #359
Thanks, you are in mqtt-single mode, can you please also check the nested mode: Go to mqtt-settings, select Forma:Nested, save, than go to system and restart. After a minute you should get mqtt-messages for `mixing_data`. If this is ok, we can close the mixing issues and concentate on the solar.

This realy a new configuration, in the scheme it clear that sm100 controls a tapwater-system, but uncl

[2020-10-12 16:03] MichaelDvP commented on #550
@majdzik84 Yes, i know, it was a workaround until i find a solution that works for every value in the higher telegram regions.
I think i found this solution now. Update and check, please.

[2020-10-12 17:41] aHVzY2g commented on #359
mqtt nested mixing_data:

[code]
solar_data:
[code]

If you mean by no tempreture sensors that there are no sensors in the rooms to get the temperetaure that is true. We forgot to at them during the renovation. We are right now checking what would be an elegant soulution to fix this.
And if you could eleobrate on pump that goes from 0 to 100% that would be awsome, I think you found a malfunction I

[2020-10-12 18:36] majdzik84 commented on #550
Temperature now shows up after restart! good job. Thank you!

[2020-10-12 18:36] #550 closed

[2020-10-12 19:02] aHVzY2g commented on #359
Interesting would be how frequent the pump switches 👀?

[2020-10-12 21:33] hetii commented on #518
@lsw271 Hi, If I may ask where did you connect your circular pump?
I'm not sure if this is right direction but my plan is to add some triacs to esp-ems and control it by esp itself.

[2020-10-13 05:27] inter-faze commented on #518
This had been my thought as well, but @MichaelDvP posted a good configuration and way how to just start the circulationPump via ems.esp. I cannot find it in the Gitter chat. On my configuration this works really well.

[2020-10-13 07:03] MichaelDvP commented on #359
The mqtt looks good, we can close the mixer chapter.
Also the sm200 mqtt is ok, because we get nothing from sm100.

@proddy : Now the question is how to manage the sm100. It's a solar module, but a tap-water station, manage it in solar.ccp but with own mqtt-topic? `warmwater_data`? Or nested/single as solar1, solar2, ... ?

@aHVzY2g: what i meant: The scheme shows the tapwater-station with two pum

[2020-10-13 07:36] MichaelDvP commented on #518
@hetii it's directly connected to the MC10:
![bc10](https://user-images.githubusercontent.com/59284019/95829297-5deadc00-0d36-11eb-8561-50f6d0b72417.png)

But you are free to make your own control. On ems-esp you can control some gpios via mqtt, but some of the cheap wemos-relais have much to little insulation-distance. Be carefull.

[2020-10-13 08:00] MichaelDvP commented on #554
I've tested these messages, 10 and 11 are from boiler, 12 comes from thermostat and communication errors are only recognized by the thermostat.
![term](https://user-images.githubusercontent.com/59284019/95831373-39dcca00-0d39-11eb-91bb-0f3091a4ddcb.png)

These error-logs are not fetched from ems-esp, but in v2.1 you can check them via mqtt: For the first dataset (12 bytes):
"system": `{"cmd":"send

[2020-10-13 08:13] MichaelDvP commented on #548
You can check the tested devices on [bbqkees page](https://bbqkees-electronics.nl/ems-device-compatibility/)
But also if the device is not on the list, it may work if ems compatible (or can added to ems-esp with your help).
For the functionality consult the wikis here and from bbqkees and the documentation of your favorit home automation system.
Also if you miss a setting or a value you can ask he

[2020-10-13 08:22] MichaelDvP commented on #553
I'm not sure and have no HA to test. But the mqtt is `heating_active = on` and the configuration is `"payload_on": "on"` with quotation marks. I didn't find exact information about configuration of binary sensors, but i read that binary sensors will react on on/off, true/false and 1/0, What happen if you skip the `payload_` from config and leave it to HA to interprete the value?

[2020-10-13 08:26] MichaelDvP commented on #549
@majdzik84 I think nofrost is ok and mixing mqtt is also ok now. Have you checked the HA config? If it works, close this issue.

[2020-10-13 08:43] majdzik84 commented on #549
Yes, the values ​​from my mixer showed up. I did not pay attention to them because more entities appeared. Well done. Thank you.

![image](https://user-images.githubusercontent.com/31352476/95837335-ca6ad880-0d40-11eb-9dcb-701f2622cfd8.png)

[2020-10-13 08:43] #549 closed

[2020-10-13 09:08] hetii commented on #518
@MichaelDvP  Thx for information.
I don't have any extra devices beside my junkers, so so far I desing such simple board.
Still in work in progress, but at the end should handle 3 additional devices.
Also as I'm not sure how much current can draw from ems bus or service port I add there own psu.
![esp-ems-new](https://user-images.githubusercontent.com/3405461/95840106-0f443e80-0d44-11eb-8831-d4e56

[2020-10-13 09:59] vampywiz17 opened #555 "Bosch Condens 2500 - what protocol are use?"
Hello there,

If use this boiler with external thermostat (Tado), what protocol are we use?

The Options:

![image](https://user-images.githubusercontent.com/14281430/95846280-8c26e680-0d4b-11eb-9c84-b845304ec277.png)

The official manual say that it EMS, but no detailed info... This issue say that is HT3 (https://github.com/proddy/EMS-ESP/issues/39)

It possible that this boiler use EMS2? Unfortu

[2020-10-13 09:59] bbqkees commented on #548
@hetii If I check the control panel of your boiler it looks exactly the same as of the Condens 5000i. So it will likely work.
The functionality depends a bit on the specific boiler and the thermostat but usually you can read out 30+ parameters of the boiler and f.i. change the thermostat setpoint or change the warm water mode of the boiler.